[2016-04-17 12:23] JonathanBergers opened #2 "Request: polygon"
Nice work Alex.
Thinking about making a polygon component aswel?

[2016-04-17 12:42] alex3165 commented on #2
Hello Jonathan, indeed the plan is to include Polygon and Popup. The final goal is to have all the features of mapbox-gl-js with a different API more react friendly.

[2016-04-18 07:20] JonathanBergers opened #3 "Note: already working mapbox/leaflet implementation for react"
Hi.
I came acros an already working implementation of mapbox in react:
https://github.com/PaulLeCam/react-leaflet

This works with mapbox too, you just need to configure the tile layer for mapbox and you are done..
Maybe use this instead of doing double work ? ^^

[2016-04-18 07:31] alex3165 commented on #3
Yes I know react-leaflet but this project is based on mapbox-gl-js which
render the map in a canvas instead of using the DOM it make the rendering
more efficient because if is using webgl.

On Monday, 18 April 2016, JonathanBergers <notifications@github.com> wrote:

[2016-04-18 07:35] JonathanBergers commented on #3
Ah okay, cool!

[2016-04-18 07:35] #3 closed

[2016-04-18 07:35] #2 closed

[2016-04-22 11:21] arthur31416 opened #4 "Add Navigation component"
Hey, would be great to create a Navigation component.

https://www.mapbox.com/mapbox-gl-js/api/#Navigation

[2016-05-01 19:44] #4 closed

[2016-05-01 19:44] alex3165 opened #8 "Fix fill feature"
The fill feature is not working on all-shapes example

[2016-05-02 19:19] #8 closed

[2016-05-09 14:15] xavcz opened #12 "Popup component not available when installing from NPM"
Hi Alex!

First of all, this binding is awesome!! I'll definitely use it on a project of mine, cheers for building this! 💯

I just noticed that I couldn't import the Popup component => it is not in `node_modules/react-mapbox-gl/src` nor `/dist` folders...

I installed it via `npm install --save react-mapbox-gl` and I'm running on the latest version 0.2.2

[2016-05-09 19:53] alex3165 commented on #12
Hi Xavier,

Indeed the popup component was missing, i have added it and released a version 0.2.3 but i would like to let you know that the popup is not working well for now i am trying to fix a few things concerning this component, you should avoid rely on it for now. A fully working version of the popup with an advanced example using it should come with a version 3.0.0 of the library.

[2016-05-09 19:56] xavcz commented on #12
Ok, thanks for the update and the warning 👍  I'll tell you if I see weird things and succeed in fixing those ;)

Btw, do you know React Storybook? I started to use it, pretty awesome to design UI components! https://github.com/kadirahq/react-storybook

[2016-05-09 19:56] #12 closed

[2016-05-09 21:34] alex3165 commented on #12
I just updated the library to a version 0.3.1, there was no issue with the popup component itself, just a missing mapbox css file in london-cycle example, you can update the library and use the Popup it should be good.

[2016-05-12 09:48] maximelebreton opened #13 "Question: How to trigger manually the mapbox resize() function?"
Hello @alex3165,

Is there a way to trigger the [mapbox resize() function](https://www.mapbox.com/mapbox-gl-js/api/) function?

Thanks!

[2016-05-12 10:57] philpl commented on #13
@maximelebreton The `onStyleLoad={}` prop on map is perfect for this. It'll be called once the map is ready to render, and it received `map` as the first argument. You can store it somewhere and call resize on it.

[2016-05-13 13:25] alex3165 opened #14 "Add image source and video source"
https://www.mapbox.com/mapbox-gl-js/api/#ImageSource
https://www.mapbox.com/mapbox-gl-js/api/#VideoSource

[2016-05-14 12:18] alex3165 opened #16 "Add circle shape"

[2016-05-14 12:21] alex3165 opened #17 "Allow to update paint and layout to the layer"
Update layout and paint using `componentWillReceiveProps`, `setLayoutProperty` and `setPaintProperty`.

[2016-05-14 12:22] alex3165 commented on #13
@maximelebreton Does it solve your problem ? can we close this issue ?

[2016-05-14 15:51] #16 closed

[2016-05-14 17:01] #17 closed

[2016-05-20 01:32] timfpark opened #19 "Question: How to get new map center on onMapEnd event?"
I'm currently catching the onMoveEnd event and would like to then query to see what the new map center is.  Is this possible with the current API?

[2016-05-20 08:23] alex3165 commented on #19
Yes the first argument that you receive in the callback function is the map object, so you can do :

[code]

[2016-05-22 19:05] philpl commented on #13
@alex3165 @maximelebreton I guess this is resolved

[2016-05-22 19:05] #13 closed

[2016-05-22 19:05] #19 closed

[2016-05-22 19:06] philpl commented on #14
Will do this as soon as I can :)

[2016-05-24 22:10] alex3165 opened #20 "Compile mapbox-gl-js using webpack"
Compile mapbox-gl-js at build time instead of using the compiled file from mapbox.

[2016-05-24 22:11] alex3165 commented on #20
https://github.com/mapbox/mapbox-gl-js#using-mapbox-gl-js-with-webpack

[2016-06-10 07:22] charliedotau opened #22 "Configuring source, source-layer and filter propertites"
Hi there,

I can't tell from the examples / documentation if your component supports a tileSet configured like this using the Mapbox GL JS library directly:

    map.addLayer({
            "id": "my-id",
            "type": "fill",
            "source": "myMapboxHostedTileSetSource",
            "source-layer": "victoriaAustralia",
            "layout": {},
            "paint": {
                "

[2016-06-10 08:28] alex3165 commented on #22
Hi Charlie,

Indeed it's not possible to do it right now, the source property of the layer is defined by the id that you pass to the layer react component and used to bind the children elements (feature source) to the parent layer element.

Is your use case to be able to define a layer using a source defined directly in mapbox studio ? Because the react layer logic automatically create a mapbox la

[2016-06-10 08:29] alex3165 commented on #22
For the source-layer and filter properties i can easily add it.

[2016-06-10 11:01] charliedotau commented on #22
Hi @alex3165 thanks for your reply.    Yeah, I have a core TileSet I've uploaded to Mapbox.  I reference it  by adding a source like this:

    map.addSource('myMapboxHostedTileSetSource', {
        type: 'vector',
        url: 'mapbox://charlie.4fsn42ds'
    });

Then once I have my source I add a number of fill layers for different areas on the map.  I will have a look at defining my source via

[2016-06-10 14:36] alex3165 commented on #22
Ok i did the modifications so that it works for this use case without breaking the actual API, can you try the following example using the branch `feature/layer-without-source` of the github repository (to test it).

If it's good i will merge and release a new npm version.

[code]

Ps: You can target the branch of the Github repository using :
[code]
in your package.json file

[2016-06-15 06:52] charliedotau commented on #22
Hi @alex3165.   Thanks. Very much appreciated.

I would say that I'll test it tonight, but I'm a bit stuck.  I don't quite get how I define my source.  E.g the equivalent of this:

    map.addSource('myMapboxHostedTileSetSource', {
        type: 'vector',
        url: 'mapbox://charlie.4fsn42ds'
    });

The bit that most matters here is the URL.   And I don't see where / how I define that with yo

[2016-06-15 09:07] fc-io commented on #22
The way I did it was to add the source in `onStyleLoad`

[code]

maybe something similar would work for you. And/or maybe there is a better way...

[2016-06-15 12:24] charliedotau commented on #22
No luck for me.    I'm just editing the all-shapes.js file in my local copy of this repo.

My _onStyleLoad function in the allShapes class looks like this

    _onStyleLoad(map) {
        console.log("Style loaded: ", map);
        map.addSource('charlieSource',
            {
                type: 'vector',
                url: 'mapbox://charlie.ZZZZZZZZ'
            });
     }

My render function

[2016-06-15 19:20] alex3165 commented on #22
I think it's not necessary to use react-mapbox-gl for this kind of source / layer. If you don't need to interact with it (if it's just a static source like the tiles) you should define it in the map style :

1/

[code]

However if your style is an url you should define your source directly in mapbox studio, giving this url and the token, mapbox-gl-js automatically download your style and will appl

[2016-06-15 20:02] alex3165 commented on #22
You can look at this commit https://github.com/alex3165/react-mapbox-gl/commit/c344690a2761f9d286d4355e22f38830dad86e89 i have added an example of how to use a source from the style object which is the file `style.json`

[2016-06-15 21:03] alex3165 commented on #22
The branch is merged on master, you can test everything directly from master

[2016-06-16 06:24] charliedotau commented on #22
Happy to report the second option - adding a source explicitly in the OnStyleLoad event - works nicely on master branch.  So thanks very much to @alex3165 and @fc-io.

I'm struggling with the first option though Alex. I.e where you suggest defining the source on the layer itself.   To be clear, I've uploaded geoJSON to Mapbox which creates a vector Tileset for me.   Those tillesets can be referenc

[2016-06-16 20:11] alex3165 commented on #22
Ok well i would suggest you to have multiple geojson files for every sub-regions of Victoria, I have just added the possibility to update the style property of the map, i would do something like this :

[code]

React-mapbox-gl API of the layer functionality is more adapted for creating layers and sources that require user interactions.

[2016-06-21 20:10] #22 closed

[2016-06-23 02:10] PawkaHub opened #28 "Adding Markers to map"
How would I go about adding markers to the map as described here? (https://www.mapbox.com/help/markers/) So far I can only see a way to add symbols, fills, circles, and lines. Is this functionality not included yet or am I just missing something?

[2016-06-23 08:40] alex3165 commented on #28
Hi @PawkaHub, first you sent a link to mapbox js which display a map using leaflet, react-mapbox-gl is using mapbox-gl-js which is based on webgl to render the map.

The equivalent for mapbox-gl-js would be this : https://www.mapbox.com/mapbox-gl-style-spec/#layers-symbol.

Which mean if you want to create a marker using react-mapbox-gl, you should do something like this :
[code]

You can check th

[2016-06-23 16:43] PawkaHub commented on #28
Okay gotcha, the difference between the two must have got me confused. Thanks for the help, feel free to close this off!

[2016-06-23 18:23] alex3165 commented on #28
Ok no problem ! :)

[2016-06-23 18:23] #28 closed

[2016-06-27 12:24] daviestar opened #30 "Gulp: Cannot find module from /dist using browserify"
Hey, trying to get 'hello world' from this package with gulp/browserify.  Facing 100s of errors like:

[code]

index.js:
[code]
gulp task:
[code]

[2016-06-29 12:23] daviestar opened #31 "Popups don't respond to content changes"
Hello, been using this binding for a few days now and have to say, it's fantastic!!!! I have ~50,000 points/polylines displayed and performance is excellent, especially compared to the alternative. 👍

I have a few basic click-handlers inside popup content which toggle classes (tabs).  I've found changes within popup content do try to trigger a re-render ([`componentWillReceiveProps`](https://githu

[2016-06-29 12:31] alex3165 commented on #30
Hello @daviestar Sorry for the late reply, to be honest i have never tried to use react-mapbox-gl with browserify, i will investigate on it as soon as possible if you still have the issue. It can be because i am using the compiled version of mapbox-gl-js, but using the source files would not work with webpack.

[2016-06-29 12:32] alex3165 commented on #31
Hello, thank you, can you open a PR ?

[2016-06-29 12:41] daviestar commented on #30
@alex3165 after i posted this issue i discovered why you'd done it that way for webpack.  i've just copied your `src` directory into my project and removed `/dist` from the imports and it works great.

almost everyone using react seems to use webpack, but it might be worth mentioning in the docs.

[2016-06-29 12:42] daviestar commented on #31
sure, although not sure when as I'm snowed under at the moment. cheers, dave

[2016-06-30 12:02] primozs opened #32 "Map container resize"
How to handle map resize on container size change?
MapBoxMap has "trackResize" option but works only on window resize not on container resize.
Also calling map.resize() on container resize, it does not look really smooth.
Anyone has any ideas how to workaround this?
Cheers

[2016-06-30 12:26] primozs commented on #32
Its actually not so bad.
[code]

[2016-06-30 12:26] #32 closed

[2016-07-01 00:13] timfpark opened #33 "Question: Is there a way to render text on the map?"
I need to draw some mileage markers on the map for a set of lines that I am drawing.  Is there any way to do that using a text overlay on map?

Failing that, it looks like I need to use mapbox studio in order to build icons for all of the mileage markers that I will need (roughly 100-150) - is that right?

PS.  Thanks so much for this library - it works great and has been a lifesaver!

[2016-07-02 01:21] huaruiwu opened #34 "changing zoom not working"
After scroll zooming, going back to the initial zoom set in the prop does not work because of the following.

https://github.com/alex3165/react-mapbox-gl/blob/master/src/map.js#L196

Since the zoom prop does not change with scrolling it cannot go back to the original zoom level. Am I missing something here?

[2016-07-02 07:30] alex3165 commented on #34
Hi @huaruiwu it is an expected behaviour otherwise the zoom would go to the initial props as soon as you re-render the component. Why do you want to go back to your initial zoom ? If you have a "zoom to default" button an hacky solution would be to slightly change the value of the zoom, for example `12.001` instead of `12`.

[2016-07-02 07:45] alex3165 commented on #33
Hi @timfpark have you tried something like this ?
[code]

In case you don't want the image, you can maybe define a transparent symbol on Mapbox studio.
You might have a problem if you display 100 - 150 different layers, you will probably have some perf issues though ...
Let me know if this works anyway.

Thanks for your support 👍

[2016-07-02 17:22] huaruiwu commented on #34
Hi @alex3165. I have for example, two locations. Each location has a center and zoom. Then I have a "Go To Location" button, which works on the center change but not zoom. Since they may have the same zoom number.

[2016-07-04 11:47] daviestar opened #35 "Layer ordering"
Hey again,

Do you have a suggested approach to ensure layers are always ordered correctly on z axis?

Here is a paste of my messy map JSX:

[code]
Have a look at the `key` attribute on my layers.  This approach is the only way I found to ensure the layers are ordered as they appear in the JSX.  Without the sequential indexes (I tried arbitrary high numbers like 9999 without success), the layer or

[2016-07-04 12:26] philpl commented on #35
This is how react fundamentally works. The key ensures an order and identification for each child element of a React component. We could add sth else that overrides this behavior, but that would just be a redundancy ;)

[2016-07-04 12:28] philpl commented on #35
Follow up actually, we can make use of the key actively and pass the elements to mapbox gl in a stable order, but I'm not sure if that adds a lot of value. Can you elaborate on the purpose here a bit?

[2016-07-04 13:05] daviestar commented on #35
Sure,

I have routes which are styled based on transport type - different colours, and flights have an arc. Since styling happens at the Layer level, I've made an array of layer types under `journeys` with their own 'paint' and 'layout' objects along with a LineString.

Then I have locations which are waypoints along these polylines, and need to sit on top or else they are obscured.

If you can su

[2016-07-04 13:17] rlski commented on #30
Actually I've been using gulp and browerify for a lot of react projects until recently. If I have time i'll try to clarify the problem with browserify and make a PR for the gulp setup.

[2016-07-04 20:46] daviestar commented on #35
This is my first React project, so I'm no expert, but something that's related is it's not obvious how to go about splitting the map layers into different components.  For example it felt natural in this scenario to create a new component for Map, `Journey` Layers, and `Location` Layers.  Using JSX and regular HTML, I could render several items wrapped in a `<div>`, but I couldn't think of an alte

[2016-07-05 21:28] alex3165 commented on #34
Well i tested it more and you are right, it's working for the center because it is checking for the reference equality and as zoom is a number it only check for the value equality so set the variable again in the main component won't be detected, the only possible workaround i see is to wrap the zoom value into an array. I will fix it and a breaking change note to the readme.

[2016-07-05 21:38] huaruiwu commented on #34
I noticed that too. Another thing is that it is also comparing array to object. Mapbox center is an object but the react Mapbox gl component uses array as center.

[2016-07-06 20:03] alex3165 commented on #34
I fixed the issue, you now have to pass an array to zoom

[2016-07-06 20:03] #34 closed

[2016-07-07 19:32] timfpark commented on #33
That works great - thank you!

[2016-07-07 19:32] #33 closed

[2016-07-08 03:16] infacq commented on #31
+1

[2016-07-08 11:00] daviestar opened #36 "Feature onClick handler fires multiple times"
Hey again,

A mapbox [`click` event handler](https://github.com/alex3165/react-mapbox-gl/blob/master/src/layer.js#L157) is added to the map for each Layer in the map component, which results in the event getting fired as many times as you have Layer components.

Also [here](https://github.com/alex3165/react-mapbox-gl/blob/master/src/layer.js#L88-L98), the same Feature onClick handlers are fired fo

[2016-07-08 15:25] daviestar commented on #36
Ok, here's how I got the Feature onClick handler to only fire once, and only pickup the top-most feature you clicked on.  This is super messy and just a mad rush to get it working with no thought given to much else :)

I had to give all my layers sequential IDs in the JSX, I used format `100m-layer-n`.  And I removed [this line](https://github.com/alex3165/react-mapbox-gl/blob/master/src/layer.js#

[2016-08-04 16:00] alex3165 commented on #36
Hi @daviestar I have checked your issue but :

- I think that having a click event handler on every layer is not the best but it doesn't seems wrong neither to me. We can avoid attaching event handlers to the map for every layer if in the handler of the map component we trigger the `onclick` method of the children layer component, would it be a solution for you ?

- "Also here, the same Feature on

[2016-08-04 16:26] alex3165 commented on #31
Fixed and published with a new version 0.9.0.
https://github.com/alex3165/react-mapbox-gl/releases/tag/v0.9.0

[2016-08-04 16:26] #31 closed

[2016-08-04 16:41] alex3165 commented on #35
Hi @daviestar,

I have added support for the before property when adding a layer to the map. https://github.com/alex3165/react-mapbox-gl/commit/f4917fa7cd06374f6f7bc862f3455d8f3487095e

This should solve your problem of ordering the layers, you have to specify the id of another layer (it imply to generate the id yourself and pass through the props) and the layer will be displayed just  before the

[2016-08-04 16:42] #35 closed

[2016-08-04 16:44] alex3165 commented on #30
If anyone is interested to work on it, it would be appreciated, i am not really used to browserify but otherwise i can try something 👍 .

[2016-08-09 09:30] daviestar commented on #35
Great, that seems like a really nice and simple solution - I have been thinking how I would fix it and had only come up with much more complicated approaches!

[2016-08-09 10:04] daviestar commented on #36
Hi @alex3165, thanks for your response.

Yes, that sounds like the solution to me.. this is more or less what I have done, but I'm sure with your knowledge of React you can do it in only a couple of lines! 👍

Please have a look at my prototype project for a real-world example [here](http://100m.dstar.me/trip/S68XSxER).  I have 2 different click handlers - one for locations (circles), and one for j

[2016-08-10 21:35] prebenl commented on #20
The precompiled file caused issues for me running a universal app (was complaining window not being available on server side).

I simply cloned the repo and switched the imports to "mapbox-gl", and now it works just fine. (I already had the necessary webpack config in place).

[2016-08-12 05:06] alex3165 commented on #20
Hi @prebenl, thanks for reporting this issue, i haven't really spend lot of time on this as it was just a warning but i didn't know that the pre-compiled version is failing when doing a server side rendering of the component.

I will have a look as soon as possible.

[2016-08-12 05:07] alex3165 commented on #20
https://github.com/alex3165/react-mapbox-gl/pull/25/files

[2016-08-12 05:34] prebenl commented on #20
As to the exact why, I don't know either, but I think somewhere in the "mapbox-gl" library there is some kind of dynamic switching, allowing the "gl" library (also known as headless gl), to take over when you're on an environment where window / web-gl is not available (i.e. server).

[2016-08-21 10:02] Harrisonl opened #39 "Uncaught TypeError: Cannot read property '0' of undefined"
No matter what I do, I can not get the map to actually render. The box itself renders, but is empty and this error `mapbox-gl.js?31ef:295 Uncaught TypeError: Cannot read property '0' of undefined` appears every time i move my mouse around where the map should be. The cursor changes, so the map box is there, just empty. Below is the component that renders it:

[code]

[2016-08-21 15:24] alex3165 commented on #39
Hi @Harrisonl, can you send a link to a jsfiddle or to your project so that i can test it ? i can't reproduce it using the examples.

[2016-08-21 15:29] alex3165 opened #40 "Convert the project to typescript"
Create and publish a type definition file for react-mapbox-gl.

https://github.com/DefinitelyTyped/DefinitelyTyped

[2016-08-21 23:25] Harrisonl commented on #39
@alex3165 it's a company project so most likely not sorry. I can probably add in the webpack and package.json file though if that helps?

[code]

[code]

On a side, is there any other dependencies I need to get this working? I reduced the london example to pretty much the exact same lines of code and replicated the webpack file from the example and it works there. I can't figure out what the diffe

[2016-08-22 08:26] Harrisonl commented on #39
[code]

[code]

[2016-08-24 20:26] lkazberova commented on #39
Hi @Harrisonl ! Try to set pitch={0} in your map's definition. It helps me :)

[2016-08-24 20:55] alex3165 commented on #39
That is surprising because the pitch props already have `0` as a default, but if it solve the issue, it can be a temporary work around.

[2016-08-24 21:04] lkazberova commented on #39
@alex3165  I'm sorry but version (0.9.2) from npm doesn't have default pitch value.
<img width="351" alt="9" src="https://cloud.githubusercontent.com/assets/13050551/17947903/b1b88d42-6a5f-11e6-87ac-8535458a6780.png">

[2016-08-24 21:09] alex3165 commented on #39
Ups i will push a new version thanks 👍

[2016-08-24 21:13] alex3165 commented on #39
Should be fixed with the version 0.9.3 :)

[2016-08-24 22:28] Harrisonl commented on #39
oh right. thanks @alex3165 & @lkazberova  - I'll have a look when I get home tonight.

[2016-08-25 08:36] Harrisonl commented on #39
Worked perfectly. Thanks guys.

[2016-08-25 08:36] #39 closed

[2016-08-30 00:31] maxwell-oroark opened #41 "Example of GeoJSONSource"
I am having a hard time following your API documentation with regard to drawing polygon features from a geoJSON source.

In your London (multiple markers) example, you seem to store the entire array of markers and their coordinates on state.  Would you recommend this when you have tens of thousands of complex polygons?  What would be your solution to drawing many polygons from a geoJSON source?  T

[2016-08-30 11:00] DominikLevitsky commented on #20
Hey, any updates on this? Would be really cool to have this fixed.

[2016-08-30 11:01] buildbreakdo commented on #20
react-mapbox-gl references https://github.com/mapbox/mapbox-gl-js/blob/master/js/util/browser/browser.js when I believe it should reference https://github.com/mapbox/mapbox-gl-js/blob/master/js/util/browser.js?

[2016-08-30 19:51] alex3165 commented on #20
@DominikLevitsky Currently on it @philpl is helping on this 👍

[2016-09-01 14:43] DominikLevitsky commented on #20
@alex3165 Hi. Any chances for us to get an update in the next couple of days? :)

[2016-09-01 21:51] alex3165 commented on #20
@DominikLevitsky I will give you an update by the end of the week-end and hopefully come up with a solution :)

[2016-09-02 10:10] #20 closed

[2016-09-02 12:50] alex3165 commented on #20
So now mapbox-gl-js is compiled using Webpack see https://github.com/alex3165/react-mapbox-gl/pull/43. I think it will still not be possible to render on the server side though because the library is using web worker for some operation and this won't work in a nodejs environment.

[2016-09-02 13:06] philpl commented on #20
It's very hard to determine how to "make the switch" to the mocked browser of mapbox-gl. I think technically it's not hard to switch it around, but it's hard to determine, whether React is being rendered in a server-side context. If someone has input on that, I'd appreciate it

[2016-09-07 20:24] philpl commented on #41
My PR #44 should add the functionality you need. The problem is, React Mapbox GL actually generates GeoJSON for the features that are being rendered. If you did want to use it with your own GeoJSON, you either had to manually manage the source and add the sourceId to a layer ( :cry: ) or parse the GeoJSON and convert them into features... which are then converted back into GeoJSON :sob:

So in #44

[2016-09-07 20:24] #41 closed

[2016-09-07 20:26] philpl commented on #14
Little complication: These should maybe be converted into Layers, but what if there are a lot of videos to be added? Do we have to combine these layers? Or do we have to integrate sources and layers separately? That would make this library a lot more complicated...

So probably just simple `Video` and `Image` components that are picked up by the map component and combined into a single layer?

[2016-09-08 08:43] alex3165 commented on #41
I have added some documentations for the geojson layer and released it with the version 0.11.0 of the library.

[2016-09-22 18:45] AlexLourenco opened #45 "Custom components as markers"
Hello,

According to the following, https://www.mapbox.com/blog/custom-markers-mapboxgl/, it is now possible to render html markup as a marker.
Are there any plans on implementing this? I am currently hacking my way through; trying to implement is as another Feature component.

Thanks!

[2016-09-22 21:47] alex3165 commented on #45
Oh neat I haven't followed I will have a look this week-end but it's definitely something that should be implemented.

[2016-09-23 17:05] AlexLourenco commented on #45
I was able to get a sample to work. An issue that I am having is that when we give the DOM element to Mapbox, it will re-allocate it and wrap it in another div with its respective absolute positioning.
The problem with this is that the view of the virtual DOM is now incorrect so if we add/remove a new marker, React will attempt to clear the previous children which are not longer where they are exp

[2016-09-26 23:12] jnorris441 opened #46 "Mobile browsers crashing after a few map loads"
I don't know if this has to do with garbage collection or running out of Web GL contexts...it seems if you load and kill 3 map instances, your page will crash mobile Safari. iOS 10.

[2016-09-26 23:17] jnorris441 commented on #46
I tried it on an Android phone with Chrome. I made it to 6 map loads before it crashed

[2016-09-27 00:26] jnorris441 commented on #46
I tried calling map.remove() in componentWillUnmount, that didn't work out

[2016-09-27 12:40] alex3165 commented on #46
Have you tried to reproduce it using mapbox-gl-js directly without react-mapbox-gl ? Thanks for reporting it 👍

[2016-09-27 12:45] philpl commented on #46
It might be related to the missing remove. I think you're right there. I'll open a PR

[2016-09-27 13:01] philpl commented on #46
@jnorris441 @alex3165 My PR #47 adds the missing map removal that removes the WebWorkers and allows itself to be GC'ed. You couldn't just call `map.remove()`, since that would be executed before any underlying children are unmounted. Thus we need to defer the removal for that to work.

@jnorris441 Can you test whether the problem persists or not with that branch?

[2016-09-27 13:06] philpl commented on #45
@AlexLourenco The marker seems easy enough to implement, as long as we pass it a DOM element I think. It looks similar to how the popups work. Do you think it's possible to copy the popup implementation and adapt it?

https://github.com/alex3165/react-mapbox-gl/blob/master/src/popup.js

[2016-09-27 13:07] philpl commented on #30
This should be fixed with the PR #43.

Please open a new issue if any problems persist. Cheers

[2016-09-27 13:07] #30 closed

[2016-09-27 16:29] AlexLourenco commented on #45
Hey @philpl,

Unless I am missing something obvious, we need to perform the calls from react-mapbox-gl side due to the following:

https://github.com/mapbox/mapbox-gl-js/blob/335a0208e3293d910cf558dac0a9d129b50ab995/js/ui/marker.js#L43#L45#L70

As far as I know, if something manipulates the DOM (in terms of moving/removing nodes) outside reacts scope, exceptions will be thrown (the virtual DOM ref

[2016-09-27 17:51] jnorris441 commented on #46
@alex3165 I haven't repro'd it directly yet

@philpl thanks for replying so quickly. That fix did not work for me, I still get the crash.

[2016-09-27 18:48] jnorris441 commented on #46
I opened an issue with mapbox gl https://github.com/mapbox/mapbox-gl-js/issues/3261

[2016-09-27 19:03] #46 closed

[2016-09-27 19:04] philpl commented on #46
@jnorris441 Thanks a lot ;)

[2016-09-28 16:35] appjitsu opened #48 "Mapbox Directions API"
What is the recommended way to use the the Mapbox Directions API with this project?

Would this work: https://www.mapbox.com/blog/mapbox-gl-directions/

`map.addControl(new mapboxgl.Directions());`

[2016-10-02 07:02] appjitsu commented on #48
I figured it out finally. Hopefully this helps someone else.

Here is what I did:

import Mapbox from 'mapbox'
import { MAPBOX_TOKEN }  from '../../config'
let mapbox = new Mapbox(MAPBOX_TOKEN)

let self =  this

mapbox.getDirections([
    start,
    end
  ], {
    profile: 'mapbox.driving',
    instructions: 'html',
    alternatives: false,
    geometry: 'geojson'
}).then(function(results) {
  le

[2016-10-02 16:15] joshwcomeau commented on #45
Hi @AlexLourenco

I need custom markers for a project I'm working on, and it's OK in my case if they're static (no updates needed).

Is your fork of the project currently working for this purpose? If so, I'd like to use it as a stop-gap until this feature is officially implemented.

(Also, @alex3165, loving these bindings. Much better than the other implementations I've seen :) )

[2016-10-05 22:26] alex3165 commented on #45
I have added a Marker component, you can now use the custom marker feature of mapbox-gl-js. I haven't tested it in deep so I will be available the next days to fix any issue you would encounter.

The feature is available with the version 0.14.0 of react-mapbox-gl

[2016-10-05 22:27] alex3165 opened #50 "Add setPopup support to Marker"
https://www.mapbox.com/mapbox-gl-js/api/#Marker#setPopup

[2016-10-05 22:27] alex3165 commented on #45
Also there is no support for the attach popup feature for now I will work on it asap https://github.com/alex3165/react-mapbox-gl/issues/50

[2016-10-05 22:38] alex3165 commented on #48
The Mapbox direction API is not something related to mapbox-gl-js but thank you for the solution 👍

[2016-10-05 22:38] #48 closed

[2016-10-06 19:54] aziz-boudi4 opened #52 "The examples are not working ?"
1- After following all the steps in the readme file, I tried to run the examples and I got this error :

		        `throw new WebpackOptionsValidationError(webpackOptionsValidationErrors);
		        ^
        WebpackOptionsValidationError: Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
         - configuration.resolve.ext

[2016-10-06 22:36] alex3165 commented on #52
Yes apparently it is failing with a version greater than beta.21, I have updated the package .json to only use the .21 version of webpack https://github.com/alex3165/react-mapbox-gl/commit/4542935dcac896af6c116c81754cab1a3de211ff I will try to figure out what is happening with the next versions

[2016-10-06 22:37] alex3165 commented on #52
Thank you for the issue 👍

[2016-10-07 08:40] alex3165 opened #53 "Update Mapbox-gl-js"
Update mapbox-gl-js to version 0.25

[2016-10-07 22:30] philpl commented on #52
The latest version of webpack 2 is actually for the first time validating the config files. I will update them accordingly this weekend. 🙌

[2016-10-07 22:31] philpl commented on #53
Can fix it this weekend together with #52

[2016-10-07 22:39] alex3165 commented on #53
Ok but apparently with the version 0.25 we should directly use the bundled file of the library so there is no point to do it ourselves anymore.

[2016-10-09 10:48] #45 closed

[2016-10-09 18:06] nrako commented on #53
Hey, so yes now from version `0.25.0` Mapbox recommend to use the bundled file directly.

Trying to bundle the mapbox source with webpack will throw:
[code]

So basically`import MapboxGl from "mapbox-gl/dist/mapbox-gl.js";`. Which works fine when the app was bundled with webpack.

However bundling an app using this package with browserify created an error because `dist/mapbox-gl.js` was parsed (i.

[2016-10-09 20:25] nrako commented on #53
For reference here's my branch, couple of commits can be used as a starting point:
https://github.com/nrako/react-mapbox-gl/commits/update-mapbox-gl

[2016-10-13 15:10] MaxwellRebo opened #55 "Isomorphic (server side): window is not defined"
Using webpack and starting up in development mode (local), doing
[code]

like from the GeoJSON example leads to the error:

[code]

Tried a few ways to make it work, but then ended up not loading at all on the client. Is there a workaround to this?

[2016-10-13 17:05] primozs commented on #55
Because map dependencies are big I think its best to load map component on demand with all dependent code in its one chunk. Side effect is that then you don't have the problem with server side rendering because it does not happen there.

This is great article and a recipe how to make this kind of wrapping component.
https://medium.com/@lavrton/progressive-loading-for-modern-web-applications-via-co

[2016-10-15 08:58] alex3165 commented on #55
@MaxwellRebo The problem come from mapbox-gl-js itself, maybe it will be solved once we will update this library with the latest version of mapbox-gl-js v0.25 see : https://github.com/alex3165/react-mapbox-gl/issues/53

[2016-10-15 09:27] MaxwellRebo commented on #55
Thanks for the reply. I'll look into that direction.

[2016-10-23 15:53] alex3165 commented on #53
@nrako Thank you for your work, I have updated mapbox-gl and released it, you can use react-mapbox-gl v0.15 to use the latest version of mapbox-gl.

[2016-10-23 15:55] #53 closed

[2016-10-25 07:54] MaxwellRebo commented on #55
I resolved this using a higher-order component (wrapper) with conditional importing.

[2016-10-25 08:14] alex3165 commented on #55
@MaxwellRebo Have you tried with the new version I released 2 days ago ? https://github.com/alex3165/react-mapbox-gl/releases/tag/v0.15.0 I have updated mapbox-gl.

[2016-10-25 13:11] #52 closed

[2016-10-28 20:03] giraldeau opened #56 "Babel failed with unexpected token"
Babel bails on export token:

[code]

Any idea why it complains? Thanks!

[2016-10-30 04:46] Altiano commented on #14
should behave like `GeoJSONSource`

[2016-10-30 13:01] Altiano opened #57 "Why zoom property is in array? Disabling Moving Method?"
1. I think zoom property should be just primitive float, I don't see any reason to put it in array as it also different from Mapbox GL API

2. How to disable zoom method? I don't want to use any moving method.

[2016-10-30 13:13] alex3165 commented on #57
Yes I know it is an array on purpose, it was a Float before but in order to check for a reference equality on the map component it is required to pass it through an array :
[code]

In this case if `this.props.zoom` is `[4]` and `nextProps.zoom` is a new array with a Float 4 inside it will break the equality because it does a reference check but it won't in case it is an Float.

If you have a good

[2016-10-30 13:18] Altiano commented on #57
Maybe I'm not really understand what you're trying to say but as far as I know, if you're just want to comparing it, just use `==` (i.e. don't use strict equality `===`)

[2016-10-30 20:53] alex3165 commented on #56
Thanks for reporting the issue, it is now fixed 👍

[2016-10-30 20:53] #56 closed

[2016-10-30 21:00] alex3165 commented on #57
Even with a `!=` it doesn't break the reference equality as if I pass an array because Int, String and Float are primitive types.

[2016-10-30 22:07] philpl commented on #57
@Altiano We chose to change this back in version 0.8. It was a quick and easy fix to make sure that the zoom style was updated reliably, every time it's actually changed. Otherwise when the zoom level stays constant the styles are not updated.

The point is, we can't tell whether the zoom has changed, when the number itself has the same value. We can work around this in an easy way like this, by w

[2016-10-30 22:07] #57 closed

[2016-10-30 22:10] philpl commented on #55
Closing due to inactivity

[2016-10-30 22:10] #55 closed

[2016-10-30 22:21] alex3165 opened #58 "Add unit test"
@philpl Should we mock `mapbox-gl` in order to only test the `react-mapbox-gl` layer so that we don't have to worry about rendering the map on the server side ?

[2016-10-30 22:24] philpl commented on #36
I don't think this is more sensible, give or take. I don't believe we wanted to introduce z-indices to the Layers, since that would add some complexity, that is really not necessary.

For overlaying features, it is a good idea to just deduplicate the data before rendering, and not after the events trigger.

We never intended the Map's onClick handler to be used in a preprocessed way. It should onl

[2016-10-30 22:24] #36 closed

[2016-10-30 22:31] philpl commented on #58
Probably. That might be a lot of work though. Maybe we should resort to testing `Layer` and the other sub-components using mocks, and the map itself using a very minimal functional test?

[2016-10-31 07:01] Altiano opened #59 "Missing offset property on Popup"
I think `Popup` class is missing `offset` property. It doesn't work when I put that a value.

[2016-10-31 08:13] alex3165 commented on #58
Ok yes sounds good, most of the logic is on the Layer anyway. What about the `Popup` and the `Marker` ? they use `mapbox-gl` as well

[2016-10-31 12:39] giraldeau commented on #56
I confirm that it works great. Thanks!

[2016-10-31 13:43] Altiano opened #60 "Popup can only have one child?"
Is `Popup` can only one child intentional?

below code will result an error
[code]

to fix this I need to wrap the children in a div
[code]

[2016-10-31 15:44] alex3165 commented on #60
Yes indeed, Is it worth supporting multi children elements ?

[2016-10-31 17:10] alex3165 commented on #60
I will have a look it should be straightforward 👍

[2016-11-01 15:33] kmamykin opened #61 "Popup implementation uses ReactDOM.render for children, loosing Context"
The popup component I am implementing requires access to React context objects, and therefore must be rendered as children of the component that provides the context. The Popup component uses ReactDOM.render to render children into a div outside of the app hierarchy, and the popup children receive no context.

Is there a way to may be use [MapboxGL.Popup.setDOMContent](https://www.mapbox.com/mapbo

[2016-11-01 15:49] philpl commented on #61
There is no direct way to solve it and we chose the easy way out.

React with its refs doesn't work since the Virtual DOM has to take all ownership of the node. We can't attach it somewhere else and just hope for the best, unfortunately.

There might be smarter solutions, where we mock the DOM api to get around this limitation.

[2016-11-01 16:16] ufon commented on #59
[code]

it was helped me

[2016-11-01 16:27] kmamykin commented on #61
Shit.

I think the solution may be to re-implement [mapbox's popup](https://github.com/mapbox/mapbox-gl-js/blob/master/js/ui/popup.js) functionality in pure React. It looks like the popup is reacting to map's 'move' event, then projects popup's latlng on the map, and calculates the offset/position and transforms.

[2016-11-01 23:50] philpl commented on #61
@kmamykin Good point! Getting rid of what's broken, instead of fixing it ;)

[2016-11-02 09:03] Altiano opened #62 "Can't test onClick when ReactMapboxGl is wrapped inside a element"
I have a component that wrapped `ReactMapboxGl` inside a `div` with `onClick` prop
[code]
My testing framework is Mocha with enzyme and expect.
The onClick function is just going to do a simple setState `stateA`

If I were to run the test:
[code]
this code would fail but if `ReactMapboxGl` was not wrapped inside a `div`, the code would success
I think this is possibly a bug or something

[2016-11-02 09:43] philpl commented on #62
Can you try to target the `canvas` element inside the `ReactMapboxGl` component? That should work.

[2016-11-03 02:16] Altiano commented on #62
I'm not sure how to do this.
What I done:
[code]

[2016-11-04 08:25] alex3165 commented on #59
@Altiano version `0.16.1` integrate the popup offset.

[2016-11-04 08:25] #59 closed

[2016-11-04 08:36] alex3165 commented on #60
@Altiano I have checked and there is no point on supporting multi children in the Popup. The signature of the render method is `ReactDOM.render(reactElement, domContainerNode)` it doesn't allow rendering of an array of ReactElement. I could wrap the children into a component and render this top level component but i think it is not an expected behaviour.

[2016-11-04 08:36] #60 closed

[2016-11-06 11:26] Altiano commented on #60
how about `React.Children.toArray(children)` from the docs `https://facebook.github.io/react/docs/react-api.html#react.children.toarray` ?

[2016-11-06 11:53] alex3165 commented on #60
Hum I am not too sure this would solve the issue. If you have a good idea of how to do it, I am happy to review and eventually merge a PR for this. 👍

[2016-11-14 08:21] alex3165 opened #66 "Update to mapbox-gl 0.27"
Several improvements have been made on mapbox-gl 0.27. https://github.com/mapbox/mapbox-gl-js/releases/tag/v0.27.0

[2016-11-14 14:23] #66 closed

[2016-11-14 15:50] AbrahamArun opened #67 "Master is broken"
On `npm install`, I get the below error.

<img width="542" alt="screen shot 2016-11-14 at 9 26 52 pm" src="https://cloud.githubusercontent.com/assets/5391059/20271212/1205bb80-aab0-11e6-9703-0d37f71080a0.png">

[2016-11-14 16:22] philpl commented on #67
We've just updated the library to use Mapbox GL JS 0.27, which was released 3 days ago.
Please make sure that your cache / proxy / etc is up to date. ;)

- https://github.com/mapbox/mapbox-gl-js/releases/tag/v0.27.0
- https://www.npmjs.com/package/mapbox-gl

[2016-11-14 16:22] #67 closed

[2016-11-14 17:54] AbrahamArun opened #68 "Example's webpack dependencies are out of date"
**Installation of deps:** `cd/example && npm install`

<img width="867" alt="screen shot 2016-11-14 at 11 28 46 pm" src="https://cloud.githubusercontent.com/assets/5391059/20276132/0aa66e82-aac1-11e6-8736-5a24644ea6fb.png">

**And on running `npm run start`**

<img width="909" alt="screen shot 2016-11-14 at 11 29 29 pm" src="https://cloud.githubusercontent.com/assets/5391059/20276160/2780a108-aac1

[2016-11-14 21:50] philpl commented on #68
Try installing a newer version of webpack, that is at least version `2.1.0-beta.26`, since that's the peer dependency that the `webpack-dev-server` seems to need.

It might be necessary for us to update some dependencies and configs there, @alex3165.

[2016-11-17 17:49] alex3165 commented on #68
Fixed with this commit : https://github.com/alex3165/react-mapbox-gl/commit/63d5a0c5f4fe8a22e7587cbd9a91923a4621dfcb

[2016-11-17 17:49] #68 closed

[2016-11-19 04:57] Altiano opened #69 "Recommended way to accessing mapbox API based on Redux state change?"
My map responds to input that filter the layer. So for example when user type `foo` on another component, only features that have property bar with value foo will be shown.

Right now, to achieve that, I use `componentWillReceiveProps` for making the update after assigning `this.map` to `map` from `onStyleLoad`.

The code for `componentWillReceiveProps`:

    componentWillReceiveProps = (nextProps

[2016-11-21 17:10] alex3165 commented on #69
Hey @Altiano , thanks for reporting this issue. I think it can be handled nicely by the layer component, I have done some changes to the layer so that you can do something like this :
[code]
Can you use this branch on your project and tell me if this solve your problem nicely ? https://github.com/alex3165/react-mapbox-gl/tree/feature/layer-filter.

[2016-11-21 17:57] alex3165 commented on #58
https://github.com/alex3165/react-mapbox-gl/pull/71 wip

[2016-11-22 23:57] kmamykin commented on #61
I am working on it.

[2016-11-23 03:35] Altiano commented on #69
Sorry, I forgot to mention that the layer is not created in react but directly from mapbox (there are certain benefits that I need).

But, I'll consider switching to manual code now that there is an additional `filter` property.

I'm just wondering, How about add another component to the API, something like `<ExistingLayer />` so that I can manipulate a layer that has been created directly from ma

[2016-11-23 09:52] philpl commented on #61
@kmamykin Cheers! Just ping us if you need any more help for it. Really stoked to see this being picked up by you :)

[2016-11-25 10:13] davidascher opened #73 "How to access the underlying map object"
I'm trying to add the Geolocate control  (https://www.mapbox.com/mapbox-gl-js/api/#GeolocateControl) to my map, but I'm struggling to figure how.  The React devtools tell me that `ReactMapboxGL`'s state contains the `map` object, but it seems improper to poke into the state of a child component from a container component.

What's the best way to use mapbox-gl APIs that aren't encapsulated by the r

[2016-11-25 11:58] davidascher commented on #73
Found the answer in the API doc:

[code]

[2016-11-25 11:58] #73 closed

[2016-11-25 13:31] alex3165 commented on #73
Happy to see that the documentation is explicit enough 👍

[2016-12-07 16:54] kimmobrunfeldt opened #75 "Warning: bind(): React component methods may only be bound to the component instance"
I'm using react-mapbox-gl@0.18.0, react@^15.4.1, react-dom@^15.4.1 versions.

When adding a ZoomControl which has an `onControlClick` callback, React gives an error:

![screenshot 2016-12-07 18 50 32](https://cloud.githubusercontent.com/assets/1232405/20977371/0d306136-bcae-11e6-9153-84d8ec7b38c1.png)

The error is coming from this line: https://github.com/alex3165/react-mapbox-gl/blob/1bd531359d8

[2016-12-07 17:00] kimmobrunfeldt opened #76 "ZoomControl doesn't respect movingMethod"
When adding a ZoomControl to map without any options, map's movingMethod option is not respected.

**Expected:**
![map2](https://cloud.githubusercontent.com/assets/1232405/20977780/3edc9e38-bcaf-11e6-931a-ee320dd976a0.gif)

Animated zooming. Definition in API docs:

**What happens:**
![map1](https://cloud.githubusercontent.com/assets/1232405/20977790/46aa0498-bcaf-11e6-8af5-19cecb8389b9.gif)

Zoom

[2016-12-08 01:08] laznic commented on #76
I've also noticed the same thing as @kimmobrunfeldt, but hadn't time to open an issue about it. I do have an explanation and fix for this.

Why the zooming is "jumpy" is due to the onControlClick default settings:
[code]

This causes the map to jump to a specific zoom level instead of animating to it. In the [Mapbox documentation](https://www.mapbox.com/mapbox-gl-js/api/#Map#zoomIn) there are anot

[2016-12-08 18:41] kimmobrunfeldt commented on #76
Ok awesome!

[2016-12-08 18:51] alex3165 commented on #76
Hey guys sure please feel free to submit a PR 👍

[2016-12-08 20:46] #76 closed

[2016-12-10 23:06] alex3165 commented on #61
Ready for review https://github.com/alex3165/react-mapbox-gl/pull/74

[2016-12-12 22:41] alex3165 commented on #61
The PR has been merged and published, see https://github.com/alex3165/react-mapbox-gl/releases/tag/v0.19.0

[2016-12-12 22:41] #61 closed

[2016-12-12 22:50] alex3165 commented on #75
Can you try to modify your `MyMap.js` to :
[code]

[2016-12-12 22:55] alex3165 commented on #69
Sorry for the late reply, I will have a look at the problem as soon as I have some time 👍, I need to investigate more to make sure there is a really need for an `<ExistingLayer />` component.

[2016-12-12 22:58] #58 closed

[2016-12-13 14:40] kimmobrunfeldt commented on #75
That doesn't help. It just adds a new warning:

[code]

The warning comes because ZoomControl component is messing with MyMap component's method.

**zoom-control.js, row 103:**
[code]

There the `onControlClick` method is MyMap's method: `MyMap._onControlClick`. React warns because you shouldn't be rebinding the `this` to a new component.

[2016-12-13 15:02] alex3165 commented on #75
I have published a patch (`0.19.1`) where I have replaced the bind with an arrow function, let me know if it fix your issue.

[2016-12-13 16:21] timlogemann opened #78 "Add Fitbounds support"
example: https://www.mapbox.com/mapbox-gl-js/example/fitbounds/
api: https://www.mapbox.com/mapbox-gl-js/api/#Map#fitBounds

In the mapbox example fitbounds only happens on the click of a button, however it would be logical to be able to do this on render when using dynamically generated markers and you want to display all markers on the map wherever they are.

Behavior would be similar to maxBoun

[2016-12-13 21:56] alex3165 commented on #78
That's actually a good idea and it is an interesting and valuable feature to implement. However I would stick to the same API as mapbox-gl and pass an array of coordinates instead of a boolean because sometimes you want to be specific on which marker you want to display, so what about something we could use like this ?
[code]

[2016-12-14 15:49] timlogemann commented on #78
Sticking with the same API is a good thing to do. I was thinking about my specific use case with the boolean. Being able to just give a small selection of markers instead of all of them makes this implementation more flexible.
I'm just diving into react so I'm not sure how much of a help I can be.

[2016-12-14 21:14] kimmobrunfeldt commented on #75
I tested with version 0.19.1 but the problem still persists.

[2016-12-14 21:15] masotime opened #79 "Unable to implement 3D Buildings example"
The current `<Layer>` element doesn't provide a way to implement the map layer as described in https://www.mapbox.com/mapbox-gl-js/example/3d-buildings/.

For example, there's no way to add `type: 'fill-extrusion'` to the `<Layer />` element as it is not one of the recognized values for the `type` prop. The `source` prop also cannot be a string.

[2016-12-17 10:43] alex3165 commented on #78
@timlogemann Ready for your review : https://github.com/alex3165/react-mapbox-gl/pull/80

[2016-12-18 13:34] timlogemann commented on #78
Looks good. I think we're ready to merge.

[2016-12-18 14:38] alex3165 commented on #78
Published : `react-mapbox-gl@0.21.0`

[2016-12-18 14:38] #78 closed

[2016-12-18 14:40] alex3165 commented on #75
Can you send me a link to your project ? or a link to a jsfiddle ?

[2016-12-18 16:35] joshwcomeau opened #81 "Support for initial zoom/center"
Correct me if I'm wrong, but I believe right now there's no way to set _initial_ values for zoom or center; You either need to make them controlled values, or stick with the current default.

For a project I need a specific zoom/center on load, but I otherwise don't care about zooming/panning, so I'd just like to update the initial values set to Mapbox.

Let me know if this is a feature that you'd

[2016-12-18 21:48] alex3165 commented on #81
Hey @joshwcomeau, I don't really see what you mean here, if you pass down a `zoom` and `center` value to the Map it should work :
[code]
Tested with the london-cycle example and it works as expected.

[2016-12-18 21:50] joshwcomeau commented on #81
Hey @alex3165,

Thanks for the quick reply!

So, my issue with that is that whenever the component re-renders, the map will zoom/pan to that location. I need a map that initializes at a certain position, but then is free to be panned/zoomed, with re-renders not overwriting wherever the user has left the map.

[2016-12-18 21:57] alex3165 commented on #81
Have you tried to not break the reference equality between 2 re-render, you can keep the reference by having the center and the zoom in your state like this :
[code]

[2016-12-18 21:58] joshwcomeau commented on #81
Ohhh. Right, that makes total sense.

Sorry to have disturbed you! Happy to learn that it was my mistake :)

[2016-12-18 21:58] #81 closed

[2016-12-18 22:00] alex3165 commented on #81
No problem happy to solve your problem 👍

[2016-12-19 08:59] alex3165 commented on #79
Hey @masotime, sorry for the late reply, this can be achieved using the `layerOptions` property :
[code]

Although I would suggest you not to implement this kind of layer using `react-mapbox-gl` but I would define it in the style JSON file that you pass down to the `style` props of the `Map`. The `Layer` and `Feature` component should only be used for dynamic elements on the map, the ones that nee

[2016-12-19 13:40] #50 closed

[2016-12-20 21:37] SuiOni opened #82 "Add prop to enable the TouchZoomRotateHandler"
How is it possible to add a pinch to zoom functionality or any other zoom function for mobile?
Right now I can only zoom via mouse wheel.

I can find touch handlers in the source code but there is no documentation how to set them up for zoom.

An other option would be to add a navigation button.
So how can i add the native mapbox-gl zoom controls in a reactive way?

Right now I had to add
[code]

[2016-12-21 01:12] marr opened #83 "Example not working"
I saw some previous issues about the examples not working which were related to webpack version. I am a v2.1.0-beta.27 after npm installing and I receive no errors.

The server says its running on localhost:8080 but I see nothing when I view in the browser, just "The localhost page isn't working"

I tried upgrading webpack-dev-server and webpack to v2.2.0-rc.0 and that didn't help..

[2016-12-21 09:01] alex3165 commented on #83
Hey @marr I have tried to run the example from a clean clone and it worked, can you tell me which browser / node version you are using ?

[2016-12-21 09:10] alex3165 commented on #82
Hey @SuiOni thank you for submitting the issue, I will have a look at this later this week

[2016-12-21 10:02] philpl commented on #82
@SuiOni There is the ZoomControl component which we have instead of the NavigationControl.
However, we don't have pinch to zoom support as far as I know.

[2016-12-21 16:32] calivet opened #84 "Marker position not updated after modification"
Hello,

I placed differents markers on map and when I change their coordinates with a drag bar, their position is not updated after recalling render function. But if I interact with map (drap, zoom), their position is updated (I precise that render is not called during interaction).

I have no problem with symbol layer, but I need an image point.

Thanks

[2016-12-21 16:49] alex3165 commented on #84
If you display lot of markers, I would still suggest you to define a symbol (on mapbox studio) for each images you have and use the `Symbol` instead of the `Marker` which is more efficient.

Though, indeed the `Marker` is not updated and this is a real issue, I forgot this with the new version of the Marker implemented in React

[2016-12-21 16:51] alex3165 commented on #82
I think it is worth investigating for adding the pinch to zoom functionality, I will have a look Tomorrow or Friday as I am in holidays

[2016-12-21 20:52] marr commented on #83
Hi Alex, I tried using node v5.11.1, 6.4.0, 7.2.0 and Safari 10.0.2 and Chrome 55.0.2883.95. It seems there may be some kind of issue on my machine, because I tried it on another machine last night and things worked fine. I'm not sure how to troubleshoot this on my machine. If you have any ideas let me know. Thanks!

[2016-12-21 21:10] philpl commented on #83
@marr I've tried it as well, and it does still work. I'll close this for now. Can you provide more information in case it's an issue with the server or build itself? If it doesn't output an error though, it shouldn't be an issue with the example.

[2016-12-21 21:10] #83 closed

[2016-12-21 21:12] philpl commented on #82
@SuiOni If you need this urgently, you should be able to add it by doing:

[code]

[2016-12-21 21:19] marr commented on #83
I am on osx 10.11.6 (el capitan), its possible my machine just needs a clean but i found it odd this didn't show any errors it just seemed to not get any data from the server. I run another development app on localhost:8080 just fine (closed it obviously before starting this). `lsof -i:8080` was empty before starting this server, so there shouldn't be any conflict.

[2016-12-21 21:27] philpl commented on #83
Well, I'm unsure how to help you with this :?
All we're doing is this on the webpack-dev-server:

[code]

Might be worth trying to change it to just `server.listen(8080, function() {`

[2016-12-22 00:54] invalidred opened #85 "Marker onClick does not work."
Hi guys,

Here is my code
[code]

The Map and the markers are rendered just fine, however clicking on the maker does not trigger the onClick() method. Am I doing something incorrectly?

[2016-12-22 08:09] calivet commented on #84
Yes I think I'll do that.

Thank you very much for your fast response.

[2016-12-22 08:28] alex3165 commented on #85
Hey @invalidred for the issue, it should be fixed with the merge of https://github.com/alex3165/react-mapbox-gl/pull/86

[2016-12-22 08:42] alex3165 commented on #84
Should be fixed with https://github.com/alex3165/react-mapbox-gl/pull/87

[2016-12-22 13:29] invalidred commented on #85
@alex3165 thanks for the speedy response. And great work creating this lib, really appreciate your efforts.

[2016-12-22 18:38] alex3165 commented on #84
Should be good with the version `0.22.0` 👍

[2016-12-22 18:39] #84 closed

[2016-12-22 18:40] alex3165 commented on #85
It should be good with the version `0.22.0`

[2016-12-22 18:40] #85 closed

[2016-12-23 08:38] calivet commented on #84
I confirm, now it works ! Good job! Thank you very much

[2016-12-23 19:29] marr commented on #83
@philpl That did fix it. I wonder what the issue with specifying "localhost" is?

[2016-12-23 22:10] philpl commented on #83
@marr It might be an issue that prevents `localhost` from resolving to `127.0.0.1` or `::1` on your machine, maybe?

[2016-12-29 00:35] calocan opened #88 "npm run build doesn't seem to work for the examples"
Following the instructions of cloning, npm install, and then running npm run build fails on lint:

Error: /Users/andy/code/rescape_ramble/react-mapbox-gl/.eslintrc:
        Configuration for rule "react/jsx-uses-react" is invalid:
        Value "error" is the wrong type.

    at validateRuleOptions (/usr/local/lib/node_modules/eslint/lib/config/config-validator.js:102:15)
    at /usr/local/lib/nod

[2016-12-29 01:53] philpl commented on #88
I've just tested the build process after doing a clean install (`rm -rf node_modules; npm i`), and it seems to pass the linting correctly. Are you sure you have the correct version of eslint and eslint-plugin-react installed? An `npm ls` of both eslint and the plugin should yield:

[code]

[2016-12-29 01:53] #88 closed

[2016-12-29 01:55] philpl commented on #75
The affected line was changed in a previous patch and we don't have an example available, to reproduce the issue, thus I need to close this for now 😄

[2016-12-29 01:55] #75 closed

[2016-12-29 02:03] philpl commented on #69
@Altiano What benefits do you get from creating a layer manually? I don't really see why you'd need it. 😕

You can pass any kind of options to the `Layer` component via the `layerOptions` prop. You can also create a custom source and pass its `sourceId` if you need to. Is there anything I'm missing here? I don't really see why you'd need it to behave in any different way?

Even if you need more co

[2016-12-29 12:21] kimmobrunfeldt commented on #75
Sorry for taking so long. I don't know how I tested it before but I can now confirm that bump from 0.18.0 -> 0.19.1 fixed this issue.

A reproducible example of the bug: https://github.com/kimmobrunfeldt/react-mapbox-gl-bug/blob/master/src/MyMap.js

[2016-12-29 17:27] calocan commented on #88
Thanks, that explained it.

[2016-12-31 09:34] primozs opened #89 "Popup anchor does not setup automatically when anchor is null"
By default anchor should setup automatically.
To make this work one way is to do this:

in popup.js
[code]

and in projected-layer.js
[code]
Cheers

[2016-12-31 12:44] primozs commented on #89
also in popup render
defaultClassName.push(`${anchorPrefix}${anchor}`);
defaultClassName.join(' ')

this makes className to grow and grow on every re-render

[2017-01-01 22:33] philpl commented on #89
@primozs #90 should fix this, but I'm not sure where your second reference `finalClassName` is located at. By the way, links to the actual files with a line reference, like this, are really useful:

https://github.com/alex3165/react-mapbox-gl/blob/master/src/popup.js#L23

[2017-01-01 22:45] primozs commented on #89
@philpl Hi, sorry for a bit bad example ```finalClassName ``` is just something i changed.
I just wanted to point out the issues. Cheers!

[2017-01-01 22:45] #89 closed

[2017-01-03 16:30] masotime commented on #79
Thanks @alex3165, that worked perfectly. I'll investigate the alternative you mentioned - I'm currently using a `mapbox://` style URL for the `style` prop which is more convenient - I guess I'll need a way to merge the response JSON with the 3d building extrusion layer definition.

[2017-01-03 17:59] #79 closed

[2017-01-04 01:04] laznic opened #91 "Add possibility to disable drag rotation"
Currently the map always lets the user to pitch and rotate the map when right clicking and dragging. This should be able to be disabled.

`options.dragRotate` - https://www.mapbox.com/mapbox-gl-js/api/#Map

[2017-01-04 09:25] #91 closed

[2017-01-04 14:06] alex3165 commented on #91
Publish with the version `0.25.0`

[2017-01-05 10:39] calivet opened #93 "How to get map properties since child component ?"
Hello,

I defined my mapboxgl map like this in my main component :

`<ReactMapboxGl
          style={style}
          minZoom="1"
          maxZoom="12"
          maxBounds={maxBounds}
          zoom="3"
          center={this.center}
          accessToken={config.mapbox.accessToken}
          containerStyle={styles.container}
          ref="mapbox">
          <BoatsMarkers map={this} />
        <

[2017-01-05 12:17] alex3165 commented on #93
Hello @calivet from within your component `BoatsMarkers` you have the map in the context, you can access it like this:
[code]

[2017-01-05 14:10] calivet commented on #93
Thank you Alex !

[2017-01-05 17:22] philpl commented on #69
I'll close this due to inactivity

[2017-01-05 17:22] #69 closed

[2017-01-10 23:58] z0d14c opened #97 "Comparison to Uber's react-map-gl"
if so, what were your findings?

for example we are skeptical of building the style object and passing it in to control everything instead of using the semantic style of this library. any and all thoughts would be helpful. sorry for hijacking the issues board, we hope to use this library if its appropriate for our needs (and would be contributing to it also).

[2017-01-11 00:19] philpl commented on #97
@alex3165 started to work on this library since `react-map-gl` is just a really lean wrapper around `mapbox-gl`. This is why there are a couple of React-friendly abstractions in this library around layers, markers, popups, etc. We basically wanted to cover the 90% use case, that shouldn't require the user to write `mapbox-gl` code directly.

While this means that we sometimes have to implement new

[2017-01-11 09:00] alex3165 commented on #97
Hey @z0d14c to complete what @philpl said, this library aims to abstract Mapbox-gl features without using their API but only the component it is exposing (Marker, Layer, Feature, Popup ...) as opposed to react-map-gl which doesn't provide these components but give you overlays for data visualization purposes (ChoroplethOverlay, ScatterplotOverlay, DraggablePointsOverlay, SVGOverlay and CanvasOverl

[2017-01-11 09:07] alex3165 commented on #97
Also I recently merged a PR which include a component `projected-layer` which can be used to build many custom overlays. We can imagine a third library which use this `projected-layer` and provide different overlays for data visualization purposes as well.

[2017-01-11 09:22] alex3165 opened #98 "Create a Cluster component"
I think it would be worth creating a `<Cluster/>` component in order to group a bunch of markers togethers, something we could use this way:
[code]

Cluster detect if all marker are included in `map.getBounds()`, if it is, then replace all the children `Marker` with `ReplacementMarker` where the center is the average value of all the center position of every hidden `Marker`.

Any though about it ?

[2017-01-11 19:57] z0d14c commented on #97
Thanks so much @alex3165 @philpl for the timely replies. We don't currently leverage too many of the `mapbox-studio` features per se other than using their base layers. What we do is add custom image layers and geojson polygons/polylines/markers on top of the mapbox vector base layer. Is react-mapbox-gl currently supportive of these features? If we absolutely have to, is it easy to access the Mapb

[2017-01-11 21:04] medv opened #99 "Mapbox Studio and local data"
I didn't realise the maps world went so deep, so I am humbly asking for some help.

In Mapbox Studio I have DataSets, which are then baked into TileSets, which are then included in my main map Style. This Style contains all my areas and markers as well as some default provided things like rivers etc.

I want to pull this into my map, and of course react-mapbox-gl does this beautifully. However I w

[2017-01-12 21:20] alex3165 commented on #97
Yes `react-mapbox-gl` support these features `polygons`, `polylines` and `markers`, you can have a look at this example: https://github.com/alex3165/react-mapbox-gl/blob/master/example/src/all-shapes.js which includes all the supported shapes.

[2017-01-12 22:53] alex3165 commented on #99
Hey @medv, it would make sense to use `react-mapbox-gl` component if your sources and layers need to interact with the user (click, hover) or any specific update logic otherwise it doesn't make sense to extract them from your JSON style.

I guess it must not be complicated to extract some data from the JSON style and convert these into component if you need it. It would be a logic that you would a

[2017-01-13 03:47] medv commented on #99
Yeah it's very helpful, thank you.

I am thinking at this point the studio itself is of limited use to us. We can use it briefly to come up with some styles and use that resulting JSON for our own component and manage all our data on our own server since we have the source GeoJSON anyway. Because all these layers I am currently baking into the studio map style should all have metadata and interact

[2017-01-14 05:18] zavan commented on #98
Something like [this](https://www.mapbox.com/mapbox-gl-js/example/cluster/)?
Would be awesome.

[2017-01-14 12:25] alex3165 commented on #98
Yes but this is applied to `Symbol` which is already possible to do by passing the appropriated `layerOptions` to the `Layer` component. I want to create a Cluster component for using it with the `Marker` component using https://github.com/mapbox/supercluster

[2017-01-15 22:19] alex3165 commented on #98
WIP: https://github.com/alex3165/react-mapbox-gl/pull/100

[2017-01-16 02:30] z0d14c commented on #97
Thanks for your answers. I will close this question for now as you have been more than sufficient in responding to my concerns. I would say that it may be a good idea to have a FAQ question dealing with the comparison to uber's `react-map-gl`. Perhaps I or someone else can contribute to this in the near future.

[2017-01-16 02:30] #97 closed

[2017-01-16 09:34] z0d14c opened #101 "raster layer/source"
From scanning the API, it looks like the layer types (symbol/fill/line etc.) it looks like raster layers are not currently supported.

Depending on how my week looks I may be able to take a look at implementing this, but I wanted to put it out there either way. Since it isn't already implemented, I suppose there may be a different philosophy about this from the maintainers; perhaps you expect to s

[2017-01-16 20:42] z0d14c opened #102 "source as separate component"
A colleague and I are digging into some work and were wondering if this topic has come up before during the development of this and similar projects -- why not separate source out as it's own component?

I am preferential towards keeping source as essentially a parameter/prop passed to a <Layer/> component, but keeping a <Source/> component separate seems more "react-y" on a surface level and I su

[2017-01-16 20:59] alex3165 commented on #101
Hey @z0d14c I never had the opportunity to work with a raster layer, I think `react-mapbox-gl` should have a component for every `mapbox-gl` feature that need a specific logic for update or user interaction. Do you think a raster layer would actually need this ? If you can give me an example  then I think it make sense to create a component `RasterLayer` eventually.

[2017-01-16 21:19] alex3165 commented on #102
@philpl and I idea was to simplify the use of source and layer by merging everything into one component. It hasn't been raised for now but semantically, it make sense to separate everything into 2 components but it is a consequent amount of work which I can't unsure alone within the upcoming month. Although I can help if you start working on it.

It has been ask to have 1 separated source though w

[2017-01-16 22:24] z0d14c commented on #101
@alex3165 I can't say definitely whether raster layers should be a **separate** component altogether (`<RasterLayer/>`) or whether Layer should simply be allowed to support rasters (`<Layer type='raster'/>`). I am leaning towards the latter.

In our application, we have multiple Raster layers that may be actively toggled on and off and manipulated by the user via UI controls (effectively changing

[2017-01-16 23:56] zavan commented on #98
Even cooler. I'll try it out!

[2017-01-17 00:55] z0d14c commented on #101
I'm going to take a shot at writing a RasterLayer component or extending the current component, will keep this thread updated.

[2017-01-17 01:42] z0d14c commented on #101
I think it's easy to get it working on a basic level. Simply add 'raster' to the list of acceptable types to the `<Layer/>` component and pass in the appropriate `sourceOptions`. That being said, it  its easy to get into a broken state if you pass in the wrong options and I'd like to get a Source component implemented as per #102 so that you can use a Component instead of just sourceOptions.

[2017-01-17 01:48] z0d14c commented on #102
one obstacle to this issue is that currently, most of the Components remove their associated Source when they unmount. I have limited experience with mapbox-gl-js, but it seems to me you could associate some metadata `manuallyAdded: true` or something to check for before removing a source. Thoughts? @philpl @alex3165

[2017-01-17 01:58] zavan commented on #98
@alex3165

Simply including
[code]

in `package.json` doesn't work with webpack, probably beacuse when getting the package directly from github it comes without the transpiled version, only the ES6 version.

Do yo know how can I make this work?

[2017-01-17 02:06] zavan commented on #101
I'm using a raster layer (for legacy purposes) by defining it directly on the map style:

[code]
But this is hard to change during runtime, if needed.

[2017-01-17 02:08] z0d14c commented on #101
@zavan yeah, we ran into the same thing. would prefer to not manipulate the style so much if we can do it more semantically with a component.

[2017-01-17 02:38] zavan commented on #98
Got it:

[code]
Webpack must be able to resolve `jsnext:main`:
[code]

[code]
If not using ES6:
[code]
From: https://github.com/alex3165/react-mapbox-gl/blob/6ff6ea61e5ed7d978d104b8ec4cdd86f28f17ccc/package.json#L11-L13

[2017-01-17 02:43] z0d14c commented on #101
PR up https://github.com/alex3165/react-mapbox-gl/pull/103

[2017-01-17 02:43] z0d14c commented on #102
PR up https://github.com/alex3165/react-mapbox-gl/pull/103

[2017-01-17 19:00] z0d14c commented on #101
@alex3165 @philpl please review when you get a chance ^^^

[2017-01-18 09:01] alex3165 commented on #102
Merged and released, thank you for you contribution, good job ! https://github.com/alex3165/react-mapbox-gl/releases/tag/v0.27.0

[2017-01-18 09:01] #102 closed

[2017-01-18 09:02] alex3165 commented on #101
Merged and released, Thanks again for your contribution.

[2017-01-18 09:02] #101 closed

[2017-01-18 09:02] alex3165 commented on #98
Merged and Released 👍

[2017-01-18 09:02] #98 closed

[2017-01-18 19:45] Wykks commented on #40
Why not convert the project to typescript ?

[2017-01-18 21:26] z0d14c opened #104 "layers probably should have option to not auto-remove their source"
See title; when using the new ```<Source />``` element, you can get breaking behavior with ```<Layer /```.

For example, if you have source A and layer A (layer A pointing to source A), and you remove Source A in your JSX right before layer A, an error will be thrown in componentWillUnmount which will also result in a failure to remove the click / mousemove listeners from the map.

should be easy

[2017-01-18 21:29] z0d14c commented on #104
idea -- if you use sourceId instead of passing a source object, don't remove source on unmount

[2017-01-18 21:41] z0d14c commented on #104
pr up https://github.com/alex3165/react-mapbox-gl/pull/105 @alex3165 @philpl

layer / source component interaction is pretty broke without this, so lets converge on a solution sooner than later :)

[2017-01-18 23:48] z0d14c opened #106 "mapbox-gl-draw compatibility"
Hi again, sorry for all of the issues lately but I like the project and want to get it to be compatible with more of mapbox-gl-js' features. I understand all our needs are different so it will be some effort to keep everything nice and modular.

drawing is a required feature in our app; when we used leaflet, leaflet-draw was the answer. for mapbox-gl-js, it appears that https://github.com/mapbox/m

[2017-01-19 08:47] alex3165 commented on #104
Hey @z0d14c Thanks for the PR I have juste merged it, sorry for the delay I think we are not on the same timezone 😄

[2017-01-19 08:48] #104 closed

[2017-01-19 08:54] alex3165 commented on #106
Hey, I have a bit of experience with `leaflet-draw`, I am also maintaining [react-leaflet-draw](https://github.com/alex3165/react-leaflet-draw) but I never tried `mapbox-gl-draw`. In case you want to do something with this, I encourage you to separate it to a different repository to keep it consistent with how Mapbox split the two functionality as well. I am happy to help you on this one once you

[2017-01-19 09:00] alex3165 commented on #106
I guess you can create a `DrawControl` component, something like this maybe:
[code]

[2017-01-19 09:05] alex3165 commented on #40
Yes I thought about it as well, I would like to have the opinion of the maintainers on this one.

[2017-01-19 18:18] z0d14c commented on #106
hmm. ok, i'll be experimenting around with this and i'll post a repo if i come up with one. anyone, feel free to give input.

[2017-01-23 20:35] bakedbean opened #108 "zoom control works differently after manual resize"
I have an implementation where I am manually resizing the map using the map object from the child context.  The resize is called from `componentDidMount` of the child component and it works exactly as expected.  The only issue is that the ZoomControl component stops zooming in/out and instead starts panning north and south as well as zooming.  Is there something I should be doing after the resize

[2017-01-23 21:48] #108 closed

[2017-01-26 04:30] iop280 opened #109 "Offsets not working on array when non-zero"
Markers/Popups (haven't tested other objects) don't offset with an array parameter if one of the values is 0

***Non-working offset***
[code]

***Working offset***
[code]

I have to resort to using a close to 0 number to achieve offset.

[2017-01-26 14:32] BToersche opened #110 "Drawing marker while zooming gives nullpointer"
When drawing an marker icon on the map while at the same time zooming/panning to a different location sometimes gives the following error:
`Uncaught TypeError: Cannot read property 'length' of null`

My hunch is that this error is a racecondition which happens when the marker isn't fully added to the layer yet whilst checking which markers are actually in the viewport of the screen (for drawing) w

[2017-01-31 14:42] VilliGunn opened #111 "Update mapbox-gl to 0.32.1"
A new version was released 5 days ago that fixes this issue: https://github.com/mapbox/mapbox-gl-js/issues/3915

Are you open for a PR for this update?

[2017-01-31 15:43] alex3165 commented on #111
Hey @VilliGunn, Thanks for the issue, definitely up for a PR for this update 👍

[2017-01-31 21:34] #111 closed

[2017-02-01 19:06] alex3165 commented on #110
Hey @BToersche sorry for the late reply, could you send a link to an example to help me debug this issue ?

[2017-02-03 19:17] alex3165 commented on #109
Hey @iop280 sorry for the late reply, this should be fixed with https://github.com/alex3165/react-mapbox-gl/commit/bc275652794956f51d9fb77fbc6c1997569f965c 👍 thanks for reporting the issue

[2017-02-03 19:17] #109 closed

[2017-02-03 21:30] #99 closed

[2017-02-03 21:33] alex3165 commented on #62
I will close this issue since there no activity, @Altiano you are welcome to open a new one with an example of what you are trying to achieve if it is still an issue for you.

[2017-02-03 21:33] #62 closed

[2017-02-03 22:14] alex3165 commented on #82
I have tested the examples on Chrome on iOS 10.2.1 and I am able to zoom and rotate with a pinch natively without enabling `TouchZoomRotateHandler`. Therefore I will close this issue.

[2017-02-03 22:14] #82 closed

[2017-02-03 23:59] alex3165 commented on #40
WIP https://github.com/alex3165/react-mapbox-gl/pull/114

[2017-02-07 03:32] calocan opened #116 "running tests with react-mapbox-gl installed"
I'm probably doing something obviously wrong here, but whenever react-mapbox-gl is installed I can't run any tests with babel-node. If my test command is:

[code]

I get the following error when browserify tries to parse the dist. Is there a way to prevent this error or at least have babel-node ignore the module?

[code]

[2017-02-07 06:31] z0d14c commented on #106
We have a solution currently implemented in our app but it would take a bit of work to genericize it and separate it into its own repo. I would very much like to do that but there's some hoops to jump through and so I will be closing this issue for now and re-opening when I find the time to do that, but I can't 100% guarantee that I will find the time to do so.

[2017-02-07 06:31] #106 closed

[2017-02-07 07:43] z0d14c opened #117 "fitBounds parameters should be supported"
https://www.mapbox.com/mapbox-gl-js/api/#Map#fitBounds

We should be able to support the optional parameters to this function, somehow. I don't mind working on this but wanted to make an issue to elicit any potential roadblocks; it seems like it likely would necessitate the passing of an Array<Args> of multiple arguments instead of the single arg of Array<Coordinates>.

Also, if there are other fe

[2017-02-07 08:57] aleksplus commented on #117
look at props `fitBounds` and `fitBoundsOptions`

[2017-02-07 10:54] alex3165 commented on #117
@z0d14c as @aleksplus said check if you can achieve what you want with `fitBounds` and `fitBoundsOptions` 👍

[2017-02-07 10:56] alex3165 commented on #116
Once https://github.com/alex3165/react-mapbox-gl/pull/114 will be merged it should be different, can you test your issue against this branch ?

[2017-02-07 10:57] alex3165 opened #118 "Add travis build"

[2017-02-09 18:52] z0d14c commented on #117
kk, just to be clear -- fitBoundsOptions doesnt currently seem to be supported in this wrapper, so we'll have to add some way to pass it in, right? In that case I will look into adding it in a PR as soon as I can.

[2017-02-09 19:00] aleksplus commented on #117
@z0d14c you can direct access to `map` instance of mapbox-gl via refs `this.refName.state.map`

at least fit worked for me `fitBoundsOptions={{padding: 50, linear: true}}`, but props transformation not going well in my use cases (switch between `center` and `fitBounds`)

[2017-02-09 22:34] z0d14c commented on #117
ok, so you're saying i can get access to the map object through refs? thats fine, but it would be preferable if I could do this in a more react-y style (passing in params through props).

regarding your transformation issue, we have adapted our project to use fitBounds instead of centering whenever possible.

[2017-02-09 22:35] z0d14c opened #120 "source needs to update (be removed and re-added) when tiles urls change"
See title -- for Source options, currently once a source with a given ID has been added, you cannot change it's tile URLs. I have added a PR #119 to address this issue.

[2017-02-09 23:08] z0d14c opened #121 "more testing"
Probably the next priority after the conversion to TypeScript, no?

[2017-02-09 23:32] z0d14c commented on #120
can I please get a review on this ASAP :)

[2017-02-10 10:19] alex3165 commented on #120
Hey @z0d14c, sorry I probably won't be able to handle it this week-end, I will review it beginning of next week.

[2017-02-10 10:20] alex3165 commented on #121
Yes definitely that's the plan 👍

[2017-02-13 13:50] #40 closed

[2017-02-14 08:38] alex3165 commented on #120
See https://github.com/alex3165/react-mapbox-gl/pull/122

[2017-02-15 07:02] evanfrawley opened #123 "Geocoder capability"
Hiya! Is there an easy way to implement a search bar in my map through this package?
If not, are there plans to implement this?

Link to mapbox-gl example: https://www.mapbox.com/mapbox-gl-js/example/mapbox-gl-geocoder/

[2017-02-15 10:30] alex3165 commented on #123
Hey @evanfrawley There is no plan to support this component, I believe this kind of react control should live in a different repository, If you work on this let me know I will make sure to reference it in the documentation.

[2017-02-15 10:31] alex3165 commented on #120
@z0d14c Would you have time to try #122 ?

[2017-02-15 18:02] evanfrawley commented on #123
Thank @alex3165 I'll see if I can implement it and will report back if I can get it working. Thanks for the quick response!

[2017-02-15 20:27] z0d14c commented on #120
Yeah ill try and get to it ASAP

On Feb 15, 2017 2:31 AM, "Alexandre" <notifications@github.com> wrote:

[2017-02-16 00:00] evanfrawley commented on #123
Update: I forked this repo and fiddled with the map.tsx file. I was able to [implement the geocoder](http://i.imgur.com/uxqzreO.png) in a few changed in the code, but not without putting Mapbox's CSS file into the index.html. When I tried to import it within the Typescript, the `npm run build` command didn't like reading in the `mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css` file.

_Did you impor

[2017-02-16 09:01] safeiskyshi opened #124 "Uncaught TypeError: Cannot read property 'prototype' of undefined"
[code]

[2017-02-16 09:03] safeiskyshi commented on #124
{
  "name": "redux-simple-starter",
  "version": "1.0.0",
  "description": "Simple starter package for Redux with React and Babel support",
  "main": "index.js",
  "repository": "git@github.com:StephenGrider/ReduxSimpleStarter.git",
  "scripts": {
    "start": "node ./node_modules/webpack-dev-server/bin/webpack-dev-server.js",
    "test": "mocha --compilers js:babel-core/register --require ./test/

[2017-02-16 09:37] alex3165 commented on #124
Hey @safeiskyshi Can you explain when the error occur ?

[2017-02-16 09:40] alex3165 commented on #123
Hey @evanfrawley, The css of mapbox gl is manually converted to a string https://github.com/alex3165/react-mapbox-gl/blob/master/src/constants/css.ts . Although I would suggest you to to the geocoder yourself without using the control provided by `mapbox-gl-js`, it is just a simple input after all then you would need to listen a change on it and request their geocoding API https://www.mapbox.com/a

[2017-02-16 09:59] safeiskyshi commented on #124
@alex3165 Hi Alex,
- After i import ReactMapboxGl in App.js
- Then refresh the browser
- The console  log showing error (Uncaught TypeError: Cannot read property 'prototype' of undefined)

I dont understand why?

[2017-02-16 11:48] alex3165 commented on #124
@safeiskyshi Can you send a link to your project ?

[2017-02-16 17:08] chafnan opened #125 "Feature `onClick` with property id=0 is not clickable"
When a feature that has `id = 0` then it is not clickable.  All other features `onClick` works just fine.

Specifically, the id value is checked to be falsy.  I linked the line that is causing the issue.

https://github.com/alex3165/react-mapbox-gl/blob/aa09871259e9f45ca0a543fe892c7a62a937d863/src/layer.ts#L93

[2017-02-16 17:21] alex3165 commented on #125
ups, id was optional at some point so to check that it was not undefined I have added it in the condition but it is not anymore true, this commit should fix it https://github.com/alex3165/react-mapbox-gl/commit/94efe7f72a1bd848432b55079b2bbd44abec9911.

Thanks for reporting it is pushed on a new version `1.2.0`

[2017-02-16 17:22] alex3165 commented on #125
Let me know if it solved

[2017-02-16 20:30] chafnan commented on #125
That fixed it, tks for the quick turn around.

[2017-02-16 20:30] #125 closed

[2017-02-17 10:03] z0d14c commented on #120
Tested, looks good 👍

[2017-02-17 10:16] z0d14c opened #127 "Layer's before prop not updating"
We need to compare prop.before so that it gets updated (map.moveLayer needs to be called) in componentWillReceiveProps

PR up #126

relevant changes in `layer.ts` -- accidentally branched form another feature branch, so it may list changes from #122

[2017-02-17 22:10] z0d14c commented on #117
Ahh I see that there are fitBoundsOptions that are undocumented in the api. recommend adding them to the API.. will create a PR if I get a sec.

[2017-02-17 22:44] z0d14c commented on #117
PR up https://github.com/alex3165/react-mapbox-gl/pull/128

[2017-02-18 18:27] alex3165 commented on #117
merged thanks @z0d14c 👍

[2017-02-18 18:27] #117 closed

[2017-02-19 17:59] alex3165 commented on #127
It is in master https://github.com/alex3165/react-mapbox-gl/commit/2277b22573dbd59147affa9fa64d50357f8e5113

[2017-02-19 17:59] #127 closed

[2017-02-19 18:00] #123 closed

[2017-02-19 18:00] #120 closed

[2017-02-19 18:01] #116 closed

[2017-02-21 03:06] iop280 opened #129 "ReactMapboxGl style switching: The layer 'layer-1' does not exist in the map's style and cannot be queried for features."
[code]

If I have the layer object, the following error is produced when I switch Map styles (getMapStyle() returns a different style...in this case it's from 'mapbox://styles/mapbox/streets-v9' to 'mapbox://styles/mapbox/satellite-streets-v9')
"The layer 'layer-1' does not exist in the map's style and cannot be queried for features."

There's also the following error trace:
[code]

[2017-02-21 22:57] keown opened #130 "map canvas size doesn't work correctly"
[code]
i need the map to fill completely the container but seems that regardless of how the map is initialized the canvas is always 300px height. calling a `map.resize()` in the `onStyleLoad` callback fix everything but it also trigger a move event. i don't really want this situation because i call an api every time the map moves to update some markers, so basically i have a double api call when t

[2017-02-22 08:56] alex3165 commented on #129
Hey would you mind to send me a link ? JSFiddle or git repository with an example that run into this ?

[2017-02-22 09:15] alex3165 commented on #130
Hey @keown, thanks for your support, I did some tests and I can't reproduce your issue, here is what I have tested:
[code]

This works fine so if you have a link to an example with your issue it would be easier for me to debug (JSFiddle or public git repository)

[2017-02-22 09:18] alex3165 opened #131 "Convert examples to Typescript"

[2017-02-22 22:50] alex3165 commented on #121
Added some tests for the Map component https://github.com/alex3165/react-mapbox-gl/commit/02eda526c80ea72467e6d7377933b4a085de3105

[2017-02-23 10:28] piaaaac opened #133 "TypeError: Cannot read property 'composite' of undefined AND ReferenceError: _typeof is not defined"
When I add a ReactMapboxGl component I get these errors multiple times. The map starts rendering – ScaleControl and ZoomControl also appear – but it remains empty.

I tried reinstalling all node modules, installing a previous version of the package, using webpack 1 instead of vers. 2, but none of those measures changed this behaviour.

Error details:

`Uncaught TypeError: Cannot read property 'com

[2017-02-23 10:53] alex3165 commented on #133
Hey @piaaaac you probably pass a wrong `style` props to the map, this is an error that occur in `mapbox-gl`, could you send a link to a project with this error ?

[2017-02-23 11:09] piaaaac commented on #133
I tried changing the style parameter (`mapbox://styles/mapbox/basic-v9`) and I get a different error: `TypeError: Cannot read property 'mapbox' of undefined`

See if you can access: https://bitbucket.org/piaaaac/ff-migrant-stories/src/7ae7f30893e04c62b12aa4f7a0922ef23c4bf643/src/components/StoryMap.jsx?at=master&fileviewer=file-view-default

[2017-02-23 12:18] alex3165 commented on #133
Do you have `mapbox-gl` installed in your `node_modules` ?

[2017-02-23 12:22] #118 closed

[2017-02-23 13:29] piaaaac commented on #133
I tried installing it explicitly as you suggest (I thought since it's a dependency it installs automatically), but it doesn't change a thing.

I tried all the styles listed here: https://www.mapbox.com/android-sdk/examples/default-styles/ and I realized that the error `TypeError: Cannot read property 'composite' of undefined` disappears when using a style without vector shapes (`mapbox://styles/ma

[2017-02-23 20:17] pronebird opened #134 "Initial position issue"
Hi,

I see animation on first pass. `fitBounds` don't change. Why?

[code]

Looking through the code but can't really figure out what's going on:
https://github.com/alex3165/react-mapbox-gl/blob/master/src/map.tsx#L140

PS: setting `center` breaks `fitBounds`.

[2017-02-23 20:23] z0d14c commented on #134
Is the problem seeing the animation? If so, try setting ```linear: true``` in your fitBoundsOptions.

[2017-02-23 20:24] pronebird commented on #134
The problem is that I don't want to animate on first pass when I set bounds in the very first time. It must be moving the map from some initial location but I never specify it.

[2017-02-23 20:25] z0d14c commented on #129
I think I understand this error. unfortunately i do not think that layers and such are removed before the style switching code executes, causing these errors. we solved this in our project by unmounting all of our layers before changing styles, although more "native" support of this behavior would be preferable.

[2017-02-23 21:09] alex3165 commented on #134
@pronebird Can you show `this.getBounds` and `displayLocation `

[2017-02-23 21:15] alex3165 commented on #134
Also what do you mean by: setting `center` breaks `fitBounds` can you explain ?

[2017-02-23 21:18] pronebird commented on #134
`getBounds` simply calculates bbox and `displayLocation` at the moment is hardcoded:

[code]

If I set `center` then `fitBoundsOptions.offset` does not seem to be used at all.

[2017-02-23 21:34] pronebird commented on #134
I was able to workaround that by saving first location and feeding it on each render, basically at this point ReactMapboxGl thinks that `center` didn't change and let `fitBounds` animate as expected:

[code]

[2017-02-23 21:45] alex3165 commented on #134
@pronebird Just doing some tests and indeed, if center is not specified the map will move to fit the bounds specified with fitBounds which seems to be an expected to me don't you think ? And indeed if you want to prevent this you have to specify the center of the map.

[2017-02-23 21:47] alex3165 commented on #134
Maybe the expected behaviour if center is not specified would be to calculate a center from the given bounds and use this center as a default ?

[2017-02-23 21:51] pronebird commented on #134
It feels to me that if I solely work with bounds then initial centering should somehow be adopted from supplied bounds.

[2017-02-23 21:53] alex3165 commented on #134
Yep seems reasonable, I will publish a patch with the update

[2017-02-23 22:36] alex3165 commented on #134
@pronebird Patch `1.3.1` include the update, let me know if it solve your problem so that I can close this issue

[2017-02-23 22:53] alex3165 opened #135 "Remove all dependence to 'deep-equal' in favour of reference equality"
This might include lot of breaks with the previous version of `react-mapbox-gl` as the map `style` and the Layer `layout` and `paint` properties would be updated checking reference and not deep equality but it would also add lot of performance improvements. @philpl What do you think about it ?

[2017-02-23 22:56] alex3165 commented on #135
Not sure for the `layout` and `paint` properties actually because we still need to calc the diff to know which key of the `layout` prop to update

[2017-02-23 23:57] pronebird commented on #134
Thanks! I will check it in the morning.

Sent from my iPhone

[2017-02-24 11:42] pronebird commented on #134
Hmmmm

[code]

I only provide `fitBounds` and `fitBoundsOptions`

[2017-02-24 11:43] pronebird commented on #134
Ok providing `center` works as expected!

[2017-02-24 12:23] alex3165 commented on #134
@pronebird Do you provide a valid `fitBounds` with `Float` instead of `NaN` object ? Do you still have the issue ?

[2017-02-24 12:31] pronebird commented on #134
`fitBounds` is `[17.17093821313498, 57.57270983240012, 18.966223386865018, 61.08593716759985]`. Looks correct to me.

[code]

[2017-02-24 12:38] alex3165 commented on #134
Ok I will consider it fixed, if there is still a problem please open a new issue explaining your process to get this issue with an example.

[2017-02-24 12:38] #134 closed

[2017-02-24 17:13] pronebird commented on #134
I think I figured out what's going on. I was giving it flat array of fitBounds, while it expected array of arrays. i.e. fixing bounds to `[ [a, b], [c, d] ]` did the trick, that's because cheapRuler returns `[w, s, e, n]`

[2017-02-24 18:21] pronebird opened #136 "fitBounds burst issue"
Hi,

Did you happen to see that a burst of fitBounds changes would be discarded.

I have the following log from `render()`:

[code]

What happens is that location remains at `[[-14.956032191681425,27.33871139614223],[-13.151319808318574,29.378776603857773]]` and does not change to `[[-2.8241818150222513,47.1865573870424],[2.5686652150222513,55.8281444129576]]`

Changing bounds manually from consol

[2017-02-24 18:41] Carpetfizz opened #137 "Webpack warning when importing in create-react-app generated project"
[code]

[2017-02-24 19:29] alex3165 commented on #137
Yes that's an error thrown by `mapbox-gl` because `react-mapbox-gl` is using a bundled version of `mapbox-gl` which is the only way to use it with webpack see https://github.com/mapbox/mapbox-gl-js/blob/master/INSTALL.md#using-mapbox-with-other-module-systems

[2017-02-24 19:29] #137 closed

[2017-02-24 19:37] Carpetfizz opened #138 "Paused before potential out-of-memory crash in Chrome Canary"
Chrome: 58.0.3021.0 (Official Build) canary (64-bit)

[Screenshot](http://imgur.com/pZWKPbt)

[2017-02-25 12:13] medv commented on #106
@z0d14c could you comment on any big gotchas / rough direction you took for making this work? Thank you

[2017-02-25 16:18] wmonk opened #139 "Support className on Marker component"
hey alex, loving this so far ❤️ , much better than the google maps one I was using before.

Using aphrodite for styling so want to style the `Marker` component using `css`. Can this be supported, is there a reason not to?

[2017-02-25 16:32] alex3165 commented on #139
Hey, no particular reason, nobody asked for it so far. I just added it you can install the version `1.3.2` 👍

[2017-02-25 17:14] alex3165 commented on #139
`1.3.3` should be better :)

[2017-02-26 17:15] #139 closed

[2017-02-26 17:16] #138 closed

[2017-02-26 17:17] alex3165 commented on #138
Sorry this issue is not really helpful, you can eventually investigate at what is causing the issue and open a more meaningful one. Thanks

[2017-02-27 11:05] pronebird opened #140 "Memory leak"
I see a memory usage increase each time I move camera between two different location. Reloading browser window releases all memory, however even destroying `ReactMapboxGl` (not rendering it on page) does not release memory.

Therefore I think there is a memory leak somewhere. Last time I checked when jumping between two locations it went up to 1GB or RAM usage. I don't think that it's GC that does

[2017-02-27 11:27] alex3165 commented on #140
thanks for reporting, I will investigate as soon as possible

[2017-02-27 12:43] pronebird commented on #140
Thanks. I am looking into this as well.

[2017-02-27 15:03] philpl commented on #140
@pronebird Can you create a minimal js fiddle/bin or sth to reproduce this? I don't see it on the currently deployed version on Alex's site. If it occurs with only basic React Mapbox GL components being used, it's unlikely to be caused by anything in here.

The only thing that comes to mind is the clustering, since it was added recently, but like I said, I don't have a reproducible environment rig

[2017-02-27 15:58] edap opened #141 "How to close a popup"
Is there any documentation about how to close a popup element?

[2017-02-27 17:10] alex3165 commented on #141
You just need to unmount the Popup component, it behave like a normal react component

[2017-02-27 23:32] mark2685 opened #142 "Cluster component only shows children when single marker is within map bounds"
When implementing Markers nested within the Cluster component, the child markers are not rendered unless they're the only marker within the maps bounds. Instead, the `ClusterMarkerFactory` is called to return the clustered marker.

Should `clusterThreshold` determine if the`ClusterMarkerFactory` is used, or the children Marker's are rendered?

I'm trying to implement clustering similar to this exa

[2017-02-28 08:47] alex3165 commented on #142
Hey @mark2685 The clustering implemented on the link you sent is using layer and source features, it is not using HTML marker that the `Cluster` component is based on. If you want to reproduce the same behaviour, you have to use `Layer` component, probably something like that:
[code]

You can refer to the [documentation](https://github.com/alex3165/react-mapbox-gl/blob/master/docs/API.md) for more

[2017-02-28 08:50] alex3165 commented on #142
If you still want to use html marker and Cluster component, you have to play with `clusterThreshold ` indeed, have a look at the example : https://github.com/alex3165/react-mapbox-gl/blob/master/example/src/cluster.js#L55

[2017-02-28 18:12] mark2685 commented on #142
Hi @alex3165, I worked it out using the Source and multiple Layer components.

I'll keep messing the the Cluster component, but closing this out for now.

Thanks!

[2017-02-28 18:12] #142 closed

[2017-02-28 19:45] mark2685 opened #143 "Gulp: Cannot find module from /dist using browserify"
Running into the same issue noted in [#30](https://github.com/alex3165/react-mapbox-gl/issues/30) using Gulp with Browserify where it cannot find modules from the compiled version of `mapbox-gl-js`.

[code]

Has anyone been able to get around this?

[2017-02-28 21:04] pronebird commented on #140
@philpl I was able to reproduce the memory increase by switching between "All shapes" and "GEOJSON" many times on @alex3165 website. I went as far as 2GB of RAM before I gave up. Not exactly sure what causes this.

[2017-03-01 12:13] wmonk commented on #142
@mark2685 do you think you might be able to share your code to fix this? I'm running into the same issue

[2017-03-01 16:53] mark2685 commented on #142
Hi @wmonk, here's my render method essentially recreating that example using `react-mapbox-gl` Source and Layer components:

[code]

[2017-03-01 17:05] alex3165 commented on #142
Good, you can replace this :
[code]

by this:
[code]

[2017-03-01 18:10] mark2685 commented on #142
Hi @alex3165, if I went that route, wouldn't I have three Layer components, with the same collection of Feature components mapped out for each Layer component?

I thought that creating a single Source component, and referencing that via the `sourceId` prop on the Layer components would be better.

[2017-03-03 12:24] pronebird commented on #134
While this issue has been resolved. `fitBounds` still animates on first pass. I solved that by disabling animation during first render:

  constructor() {
    super();
    this.state = { isFirstPass: true };
  }

  componentDidMount() {
    this.setState({ isFirstPass: false });
  }

  componentWillUnmount() {
    this.setState({ isFirstPass: true });
  }

render() {
  mapBoundsOptions = { offset:

[2017-03-03 20:58] daniel5151 opened #144 "GeoJSONLayer - Update Layout and Paint"
`<Layout>` will check if layout / paint have changed between updates, while `<GeoJSONLayer>` does not.
I haven't looked into it too much, but i'm fairly certain that all that needs to be done is to add:
[code]

to `<GeoJSONLayer>`'s `shouldComponentUpdate`

[2017-03-03 21:20] daniel5151 commented on #144
After looking into it a bit more, I realize that my proposed solution does not actually work 😅.
I've got it working for fillPaint, but i'm fairly sure extending it to the 7 other props shouldn't be difficult at all.

[code]

[2017-03-07 08:32] khzaw opened #145 "map.getSource() returns undefined in onStyleLoad"
I have a GEOJson `<Source id="point">` with hardcoded data (ideally will come from some other source) and accompanying `<Layer>` component inside my `<ReactMapboxGl>`. I am trying to do some animation upon loading of the map. But `map.getSource('point')` inside `onStyleLoad` is returning `undefined`.

My current workaround right now is to add a `setTimeout` and everything works fine by then.

[cod

[2017-03-07 09:40] alex3165 commented on #145
Hey it is normal because the `Source` component is not mounted when the  onStyleLoad function is executed. I have just added a `onSourceAdded` props which receive the source as a first argument to the `Source` component, you can use it to get the source when it has been added to the map.

[2017-03-07 10:52] khzaw commented on #145
Ah … I see. `onSourceAdded` is just what I need. Thanks!

On Tue, 7 Mar 2017 at 17:40, Alexandre <notifications@github.com> wrote:

Hey it is normal because the Source component is not mounted when the
onStyleLoad function is executed. I have just added a onSourceAdded props
which receive the source as a first argument to the Source component, you
can use it to get the source when it has been adde

[2017-03-07 11:02] #145 closed

[2017-03-08 22:05] dorthwein commented on #133
I'm running into a similar issue however only when I bundle my JS package.  Running from hot reloader seems to work fine.

[2017-03-08 23:49] dorthwein commented on #133
@piaaaac are you do any server side rendering on your app?

[2017-03-09 00:04] dorthwein commented on #133
I was able to get my maps working by adding the following in my webpack build.  Be sure to add it to both your server rendering config & your client config if you have 2 separate files.

<code>
  module: {
    noParse: [
      /node_modules\/json-schema\/lib\/validate\.js/,
      /node_modules\/mapbox-gl/,
    ],
  }
</code>

[2017-03-09 11:54] jonheslop opened #146 "Using ReactMapboxGl with next.js (isomorphic)"
I’m new to react and am trying to string together ReactMapboxGl with Next.js and it errors onload as ReactMapboxGl can't load server side (errors with `ReferenceError: self is not defined`) but then works on subsequent hot reloads.

I’ve [tried](https://github.com/jonheslop/colwiki/blob/master/components/mapLoader.js) using `require()` within `componentDidMount` but get an error like this
[code]

[2017-03-09 21:39] aleksplus commented on #146
@jonheslop jonheslop i'm dropped idea to render map on server-side because of such issues, instead render map only on client-side. it is a problem with `mapbox-gl-js`, not with this package. just search `webpack` related issues.

this issue can be related to WebWorker's, put some [conf](https://gist.github.com/aleksplus/6a850c3db210ffb711b457b9c16561a7) for webpack 1 to load mapbox-gl. it maybe no

[2017-03-10 14:37] jonheslop commented on #146
@aleksplus thanks for the info. Will look into sorting it with webpack. Re WebGL: noted, this project is just for fun so I am not worried about support at the mo.

[2017-03-10 14:37] #146 closed

[2017-03-10 14:50] #141 closed

[2017-03-10 14:51] alex3165 commented on #143
I don't know much about Gulp, if anyone can help on this one that would be awesome ! 👍

[2017-03-10 20:57] siamalekpour commented on #124
Hey @alex3165. I get the same error after just importing the library. Nothing else.

[code]

[2017-03-11 09:33] alex3165 commented on #121
Need some tests for:
- Geojson-layer once https://github.com/alex3165/react-mapbox-gl/pull/148 is merged
- Scale-control
- Zoom-control

[2017-03-13 10:48] Satherial opened #150 "extrusion not supported"
Hello,
I think https://www.mapbox.com/mapbox-gl-js/example/3d-buildings/ (extrusions in general), is not supported, am I right?
Have you planned to update the project to support it?
Thank you!

[2017-03-13 11:02] alex3165 commented on #150
Hey @Satherial , please see https://github.com/alex3165/react-mapbox-gl/issues/79

[2017-03-13 22:42] jonheslop opened #151 "ES5 require not working"
Hi there, I’m conditionally requiring `ReactMapboxGL` on the client side only so I can’t use `import` but when I use
[code]

I get the following error
[code]
The map loads ok, but no Layers, Markers or Features show.

I had a [little google](https://www.google.co.uk/search?q=react+You+likely+forgot+to+export+your+component+from+the+file+it%27s+defined+in.&oq=react+You+likely+forgot+to+export+your+

[2017-03-14 07:18] Satherial commented on #150
thanks, it works :D

[2017-03-14 07:19] #150 closed

[2017-03-14 09:19] #144 closed

[2017-03-14 09:20] alex3165 commented on #151
Thanks for the issue, I will look into it when i have some free time

[2017-03-14 09:23] alex3165 commented on #130
I will close this Issue as I am not able to reproduce it, @keown please open a new one with an example if the issue is still there.

[2017-03-14 09:23] #130 closed

[2017-03-14 10:55] nrako opened #153 "Watch for `layerOptions.filter` change in props change"
I've noticed that the the `<Layer/>` component doesn't watch `layerOptions` changes, more specifically for `filter` changes. https://github.com/alex3165/react-mapbox-gl/blob/c621f8915cbb7f81b8a7d060f0c5305d548a04fb/src/layer.ts#L180

mapbox api does have a `setFilter` method https://www.mapbox.com/mapbox-gl-js/api/#Map#setFilter

For my use case, it would be very helpful to change the `filter` of

[2017-03-14 11:01] alex3165 commented on #153
Hey @nrako There is no technical reason why it is not implemented, that's something that need to be done. I can jump on it when I have some free time or any PR for this is welcome.

[2017-03-14 11:10] nrako commented on #153
Hey @alex3165, thanks for the quick feedback. I might need it soon, I might start a PR, I'll let you know.

[2017-03-14 13:48] nrako commented on #153
@alex3165 I started to look into this but I run into an issue with TS, the `@types/mabbox-gl` is wrong:
This line https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/mapbox-gl/index.d.ts#L73
Should be something akin to:
`setFilter(layer: string, filter?: any[]): this;`
The filter argument should be nullable.

I'm not very familiar with TS, any way to circumvent that error type? Or must

[2017-03-14 14:06] alex3165 commented on #153
Why do you want the filter to be optional ? do you need to call `setFilter` without passing a filter ?

if your problem is that your filter array is of type `filter: string[] | undefined` you should make sure it is not undefined and pass it to `setFilter('layer_string', filter)` you can also force the typescript compiler and tell him it will never be undefined by doing `setFilter('layer_string', f

[2017-03-14 14:37] nrako commented on #153
Good question, actually to remove an existing filter I'd simply do `map.setFilter('layer-id', null)`, which works.
But looking at https://github.com/mapbox/mapbox-gl-js/blob/master/src/ui/map.js#L885 make me wonder if there's an more approriate way?

[2017-03-14 14:54] alex3165 commented on #153
What about defaulting to empty array in order to remove the filter ?

[2017-03-14 16:12] nrako commented on #153
Not allowed:
[code]
https://github.com/mapbox/mapbox-gl-js/blob/master/src/style-spec/validate/validate_filter.js#L20

[2017-03-14 16:33] alex3165 commented on #153
ok then I guess you would need to fix the typings on definitelyTyped, for now you can do :
[code]

[2017-03-15 12:31] piaaaac commented on #133
In the meantime I found a different solution for my project.
But still, I went back and tried to add `noParse` to the webpack config file but I still get similar errors.

[2017-03-15 17:13] pronebird opened #154 "Existing animation pace is being reset on render"
It seems that existing animation pace is being reset on each render when bounds don't change.

Do you know maybe there is some pencode template that I can use to prototype and reproduce this?

[2017-03-17 02:42] peitalin opened #155 "TypeError when updating zoom state with onZoom method"
I'm trying to update the zoom with the onZoom prop:

[code]

But I'm getting the following errors:
[code]

Feels like I'm doing something very wrong with this approach.

Is there a way to set the initial value of zoom without resorting to updating `this.state.zoom`?

[2017-03-17 02:54] peitalin commented on #155
I've resorted to using:
[code]
Inside the `onStyleLoad` callback for now.

[2017-03-17 07:17] z0d14c commented on #140
Hi, we have also been having memory leak issues in our application although have not 100% pinned down the cause. will be investigating ASAP and will share any findings/fixes.

[2017-03-17 07:35] z0d14c opened #156 "recent PR broke raster layers"
Hi!

This PR broke raster type layers:
https://github.com/alex3165/react-mapbox-gl/commit/07e95f73f6c3e18c31dfc2e5f8431835be53b415

The reason being that raster type layers' sources **do not have the setData function** . This means on Layer.render() that the app will break because of a `TypeError`.

the `Layer` is probably overly biased towards geojson sources in particular. line 220 of layer.ts (

[2017-03-17 15:33] jluxenberg commented on #156
Ah, I see! Sorry for breaking this.

I guess we could do something silly like add a case in render specifically for the 'raster' layer type? I don't know the codebase well enough to suggest something better.

- Jared

[2017-03-17 15:54] alex3165 commented on #156
@z0d14c Can we add a quick fix by doing for now ?
[code]

[2017-03-17 18:06] z0d14c commented on #156
@alex3165 that will most likely work as a quick fix. i will test locally and let you know.

@jluxenberg yeah, something like that is probably fine. ill take a closer look and update the thread if something more extensive is needed.

[2017-03-17 20:25] philpl commented on #151
This is because you're accessing module.default.Layer instead of module.Layer ;)

[2017-03-17 20:25] #151 closed

[2017-03-18 09:29] jonheslop commented on #151
@philpl if I use `module.layer` then the page fails to load entirely, I get the error
[code]

[2017-03-18 18:20] alex3165 commented on #156
I published a patch `1.4.1` with the solution I suggested, @z0d14c Please open a new issue if there is still a bug or feel free to open a PR if you find a better solution

[2017-03-18 18:20] #156 closed

[2017-03-18 23:45] z0d14c commented on #156
Should be good for now, I'll look into getting a more robust pattern into
layer eventually

On Mar 18, 2017 11:20 AM, "Alexandre" <notifications@github.com> wrote:

[2017-03-19 15:37] alex3165 commented on #155
Hi @peitalin In order to update the zoom you have to give a new reference of an array with your zoom value to the `zoom` props of the map. That is why zoom is an array, because we don't necessarily check for value equality in some case.

I have update the doc : https://github.com/alex3165/react-mapbox-gl/blob/master/docs/API.md#properties

[2017-03-19 15:39] alex3165 commented on #155
I will close this issue but let me know if you still have a problem, if so feel free to open a new issue with en example.

[2017-03-19 15:39] #155 closed

[2017-03-19 20:56] alex3165 commented on #154
Hey I just created this boilerplate https://github.com/alex3165/react-mapbox-gl-debug you can use it to reproduce your issue

[2017-03-20 00:57] peitalin commented on #155
Ah, ok thanks Alex.
I've fixed this issue by replacing:
[code]
Thanks for making this library, it's made mapboxgl development much cleaner.

[2017-03-20 09:05] alex3165 commented on #136
Hey @pronebird, same here, can you try to reproduce this issue using https://github.com/alex3165/react-mapbox-gl-debug ?

[2017-03-20 09:13] alex3165 commented on #110
Hey, I will close this issue as there is no activity on this, if you manage to reproduce the issue using https://github.com/alex3165/react-mapbox-gl-debug you can open a new issue with en example

[2017-03-20 09:14] #110 closed

[2017-03-20 09:15] alex3165 commented on #124
Hey @siamalekpour Can you try to reproduce the issue using https://github.com/alex3165/react-mapbox-gl-debug ?

[2017-03-20 09:16] alex3165 commented on #140
I have created a simple boilerplate, if you guys manage to reproduce the issue using it https://github.com/alex3165/react-mapbox-gl-debug, it is a first good start on investigating what is happening

[2017-03-20 13:07] pronebird commented on #136
@alex3165 I will do, sorry for being slow on reproducing this, I have been really busy.

[2017-03-20 13:07] pronebird commented on #140
@alex3165 sorry for a dull report. Of course I will make a test case to reproduce this. Thanks again for making a debug boilerplate to make it easier!

[2017-03-21 04:34] sohibul commented on #81
But if you update the state using `setState` the reference still the same right? So the center will not move

[2017-03-21 09:15] alex3165 commented on #81
Nope, you will break the reference equality if you assign a new array :
[code]

[2017-03-21 09:23] sohibul commented on #81
You're right, i have mistake

[2017-03-21 09:54] sohibul opened #160 "Setting center of map"
So I set center using `this.state.center`. I read your code in map.tsx:

[code]

What happen is my `ReactMapboxGl` is rendered several times. The problem is `didCenterUpdate` was false several times after `didCenterUpdate` was true. When `didCenterUpdate` was true, the `center` will be set to new center, but the map was not updated directly. After that, when `didCenterUpdate` was false, `center` w

[2017-03-21 10:14] alex3165 commented on #160
Hey can you reproduce this using https://github.com/alex3165/react-mapbox-gl-debug ? and attach a link to the repo

[2017-03-21 14:51] sohibul commented on #160
It turns out the problem is in `didZoomUpdate`. I reproduce it here https://github.com/sohibul/react-mapbox-gl-debug. So I set initial state of center [0, 0], then update it after few seconds. Then set another state to make component re-rendered.

[2017-03-21 15:06] alex3165 commented on #160
Thanks for taking time to reproduce the bug, it is because you re-render the map while the `flyTo` animation occur then the center of the map at the moment you re-render is different but not the center given by the prop is similar so I assume there is no update and just take as a center the current position of the map so it stop moving. That's a tricky use case, I will see if I can check if the an

[2017-03-21 15:09] alex3165 commented on #160
What you can do for now is waiting for `isMoving` is false before setting your state. https://www.mapbox.com/mapbox-gl-js/api/#Map#isMoving you can get an instance of the map using `mapInit` prop.

[2017-03-21 15:24] sohibul commented on #160
ahha, thanks for the workaround

[2017-03-21 17:33] lamuertepeluda commented on #129
Same issue here, though I didn't get the solution from @z0d14c .

[code]

Suppose children is any layer, or multiple layers, e.g.

[code]

when the prop `mapStyle` changes you get a lot of

[code]

[code]

May be also related https://github.com/mapbox/mapbox-gl-draw/issues/512

[2017-03-21 17:35] alex3165 commented on #129
Hey @lamuertepeluda if you can reproduce the bug using https://github.com/alex3165/react-mapbox-gl-debug that would be very helpful for me to debug then

[2017-03-21 17:50] lamuertepeluda commented on #129
Ok @alex3165 tomorrow I'll try to reproduce this issue with `react-mapbbox-gl-debug` and I'll post my workaround as well, which I just tried and works (but it's ugly).

I think it's what @z0d14c mentioned (i.e. unmount children, load style, remount children after `onStyleLoad` event).

[2017-03-22 07:36] sohibul commented on #106
@alex3165 do you plan to implement this?

[2017-03-22 08:14] alex3165 commented on #106
Nope I haven't worked on it, if I find some times at some point I might work on it but if someone want to go ahead please do, I can give a hand.

[2017-03-22 09:04] lamuertepeluda commented on #129
Ok @alex3165 , I post here both the problem and my workaround/solution using `react-mapbox-gl-debug`, but I think there is definitely something wrong with the mapbox events fired on style change.
[App.zip](https://github.com/alex3165/react-mapbox-gl/files/860868/App.zip)

In App.zip you will find:
`App_with_errors.jsx` --> reproduces the issue
`App.jsx` --> workaround

Copy and paste the code into

[2017-03-22 09:25] lamuertepeluda commented on #129
Can [the styledataloading event](https://www.mapbox.com/mapbox-gl-js/api/#map.event:styledataloading) come to rescue?

[2017-03-22 09:38] lamuertepeluda commented on #129
[may be off-topic here] but probably also an handler for [the map load event](https://www.mapbox.com/mapbox-gl-js/api/#map.event:load) can be helpful

[2017-03-22 10:41] edap opened #161 "Zoom Control Position"
Is it possible to change the position of the zoom control?
https://github.com/mapbox/mapbox.js/commit/17790cf602901a1f4023112046f3d6fdb5f38943

[2017-03-22 11:14] edap commented on #161
ok, I've just passed it and it works
[code]

[2017-03-22 11:14] #161 closed

[2017-03-23 09:18] lamuertepeluda opened #162 "attributionPosition is not used/effective"
Hi,

by looking at the source code, it seems that the property `attributionPosition` is actually never used. The only property working is `attributionControl` (boolean), which sets attribution controls on or off (but does not affect its position).

I also tried to set the value of `attributionPosition` to `'bottom-left'` but nothing changes.

Did you probably mean to set `options.logoPosition` ?

[2017-03-23 10:00] jonheslop commented on #151
I got it working in the end using

[code]

[2017-03-23 10:40] alex3165 commented on #162
Yes indeed, I pushed a fix on master : https://github.com/alex3165/react-mapbox-gl/commit/0b7c2e5b2cc0f1132630f3f95c3e53f31378986c

[2017-03-23 10:42] lamuertepeluda commented on #162
cool 😃

[2017-03-23 10:44] alex3165 commented on #162
Published with the patch `1.4.2`

[2017-03-23 10:44] #162 closed

[2017-03-23 10:47] alex3165 commented on #153
@nrako Any update on this one ? 👍

[2017-03-23 11:18] alex3165 commented on #129
I dived into this issue, it is actually a major issue, the problem is that when we change the style of the map, all the layers and sources added previously using `setLayer` or `setSource` are removed. This 2 methods are used on the `Layer` component and `Source` component respectively.

There is 2 workaround possible I would say:
- Posting an issue on mapboxgl and see if there is a way to "reattac

[2017-03-23 12:48] lamuertepeluda commented on #129
@alex3165 you're welcome.

I think you could put on the proposed workaround n.2 while waiting for an answer to workaround n.1. What do you think about it?

Since it's internal to the the `react-mapbox-gl` component, it should be transparent to users.

[2017-03-23 13:16] lamuertepeluda opened #163 "More map event handlers"
Hi again,

I think you could definitely consider adding a few more event handlers that reflect those of the underlying map instance, i.e.:

* `onLoad` --> https://www.mapbox.com/mapbox-gl-js/api/#map.event:load
* `onError` --> https://www.mapbox.com/mapbox-gl-js/api/#map.event:error

Then probably also more...

An example use case (my use case, actually) for `onLoad` is when using this component w

[2017-03-23 13:47] alex3165 commented on #129
I was playing with mapbox-gl and found out that the problem is actually coming from `react-mapbox-gl`, I will work on it asap.

https://jsfiddle.net/alex3165/acr3ykz5/

[2017-03-23 18:24] nrako commented on #153
@alex3165 actually I have been able to refactor my code without needing this by using data-driven styles which gave me a better result. So this hasn't been as urgent for me.

However, I can promise to **try* to submit something in the next days if wanted?

[2017-03-24 19:01] pronebird commented on #140
@alex3165 @z0d14c

I've created a simple test case which allows to observe certain growth in memory usage. It's a fairly simple scenario that we have in our app. We move the camera between two locations and change between two fixed zoom levels. All of that is done by calculating map bounds with cheap ruler.

Memory usage on page load is about 280M. After flying the map between two markers for 5 to

[2017-03-24 19:37] z0d14c commented on #163
Agreed that we should support more event handlers. Maybe it would be a good idea to just map every event from https://www.mapbox.com/mapbox-gl-js/api/#map.event:resize on down to a handler. I could help with this if needed, thoughts @alex3165 @philpl ?

[2017-03-24 19:54] pronebird commented on #154
Reproduced this in https://github.com/pronebird/react-mapbox-gl-debug/tree/pace-bug

Animation pace is being reset during `render()`. For example to trigger `render` I use a series of timers that update component's state, i.e:

[code]

[2017-03-24 21:26] z0d14c commented on #129
@alex3165 is that supposed to be throwing errors? im not getting any errors from that fiddle.

[2017-03-25 00:34] cmrtn commented on #153
Hey @nrako. I could actually use this if you've got the time to work on it.

[2017-03-25 00:36] z0d14c commented on #129
btw this issue (or a **very** similar one) will also manifest itself not just when changing styles, but also for example:
1. Be on page A
2. Navigate to Page B which has a <ReactMapboxGL /> element with various <Layer />s and such in it
3. Quickly navigate to page A before all of the sources have been successfully added/loaded on to the map. ReactMapboxGL will be unmounted, causing all of the chil

[2017-03-25 03:46] z0d14c commented on #129
this PR fixes the previously described issue for me, although im not 💯 on whether it fixes these types of issues overall.

[2017-03-25 18:54] alex3165 commented on #163
Well ideally we should support all the event handlers ! 👍 Feel free to open a PR to add everything missing

[2017-03-25 18:57] alex3165 commented on #154
this is kind of related to https://github.com/alex3165/react-mapbox-gl/issues/160 in the way that I need to add a fix that prevent a re-rendering during an animation of the map

[2017-03-25 18:58] alex3165 commented on #153
@nrako No worries take your time 👍

[2017-03-27 07:47] lamuertepeluda opened #165 "About ReactMapboxGl design: Map properties and options"
Hi again,

I was looking at the source code of the default class (the map) and I think it should be designed as Factory function/Higher Order Component, since there are some properties that cannot be changed after the instantiation (meaning their change has no effect).

For instance, setting `interactive={false}`then changing it lately to true, has no effect. This is mostly because it is an option

[2017-03-27 07:58] alex3165 commented on #165
Hey @lamuertepeluda thanks for the issue, that is a true but what is the benefit of doing so ? properties that doesn't change don't affect anything at re-rendering, we can just ignore them during the entire component life cycle.

[2017-03-27 09:42] lamuertepeluda commented on #165
Uhm, for instance I was trying to make the map not interactive (set to false) until a certain initial ease was made, and I noticed this when I was setting interactive again. That's what you expect from a react component (unless we put at least some caveats in the docs), that is updating props should reflect in the children...

[2017-03-27 09:48] lamuertepeluda opened #166 "Unhandled TypeError in Layer onClick handler"
Hi again (don't hate me please! 😄 )

I found out a possible bug here at this line:

https://github.com/alex3165/react-mapbox-gl/blob/master/src/layer.ts#L90

If features is `undefined` (that happens when I remove a layer) the method should exit, otherwise:

`Cannot read property 'forEach' of undefined`.

I know it should be an empty array, but it isn't so if the layer has been removed.

I found it

[2017-03-27 13:47] drekli opened #167 "Cluster component not updating if child Markers change"
Thought I'd try out the new Marker and Cluster components (awesome idea!), and noticed that whilst the child Markers show/hide on a query change, the Clusters always remain the same from first load.

Same pointCount and coords, even if the children underneath change or no longer exist. Also means no new Clusters appear for Markers that didn't exist on first load and start with a parent Cluster (or

[2017-03-28 06:38] z0d14c commented on #129
Cancelling this PR because I realized something else was the problem.

[2017-03-28 17:59] brycebigger commented on #129
Same problem here- need to select a different map style on the fly. Is there a way to remove everything from the map and then change styles. I'm using Redux for state, so it's no big deal to add all items back to the map. Or any other ideas?

[2017-03-28 18:46] z0d14c commented on #129
@brycebigger essentially the way we do it is by using a flag to hide all of the map components like <Layer> etc. until the style is done loading.

[2017-03-29 18:03] z0d14c commented on #165
+1 for interactive not being able to change 😩

[2017-03-30 02:46] lordKnighton opened #170 "blank page: using this with create-react-app"
Im trying this react-mapbox as a component to App.js

at 1st:
![screen shot 2017-03-29 at 7 40 08 pm](https://cloud.githubusercontent.com/assets/1773260/24485203/91c8cf6c-14b7-11e7-90bc-20282562a2a2.png)

then i comment out es5 declarations
2nd:
![screen shot 2017-03-29 at 7 41 10 pm](https://cloud.githubusercontent.com/assets/1773260/24485224/cf79fb24-14b7-11e7-9a49-df51d0c2d0ea.png)

then i inpu

[2017-03-30 05:31] philpl commented on #170
This very much looks like sth not related to React Mapbox GL itself, but some syntax errors. We can give a shot at helping you, if you can provide your code via a gist or sth :wink:

[2017-03-30 05:31] #170 closed

[2017-03-30 08:25] Altiano commented on #84
How many is "lot of markers" ?

[2017-04-03 04:19] philpl commented on #165
It might be worth considering this, although it's a breaking change. There's a lot here that can be done, in terms of improving the API, and making the instantiation of the config part of a factory would indicate that it's not something that can change, thus getting rid of a lot of unexpected short comings

[2017-04-03 21:12] alex3165 commented on #166
Should be fixed with the new release `1.5.0`, see : https://github.com/alex3165/react-mapbox-gl/blob/master/src/layer.ts#L92

[2017-04-03 21:12] #166 closed

[2017-04-03 21:14] alex3165 commented on #165
Ok I guess we can give it a go.

[2017-04-03 21:15] alex3165 commented on #153
Should work now with the release `1.5.0`

[2017-04-03 21:15] #153 closed

[2017-04-03 21:18] alex3165 commented on #129
I couldn't find any good solution for now, so I removed the logic to update the style as it doesn't work anyway. If anyone has a good solution for that, feel free to open a PR.

[2017-04-03 21:36] z0d14c commented on #129
@alex3165 i left a comment but i think your change is breaking for those of us who were using the workaround of making sure our layers were removed, changing the style, then adding them back. I know that may not be a good reason to keep the functionality, but I think its worth mentioning as I won't be able to upgrade to the newest version of this library without finding a fix.

[2017-04-03 21:44] alex3165 commented on #129
@z0d14c Ok I am sorry for that I reverted it back with the version `1.5.2`

[2017-04-03 21:45] z0d14c commented on #129
@alex3165 thanks for the quick response, i will try to find some time this weekend to work on identifying a more robust fix for this problem.

[2017-04-04 00:53] mark2685 commented on #133
I'm running into a similar issue, what was your solution @piaaaac ?

[2017-04-04 09:11] piaaaac commented on #133
@mark2685 I actually went for a completely different solution and made a simple map with d3...

[2017-04-04 20:59] cmtoomey opened #176 "Add source-layer for Mapbox-hosted vector tiles"
If I want to add vector tiles from my Mapbox.com account, there is a required field that your Layer component leaves out: source-layer. Is it possible to get this added as a prop?

[code]

[2017-04-05 08:34] lamuertepeluda opened #178 "Map unmounting done wrong?"
Hi,

I think [this line of map.tsx](https://github.com/alex3165/react-mapbox-gl/blob/master/src/map.tsx#L198) causes a lot of troubles.

According to [MapBox doc](https://www.mapbox.com/mapbox-gl-js/api/#map#remove) that should not be necessary, implying that all the children should care of releasing only their non-mapbox related resources.

It should just call remove. In the children, we may list

[2017-04-05 08:45] alex3165 commented on #178
Good catch @lamuertepeluda 👍  looking forward for your PR

[2017-04-05 08:46] #129 closed

[2017-04-05 19:28] z0d14c commented on #140
thanks @pronebird. this is pretty concerning. i hope to find some time to work on this and a few other issues with the library, but I will admit I'm not 100% sure where to start with this.

[2017-04-06 23:19] katbusch commented on #133
What worked for me is similar to what worked for @dorthwein but not identical.  I was accidentally parsing the mapbox-gl and react-map-gl code in a jsx loader.  If you're seeing this error I would suggest going through your webpack loaders and making sure you're excluding these files.

[2017-04-08 12:34] Pgsuarez opened #182 "Map displaced when "text-align: center" is set on some parent div"
Hi,
if some parent of the map has set the css property `text-align` to `center` (also `right`, `end`, etc) the map is displaced within his container like if the map was text.

I reproduced it here: https://github.com/Pgsuarez/react-mapbox-gl-debug/tree/text-align-bug

[2017-04-08 22:35] iop280 opened #185 "AWS NodeJS Deploy Breaking"
Ever since updating my package from 1.5.2, deployment appear to be breaking. I believe it has something to do with the mapbox-gl dependency on react-mapbox-gl. I've attached the logs below:

[code]

Would love any comments regarding this.

[2017-04-09 01:59] z0d14c opened #186 "upgrading 1.3.0 -> 1.7.0 regressed several issues"
Sadly, upgrading our `react-mapbox-gl` from 1.3.0 -> 1.7.0 caused several bugs to appear/re-appear for us.
Here are the main ones for us:
* fitBounds property no longer reliable on a page refresh for me; it seems that if the map is loading/rendering (not sure which), fitBounds does not fire properly. However, if I let the map load/stabilize completely and then e.g. navigate to something which crea

[2017-04-09 10:38] jbilcke opened #187 "warning: in some cases setState() may be called after the unmount"
This warning does happen from time to time:

[code]

The related code:

[code]
https://github.com/alex3165/react-mapbox-gl/blob/master/src/map.tsx#L181

If the ReactMapboxGl component is unmounted before `load` finishes, the callback will try to update the state, it does nothing but this is not recommended

[code]
https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html

[2017-04-09 18:31] ufon opened #188 "All clusters disappear when one cluster disappears for a window."
![image](https://cloud.githubusercontent.com/assets/4355972/24839910/a590eb26-1d6b-11e7-9f35-e5a1517a6eb4.png)
![image](https://cloud.githubusercontent.com/assets/4355972/24839919/b6815b1e-1d6b-11e7-8dd4-fc432f60116b.png)

How to fix it?

radius={60} minZoom={0} maxZoom={16} extent={1024} nodeSize={128} clusterThreshold={1}
my settings. thx.
And when i have clusterThreshold in 2..8 (demo settings)

[2017-04-10 08:11] lamuertepeluda commented on #187
I also faced this issue sometimes. I'm not really convinced about passing the map as state is the right way to go.
This brings to a potentially bigger issue: is it correct to use the React context API here? Wouldn't it be better to user redux + props?

Of course this would mean redesign the map as HOC and have a Redux state and all the map children such as Layer, Source, whatever... as connected c

[2017-04-10 08:21] lamuertepeluda commented on #165
I know it is a breaking change, but what about dropping the context API/setState API in favor of a redux-managed state that allow pass the map mutations as props?

Potential advantages of using redux:
* avoid component state mismatches (e.g. setState being called after unmount)
* have children as connected components
* drop context api as [warmly suggested here](https://facebook.github.io/react/do

[2017-04-10 08:27] lamuertepeluda opened #190 "dependencies should be moved as peerDependencies"
I think that

[code]

should become

[code]

Then you should add the peers to devDependencies as well for testing, and in examples dependencies. This because they are external dependencies of your library just as react.

This way the user of your library is not constrained to embed mapboxgl and other modules twice in the bundle, e.g. if for some reason he's importing some stuff from mapboxgl using

[2017-04-10 08:40] lamuertepeluda commented on #135
Digging into mapbox code, I found out that they already perform some deep equality checks in order to avoid re-rendering, for instance:

https://github.com/mapbox/mapbox-gl-js/blob/5886421ea9a5ae26797c950ec698be473fe87d17/src/style/style.js#L632

That should be considered in order to avoid unnecessary and expensive deepEquality checks.

You could consider also to use the very efficient [lodash.isE

[2017-04-10 12:43] Pgsuarez commented on #188
`clusterThreshold` acts in a very strange way. It is the minimum number of clusters that can be displayed, so, if it's only possible to display 1 cluster and `clusterThreshold` is 2, the map will show all the marker (e.g. 20) instead of showing only 1 cluster. I think `clusterThreshold` shoud be the **maximum** number of clusters that can be displayed.

Try to set `clusterThreshold={0}`. I had to

[2017-04-10 15:47] kn0ll commented on #186
didn't dig too deep (just reverted), but upgrading from 1.4.1 to 1.7.0 broke the clusters implementation described in [this comment from #142](https://github.com/alex3165/react-mapbox-gl/issues/142#issuecomment-283398995).

[2017-04-10 17:49] mark2685 commented on #186
@kn0ll - I noticed the same issue, and confirmed that its version `1.6.0` that broke that implementation. I'm not seeing any errors, just that Layers tied to a Source by ID were not displaying.

I dropped back to `1.5.2` for now.

[2017-04-10 19:31] ufon opened #191 "onMouseLeave - Feature event dont work propertly"
I noticed that leave event dont fired. But I precisely remember that in older version (js build) this work normal.
![image](https://cloud.githubusercontent.com/assets/4355972/24878758/153d4f4c-1e3d-11e7-8775-2efb7a4498a3.png)
![image](https://cloud.githubusercontent.com/assets/4355972/24878765/20f3959e-1e3d-11e7-8379-aa86d3682ac3.png)
I have compared a code, but extra diffs i didt noticed. Tnx for

[2017-04-10 19:58] alex3165 commented on #191
Gotcha, sorry for that, I will fix it

[2017-04-10 20:05] alex3165 commented on #191
@ufon I fixed it with the patched version `1.7.4` again sorry for that

[2017-04-10 20:05] #191 closed

[2017-04-10 20:30] alex3165 commented on #186
I am sorry for that, anyone would have time to point me to the issue using https://github.com/alex3165/react-mapbox-gl-debug ? Thanks

[2017-04-10 21:05] ufon commented on #191
tnx a lot!

[2017-04-11 07:29] ufon opened #192 "Create a hover effect on a Cluster-layer"
How to implement this?
https://www.mapbox.com/mapbox-gl-js/example/hover-styles/

I dont find mouseleave map event :(

P.S. I would like create hover effect on a cluster object. But clusters are native, placed in layer solid (not Markers).

[2017-04-11 17:32] ufon commented on #192
[code]
But now have problem with render :)
`

[2017-04-11 17:32] #192 closed

[2017-04-12 17:23] greenkeeper[bot] opened #193 "An in-range update of enzyme is breaking the build 🚨"
## Version **2.8.1** of [enzyme](https://github.com/airbnb/enzyme) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2Fenzyme-2.8.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      enzyme
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-04-13 10:27] davecranwell commented on #176
I experienced this too, then discovered the `layerOptions` object can be stuffed with anything else you need that isn't supported by default.

So my object which gets spread into props for `Layer` is thus:

[code]

[2017-04-13 13:09] lastsys opened #194 "GeoJSON layers does not seem to be visible anymore"
I have had some code which worked fine until a couple of days ago.

My GeoJSON data is not visible anymore. Reproduction here:
https://github.com/lastsys/react-mapbox-gl-debug

Expected:
http://geojson.io/#id=gist:anonymous/c715b550ebd2cb5e7dfd40481c6aa97c&map=9/51.5583/-0.2115

[2017-04-13 14:01] greenkeeper[bot] opened #195 "An in-range update of ts-jest is breaking the build 🚨"
## Version **19.0.9** of [ts-jest](https://github.com/kulshekhar/ts-jest) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2Fts-jest-19.0.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ts-jest
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-04-14 00:38] cmtoomey commented on #176
Thanks @davecranwell - that looks like it will solve it!

[2017-04-14 00:38] #176 closed

[2017-04-17 20:47] gpbmike commented on #187
I believe the event listeners are being incorrectly turned off here: https://github.com/alex3165/react-mapbox-gl/blob/6af7ee3f3bb09d901da0da6811c903875553c93c/src/map.tsx#L202-L214

[code]

Unless I'm mistake `map.off()` doesn't remove all event listeners.

Related mapbox-gl-js code: https://github.com/mapbox/mapbox-gl-js/blob/master/src/util/evented.js#L10-L17

[code]

[code]

[2017-04-18 07:13] lamuertepeluda commented on #187
@gpbmike you're right, using `map.remove()` (without delaying) should be enough. See https://github.com/mapbox/mapbox-gl-js/blob/master/src/ui/map.js#L1421. See also #178 .

In general, using timeouts when setting state should be avoided.

[2017-04-18 07:49] lastsys commented on #194
Got things working by using `GeoJSONLayer` instead. Failed using `Source` and `Layer` combination.

[2017-04-18 14:43] texas697 opened #197 "feature onClick vs onMouseEnter performance"
I have setup my project using the london example. When I have 1000 features on the map the performance  of opening a popup is great. When I have 5,000 features the performance drops. I changed the popup to open onMouseEnter and it seems to work better. Is this correct?

[code]
[code]

Feature Layer
[code]

[2017-04-18 15:04] alex3165 commented on #194
Hey @lastsys Thanks for helping me to debug this issue, this has been fixed with this commit : https://github.com/alex3165/react-mapbox-gl/commit/b1cb8dcb2346daedc484f4889a307c6264075529#diff-7889a267378342b7f5ff9e7b08b38704R240 And it is released along with `renderWorldCopies` under the version 1.8.0.

[2017-04-18 15:04] #194 closed

[2017-04-18 15:05] alex3165 commented on #186
@mark2685 The layer and source component should work nicely togethers again, see https://github.com/alex3165/react-mapbox-gl/issues/194

[2017-04-21 02:48] alpha-beta-soup opened #199 "Data-driving style example"
Is there an example of data-driven styling? I'm attempting to modify the geojson example to vary the `circle-color` by one of the GeoJSON properties.

[code]

No circle symbol renders. The above is based on this [example](https://www.mapbox.com/help/gl-dds-ref/#circle-layer-circle-color-categorical) in the Mapbox docs for GL data-driven styles.

However if I just remove the data-driven aspect and

[2017-04-21 02:52] alpha-beta-soup commented on #199
Apologies, didn't notice this:

[code]

Should be:

[code]

Closing. Hope this helps someone else trying to use data-driven styling anyway.

[2017-04-21 02:52] #199 closed

[2017-04-21 07:30] #195 closed

[2017-04-21 07:32] #193 closed

[2017-04-21 07:38] alex3165 commented on #197
I don't see any reason why the performance would be better on mouse enter instead of on click event but if you can reproduce the problem using https://github.com/alex3165/react-mapbox-gl-debug I would be happy to have a look.

[2017-04-21 07:46] alex3165 commented on #190
Thanks for the issue, you are right, see https://github.com/alex3165/react-mapbox-gl/commit/1db6ef9b5cace71ac8a4c7ed9e415d96f8cdb780

[2017-04-21 07:46] #190 closed

[2017-04-21 07:57] alex3165 commented on #178
@lamuertepeluda I pushed the changes related to this issue on master from your PR, I hope you don't mind ! see : https://github.com/alex3165/react-mapbox-gl/commit/b792de68eb5c922cb45352d5e81d151fe6b31a75

[2017-04-21 08:00] lamuertepeluda commented on #178
@alex3165 of course I don't mind and I'm glad. 😉
Feel free to grab/adapt anything u like from my PR/fork. I'm sadly a bit busy for contributing with a refactored PR(s) atm. Hope to do that in the next weeks.

[2017-04-21 08:04] alex3165 commented on #124
I will close this issue for inactivity, feel free to open a new one if it is still happening

[2017-04-21 08:04] #124 closed

[2017-04-21 08:09] philpl commented on #190
@alex3165 you don't want to move deep-equal and reduce-object into the peers. That's not necessary ;)

[2017-04-21 08:32] alex3165 commented on #178
I had to revert the commit, doing that break the Layer component.

[2017-04-24 07:00] cshah3 opened #200 "Uncaught ReferenceError: e is not defined"
The package works perfectly in a local dev environment but when I deploy to Heroku, I get the following error:
`Uncaught ReferenceError: e is not defined`

Here is the full stack trace:
`33../support/isBuffer	@	blob:https://app.herokuapp.com/ff936ac0-6d3f-4861-be69-5014291c6119:2
i	@	blob:https://app.herokuapp.com/ff936ac0-6d3f-4861-be69-5014291c6119:1
(anonymous)	@	blob:https://app.herokuapp.com/

[2017-04-24 14:26] kn0ll opened #201 "styling individual features"
this is kind of 2 issues:
1. segregating layers by feature type
2. styling individual features (instead of layers)

the docs declare: "The type of the feature is defined at the Layer level. If you want to create a new type, create an associated new layer."

the GeoJSON spec doesn't limit a FeatureCollection to a single type, though. which means if i'm working with an existing valid GeoJSON Feature

[2017-04-24 17:15] cshah3 commented on #200
It was an issue with v2.0.0 of [standard-minifier-js](https://github.com/meteor/meteor/tree/master/packages/standard-minifier-js) and probably UglifyJS2. Downgrading to v1.2.3 solves this issue for now.

[2017-04-24 17:15] #200 closed

[2017-04-26 21:47] Stefan0-com commented on #133
Adding this to webpack-config.js rules section worked for me:

[code]

[2017-04-27 01:58] alpha-beta-soup opened #204 "NavigationControl"
Is it possible to include a [NavigationControl](https://www.mapbox.com/mapbox-gl-js/example/navigation/) component? Currently when the map is rotated or tilted, it is difficult to return back to north-up and straight-down. With the standard Mapbox GL JS controls, you can just click on the compass icon (navigation control) to reset the view at the current zoom. It's possible to workaround with `map

[2017-04-27 02:53] alpha-beta-soup commented on #201
It is possible to use [data-driven styling](https://github.com/alex3165/react-mapbox-gl/issues/199) that should at least cover this case. If there's complex logic for conditional styling, you'll need to apply some function to your input GeoJSON and store the result as a property. Could be as simple as a `color` property on each feature as an output of some function that considers multiple properti

[2017-04-28 12:48] connesc commented on #190
I agree with @philpl, this is not necessary.
By doing this, you require the user to bloat its own package.json with your internal dependencies, thus defeating the purpose of a package manager. And this can become very painful if you add or remove dependencies in future versions of `react-mapbox-gl`.
However, this sounds good for `mapbox-gl` since it is a core dependency.

[2017-04-28 14:54] mario-jerkovic commented on #200
Can you be more specific on how have you resolved this issue

[2017-04-28 14:57] cshah3 commented on #200
@mario-jerkovic I am using this library in a Meteor app. I downgraded my standard-minifier-js meteor package to v1.2.3 to resolve the issue.

[2017-04-29 12:04] mariokam commented on #185
Exactly the same error, got today. Please Mapbox help!

[2017-04-29 13:46] mario-jerkovic commented on #200
@cshah3 Thanks.. I am having the same issue with React app, but cannot get around it

[2017-05-01 20:55] stereobooster opened #205 "Can not run examples"
[code]

[2017-05-01 21:07] NathHorrigan opened #206 "Weird Behaviour with Cluster"
Just started using the library and it works great. Except, that I need to use cluster markers and when I use them, They don't show and a weird zooming behaviour occurs; When I zoom in on markers, instead of the map zooming, the whole screen does but chrome/firefox doesn't show that I have zoomed in (still 100% zoom). Is this a known Issue or have I fucked somewhere?

[code]

[2017-05-01 21:43] stereobooster commented on #205
Oh I see. It needs

[code]

Why `mapbox-gl` is peer dependency? Lib will not work without it. It is simple dependency.

[2017-05-01 23:02] #205 closed

[2017-05-02 21:36] porchdog opened #208 "Cluster click implementation"
Hey all.  I'm trying to implement a way to show a popup list of clustered items when a cluster has been clicked.  Problem is, the cluster factory does not get passed the items that make up the cluster.  So when it is clicked, I don't know which items are in that cluster.

Any chance that the API could be modified such that the factory gets passed the array of markers that make up the cluster?  Tha

[2017-05-03 20:25] greenkeeper[bot] opened #210 "An in-range update of @types/node is breaking the build 🚨"
## Version **7.0.16** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2F%40types%2Fnode-7.0.16">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>

[2017-05-03 20:37] greenkeeper[bot] opened #211 "An in-range update of tslint is breaking the build 🚨"
## Version **5.2.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2Ftslint-5.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left>
      C

[2017-05-03 21:18] davecranwell opened #212 "Implementing draggable points"
I'm on a vanilla JS project which i'm porting to React, using react-mapbox-gl, where some markers in a layer need to be dragged with the mouse to reposition them.

My vanilla project implemented something similar to Mapbox's example here https://www.mapbox.com/mapbox-gl-js/example/drag-a-point/, but I'm wondering how you suggest I go about doing this in React. Perhaps you've already had some thoug

[2017-05-03 21:19] z0d14c commented on #136
also having issues with using fitbounds after upgrading from 1.3 -> 1.9

[2017-05-04 03:21] z0d14c commented on #186
tried to upgrade 1.3 -> 1.9 this time, and it worked a lot better 2 main bugs this time:

* for some reason using onClicks on fill layers caused some buggy "x layer does not exist and could not be queried for features" type errors. this was easy to work around for me, but worrying

* this one is worse, fitBounds seemed to not work in our app on a hard refresh for certain pages because state.map of

[2017-05-04 17:39] z0d14c commented on #186
Gonna try and look at this this weekend... im guessing something happened through the version to make the map load slower so that our fitBounds prop is unreliable now... will try and look this weekend but if anyone has any insight please do share...

[2017-05-04 23:23] greenkeeper[bot] opened #213 "An in-range update of @types/react is breaking the build 🚨"
## Version **15.0.24** of [@types/react](https://www.npmjs.com/package/@types/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2F%40types%2Freact-15.0.24">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/react
    </td>
  </tr>

[2017-05-05 16:52] #210 closed

[2017-05-07 17:25] stereobooster opened #217 "Bug: Zoom in/out with scroll stops to work if mouse is over marker"
PS library is super useful, because it works with CRA. Thanks

[2017-05-09 09:14] zh0uquan opened #218 "Uncaught TypeError: Cannot read property 'coordinates' of undefined mapbox"
So basically in react component `render` method:
if I put a Feature component and a list of Feature component using react wrapper in Layer component, and it will raise `Uncaught TypeError: Cannot read property 'coordinates' of undefined mapbox` even I defined it.
This error costs me hours of debugging, so I guess maybe we can fix this in` Layer` component.
[code]

[2017-05-09 09:30] zh0uquan commented on #218
https://github.com/alex3165/react-mapbox-gl/blob/master/src/layer.ts#232
maybe we need to change it to `const children = ([] as any).concat(this.props.children)`  to allow children like [element, [list of elements]]???

[2017-05-09 09:39] zh0uquan commented on #218
https://github.com/alex3165/react-mapbox-gl/blob/master/src/layer.ts#L232 maybe this line const children = ([] as any).concat(this.props.children || []); this.props.children are type of list like [1, [2,3]]??
and it works like `[].concat([1,[2,3]] || [])` rather than `[].concat(1,[2,3] || [])` as we expected.

[2017-05-09 11:26] davecranwell opened #219 "Is `Source` missing onStyleDataChange() hooks?"
My component `render()` returns this:

[code]

As you can see I'm loading sources from an array of them passed in via props.

One of these sources is a `tileJsonSource` and one of the `Layer`s, is using that source via the `sourceId` option.

When I change the style of the map, i'm getting an error that suggests the source is never being re-added to the map. Having checked the `Layer` code I note

[2017-05-09 16:19] Satherial opened #221 "cannot do the "Style lines using an identity property function" mapbox example"
Hello,
it seems I cannot reproduce in any way the structure of the following link:

https://www.mapbox.com/mapbox-gl-js/example/data-driven-lines/

`map.addLayer({
        'id': 'lines',
        'type': 'line',
        'source': {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [{
                    'type': 'Feature',

[2017-05-10 01:44] yarnball opened #222 "Module not found"
Hi, I keep getting an error "Module not found". I have followed the instructions and installed `npm install react-mapbox-gl --save` but I still get this error.

I used create-reaact-app as my boiler plate.

Any ideas on how to fix? Thanks

[code]

[2017-05-10 08:29] Satherial commented on #221
I'm sorry, it works:

[code]

[2017-05-10 08:29] #221 closed

[2017-05-10 20:59] #219 closed

[2017-05-10 21:07] alex3165 commented on #222
Hey you have to manually add `mapbox-gl` to your project `npm i --save mapbox-gl` should solve it

[2017-05-10 21:07] #222 closed

[2017-05-10 21:11] alex3165 commented on #218
Hey @zh0uquan could you reproduce the issue using : https://github.com/alex3165/react-mapbox-gl-debug ? thanks

[2017-05-10 21:13] alex3165 commented on #217
There is not much to do here if you use the `Marker` component, the marker is rendered on top of the canvas en prevent the canvas from listening the scroll. I would suggest you to use `Layer` component to display your marker in the canvas

[2017-05-10 21:16] #213 closed

[2017-05-10 21:19] #211 closed

[2017-05-10 21:28] alex3165 commented on #212
Hey @davecranwell sorry for the late reply, that's a very interesting feature, I would love to see something like this on `react-mapbox-gl`. Having a `Draggable` component that you use as a children of the `Layout` seems a good approach to me. you can pass down the layerId by cloning the children component of the layer and injecting the `layerId` as a prop http://reactjs.cn/react/docs/top-level-ap

[2017-05-10 21:28] alex3165 commented on #212
Would be happy to help you on this one as I think it is a very valuable feature to have !

[2017-05-10 21:33] alex3165 commented on #204
There is currently no Navigation control component, I would be happy to see such a component. Although I would use the same approach as `ZoomControl` and `ScaleControl` component and create real React component that reset the pitch and rotation of the map to their initial state manually.

[2017-05-10 21:37] alex3165 commented on #206
Hey @NathHorrigan this is probably something related to https://github.com/alex3165/react-mapbox-gl/issues/188. I will need to review the Cluster component probably, for now I would suggest you to implement clustering using Layout and Source components. I would suggest to have a look there: https://github.com/alex3165/react-mapbox-gl/issues/142

[2017-05-10 21:38] alex3165 commented on #206
I will close the issue, we can use 188 to follow any update on the Cluster component

[2017-05-10 21:38] #206 closed

[2017-05-10 21:40] alex3165 commented on #188
As I mentioned in https://github.com/alex3165/react-mapbox-gl/issues/206 the Cluster component would need a review on how it behave. I would be happy to have some help on this. Although I would suggest to use `Layout` and `Source` instead, have a look here: https://github.com/alex3165/react-mapbox-gl/issues/142

[2017-05-10 21:42] alex3165 commented on #208
Hey thanks for the issue it would indeed be possible. I can have a look when I have some time or I would be happy to have some help on this.

[2017-05-11 01:43] chrabyrd opened #223 "Is is possible to dynamically add a Layer object?"
Hello!

I have a Geosuggestion searchbox that returns a set of coordinates. I'd like to be able to press a button, and add a marker at those coordinates to an already instantiated map. However, I'm not seeing addLayer() defined in the docs. Is there a workaround?

Cheers!

[2017-05-11 04:32] stereobooster commented on #217
Pure mapbox-gl can do this https://www.mapbox.com/bites/00281/

[2017-05-11 04:52] alex3165 commented on #223
Hey, addLayer is abstracted by The Layer component, you will need to mount a Layer component with a Feature component for each marker. Have a look at the London cycle example.

[2017-05-11 05:01] alex3165 commented on #217
Ah you are right, let me have a look at this

[2017-05-11 17:35] chrabyrd commented on #223
Hey, thanks for the quick reply!

I guess I'm not seeing it. When I read through the London cycle example I see the Layer and Feature components are static. They're instantiated with the map. What I'm trying to do is have a button that when clicked, adds a marker at a set of coordinates to an already instantiated map.

The worst, hackiest way I can see doing this is to re-instantiate the map every

[2017-05-12 21:34] z0d14c commented on #223
you can have a loop inside your component (that houses the Map component instance) that renders out layers inside of your Map component instance in a loop.

[2017-05-13 20:54] zh0uquan commented on #218
can you check this one? https://github.com/zh0uquan/react-mapbox-gl-debug/tree/master/src

[2017-05-14 05:01] G2Jose opened #224 "Example fails to compile"
I tried following instructions on https://github.com/alex3165/react-mapbox-gl to run examples. On running `npm run start`, I get an error saying "Failed to compile", followed by a list of modules that were not found.

[code]

I also tried re-linking by running `npm run link` but that did not help.

[2017-05-14 14:33] zh0uquan commented on #218
https://github.com/alex3165/react-mapbox-gl/blob/master/src/layer.ts#L232
I changed the line to `const children = this.props.children.reduce((arr, el)=> arr.concat(el), [])`, and it works for me

[2017-05-14 17:55] alex3165 commented on #224
Hey I striped out everything and install node modules from scratch and I don't get any issue with running the examples, can you please try again from a clean git clone, it shouldn't happen.

[2017-05-14 17:55] #224 closed

[2017-05-14 19:50] alex3165 commented on #218
Oh right, I pushed a fix, have a look: https://github.com/alex3165/react-mapbox-gl/commit/d68a4343b81290178fc107c3717ccbae2dff130c can you tell me if it fixed your problem ? Then I will release and publish it.

[2017-05-15 00:12] zh0uquan commented on #218
how can I check it? I tried `npm install https://github.com/alex3165/react-mapbox-gl --save`, but instead i got in my `react-mapbox-gl-debug` folder
[code]

By the way, I was trying to add onClick function to Features inside a **circle type** Layer, but no event is fired, is it supported or I have to hack it?

[2017-05-15 07:53] alex3165 commented on #218
I published it, try version `1.11.0`

[2017-05-15 09:52] zh0uquan commented on #218
Cool, bug fixed. Thank you :)

[2017-05-15 09:52] #218 closed

[2017-05-16 20:22] emgeee opened #225 "Changing Map style causes existing layers to disappear"
I'm trying to allow someone to toggle between street view and a satellite view. I have several `<GeoJSONLayer>`'s mounted and working fine but when I change the `<Map>` style, those layers appear to disappear.

An error is thrown at line 114 of geojson-layer.ts saying `Uncaught TypeError: Cannot read property 'setData' of undefined`

[2017-05-18 20:50] chrabyrd commented on #223
Excellent! Thank you guys!

[2017-05-18 20:50] #223 closed

[2017-05-19 03:18] cpsubrian commented on #165
Thanks @lamuertepeluda, you got me thinking. I'm working on a spin-off of this module internally that is hugely inspired by `react-mapboxgl`, but tries to stick as close to the raw mapbox-gl api as possible. I want to play with this approach.

[2017-05-19 03:27] z0d14c commented on #225
currently this is one of the big gotcha's with this lib. you need to remove the layers, change the style, then add the layers back for it to work properly. :(

[2017-05-19 03:28] z0d14c commented on #186
for me a lot of issues are resolved with 1.10, basically the only change i had to make from 1.3 -> 1.10 was change some of the props that had their names changed. other than that, we're gravy. if anyone else wants to chime in with their issues they can, otherwise maybe we can close this?

[2017-05-19 17:13] emgeee commented on #225
Well that's unfortunate. Any idea why that is?

[2017-05-19 17:30] mark2685 commented on #186
The issues I was seeing have been resolved as of the 1.8.0 release. Just updated to 1.10, and everything seems gravy as well!

I'm fine with closing.

[2017-05-19 20:16] cpsubrian opened #226 "Inspiration and thanks!"
After getting a lot of great mileage out of `react-mapbox-gl` I just wanted to say thanks for your awesome work! I also wanted to share something I've been working on that might inspire a few changes here.

Basically I started with the component/context philosophy of this library, and tried to strip it down to be as close to the `mapbox-gl-js` API as possible. I also took the opportunity to abstra

[2017-05-20 01:44] iop280 commented on #185
Ah I realized that it's because my AWS instance did not have enough memory to complete the npm install. Upgrading the instance to a higher memory one solved it.

[2017-05-20 01:45] #185 closed

[2017-05-22 04:20] philpl commented on #165
@lamuertepeluda just as a quick note, although I'm not working actively on this project anymore: Dropping the context based API won't have any major outcome or benefit. While that doc *is indeed* saying that context is unstable, it is used throughout the community for use-cases just like this one.

We have state that is managed by Mapbox GL and we'd like to just share it. The "state" is stored ins

[2017-05-23 22:41] cmtoomey opened #228 "Zoom resets on State Change"
I render a map like normal
`<ReactMapboxGl
        style="mapbox://styles/"
        accessToken=""
        containerStyle={{
          height: "89vh",
          width: "100vw"
        }}
        center={[-99.456478, 39.878675]}
        zoom={[4]}
        onClick={this.click.bind(this)}

I have another drop-down component that updates a redux store with results of a query. When zoom is specified, a

[2017-05-23 23:00] stereobooster opened #229 "Overlapping Markers"
Not sure if this a bug or a feature

<img width="234" alt="screen shot 2017-05-24 at 00 52 31" src="https://cloud.githubusercontent.com/assets/179534/26379774/51c3e20a-401b-11e7-9161-7793162d8c19.png">

Other problem is how to make sure that "selected" marker is over

<img width="289" alt="screen shot 2017-05-24 at 00 57 30" src="https://cloud.githubusercontent.com/assets/179534/26379939/03d9289c-

[2017-05-24 16:33] jenyeeiam opened #230 "popup component upgrading from 1.6 -> 1.10"
Just upgraded my version from 1.6 to 1.10, and now the popup is a bar across the top.  Was this intended?
![selection_024](https://cloud.githubusercontent.com/assets/19957645/26414388/eac13dde-4063-11e7-86f5-7b467426aaf2.png)
![selection_023](https://cloud.githubusercontent.com/assets/19957645/26414395/f01a4870-4063-11e7-832c-ff72b0db1822.png)

[2017-05-24 18:40] stereobooster commented on #229
Obvious solution is to sort markers:

[code]

but this kind of contrary to declarative approach. The question is: should library support this out of the box or is it some kind of pattern which can be listed in wiki? Or I miss something and this should be done other way?

[2017-05-24 18:42] stereobooster commented on #230
I'm using `1.11.0` and there is no problem. Do you use custom styles for popup contents?

[2017-05-24 18:47] stereobooster commented on #228
Use `onZoomEnd` to capture zoom and store it in redux store.

[2017-05-24 20:38] jenyeeiam commented on #230
Is your popup a bar across the top? @stereobooster

[2017-05-24 20:49] jenyeeiam commented on #230
Oh man it was my classnames!  Note: Don't name your popup mapbox-popup....

[2017-05-24 20:49] #230 closed

[2017-05-24 21:10] stereobooster opened #231 "Problem with latest CRA"
Error only visible in production build: `yarn build && serve -s build`. In https://github.com/alex3165/react-mapbox-gl/pull/207 I updated to the latest CRA, so you can check it (delete `homepage` field to test).

I suppose this is error in mapbox-gl and webworkify.

<details>
 <summary>Uncaught ReferenceError: e is not defined</summary>

[code]
</details>

Related: https://github.com/uber/react-ma

[2017-05-24 22:53] cmtoomey commented on #228
That works - it's a little hacky, but it works.

[2017-05-24 22:53] #228 closed

[2017-05-25 07:53] alex3165 commented on #228
Hey sorry didn't see your issue before, please read the disclaimer section of the readme. If you don't want your zoom to update, don't break the reference equality between 2 renders, keep a reference to your zoom array somewhere. It doesn't have to sit in the redux store, it could be a class property or in a component state or just a simple constant outside of your class.

[2017-05-25 07:57] alex3165 commented on #186
I will close the issue then, I will try to find time this weekend to resolve some issues, thanks everyone for being active on this project it is really nice to see developers using this library.

[2017-05-25 07:57] #186 closed

[2017-05-25 07:59] alex3165 commented on #229
Are you using the Marker component? if yes maybe you want to cluster your markers using Cluster component? If you use Layer and Feature components to display your markers, clustering is done for you.

[2017-05-25 08:12] stereobooster commented on #228
You partially right. This is actually idiomatic React. Consider HTML input (not in React) which can update it's state itself. But React's  approach is to use [controlled components](https://facebook.github.io/react/docs/forms.html), which prevent HTML inputs from updating itself state.

The hacky part is that, map with explicitly passed zoom and without zoom processing callback should have zoom lo

[2017-05-25 08:16] stereobooster commented on #229
I'm using `Marker`. Code pretty close to this one https://github.com/alex3165/react-mapbox-gl/pull/207/commits/7b1933194498beeaf46dcbefe6d071ff988b32a2. I will give a try `Cluster` component.

[2017-05-25 20:57] z0d14c commented on #225
nope, we have an existing bug in our app related to this issue, have fixed several times in our implementation over this lib but it keeps popping up; i dont mind doing the workaround (making sure all layers are removed, changing style, then adding them back), but it kinda sucks that it keeps popping up -- i think getting some guarantees and tests around how the map style changing behaves would be

[2017-05-26 00:48] dvreed77 opened #234 "GeoJSON click events"
How can I respond to a click on feature in a GeoJSON Layer, specifically a point feature?  I would like to mimic the behaviour found in the MapboxGL documentation [here](https://www.mapbox.com/mapbox-gl-js/example/popup-on-click/):

[code]

[2017-05-26 15:42] alex3165 commented on #217
Hey you actually just need to pass `pointerEvents: none` to the marker, see: https://github.com/alex3165/react-mapbox-gl/commit/2052309558b50edb0b4047e97254aa1ff289b964

[2017-05-26 15:42] emgeee commented on #225
That's fair. I'm still trying to image with that workaround looks like since I imagine when you say "remove all layers, then add them back" you have to have a boolean somewhere that removes all inner components from the Map component, waits for a new `render()`, toggles the style, then toggle the boolean back so all the components are re-added. Did I get that right?

[2017-05-26 16:11] alex3165 commented on #226
Hi @cpsubrian, thanks for that. I think it is a good idea but it would make everything a bit more complicated and I wanted to keep everything as simple as possible. Although someone suggested to  separate the static props from the one that get updated across rendering https://github.com/alex3165/react-mapbox-gl/issues/165 and I think this would be my first priority. @philpl any thought about creat

[2017-05-26 16:51] davidascher commented on #231
Having the same problem. Specifically, using latest CRA scripts (which switched to webpack 2), a map which works fine in development mode fails to display anything in a production environment.

Traceback, being minified, isn't that helpful:

<img width="726" alt="screenshot 2017-05-26 09 50 44" src="https://cloud.githubusercontent.com/assets/51278/26504285/d11193de-41f8-11e7-8df2-300436aeb600.png"

[2017-05-26 17:08] davidascher commented on #231
Created a minimal repo showing this bug in action: https://github.com/davidascher/mapbox-repro-bug

[2017-05-26 17:14] davidascher commented on #231
Filed bug on CRA in case the bug is over there: https://github.com/facebookincubator/create-react-app/issues/2376

[2017-05-26 18:10] cpsubrian commented on #226
Hey @alex3165 I definitely understand the desire for simplicity. FWIW I moved the repo and you can see what this concept looks like in practice here: https://github.com/TerraEclipse/react-mapboxgl/tree/master/modules/core/src

There are a lot of components but each one is very simple and focused. I personally think it makes the code easier to reason about and adding new map options or other things

[2017-05-27 05:42] z0d14c commented on #225
yeah you got it right -- it looks like this feature is now working for me without the workaround, though. im on version 1.11.0

[2017-05-27 18:22] davidascher commented on #231
FYI, this was fixed with a workaround in CRA v. 1.0.7.  Long fascinating thread about the root cause here https://github.com/mishoo/UglifyJS2/issues/2011#issuecomment-304444229 if you're curious.  (still ongoing).

[2017-05-27 20:25] stereobooster commented on #231
Thanks

[2017-05-27 20:25] #231 closed

[2017-05-27 20:27] davidascher commented on #231
just for fun, bug is now traced back to https://github.com/mapbox/mapbox-gl-js/issues/4359.

[2017-05-29 14:12] andrea689 commented on #200
@mario-jerkovic Did you find a solution? Thanks!

[2017-05-29 15:27] mario-jerkovic commented on #200
@andrea689
After a lot of debugging I have figure out that `UglifyJsPlugin` was causing this error to occur, so I have removed `new webpack.optimize.AggressiveMergingPlugin()` and set `UglifyJsPlugin` like this:
`new webpack.optimize.UglifyJsPlugin({ compress: false })`

[2017-05-30 04:02] #204 closed

[2017-05-30 17:35] alex3165 opened #236 "Remove map style deep equality check between rendering"
Mapbox is already performing a diffing of the style when using `map.setStyle`, see: https://github.com/mapbox/mapbox-gl-js/blob/master/src/ui/map.js#L832

[2017-05-30 17:42] alex3165 commented on #187
I will close this PR as it is a duplicated of https://github.com/alex3165/react-mapbox-gl/issues/178

[2017-05-30 17:42] #187 closed

[2017-05-30 17:49] alex3165 opened #237 "React-mapbox-gl version 2.0.0"
React-mapbox-gl is now more than 1 year old, I think it is time to think about a new major version 2.0.0 and I am happy to have any opinion on what such a release could include, I spotted the following issues / improvements:

- [x] Make Map component a factory, ReactMapboxGlFactory: https://github.com/alex3165/react-mapbox-gl/issues/165
- [x] Improve examples, design a proper website with examples

[2017-05-30 19:42] #236 closed

[2017-05-31 06:26] folivi opened #238 "Issue with the Popup component"
Hi, I get the following message when I hover a postion were a popup should be displayed

this is my implementation:

I have this method:
[code]

The error message appears when I point the marker at that position.
What I'm doing wrong?
Regards

[2017-05-31 09:20] alex3165 commented on #238
Hey @folivi could you reproduce your issue using https://github.com/alex3165/react-mapbox-gl-debug ? thanks

[2017-05-31 21:28] alex3165 commented on #165
https://github.com/alex3165/react-mapbox-gl/pull/239 Make the Map a factory function which return a React component, will be merged in v2.0.0

[2017-05-31 22:18] stereobooster opened #240 "Server side rendering bug"
I'm using CRA 1.0.7 and react-snapshot 1.0.4. Getting this:

[code]

Seems to be this [line](https://github.com/substack/webworkify/blob/master/index.js#L77). No evidence. Will try to craft example/nail down reason.

[2017-05-31 22:24] stereobooster commented on #237
How about viewport data structure as a way to set exact state of map and track map state?

[code]

Just an idea for your consideration.

[2017-06-01 09:07] warka0 opened #241 "Custom Icon"
Hi!

I don't understand how to add a custom icon on a layer.

I try to have a layer of one particular png ! :)

Which part did i missed?

Thx!

[2017-06-01 18:34] folivi commented on #238
hi,
the issue is, I was rendering the Popups inside the same layer as the Features.
Now I moved the code to the Map component level and it's working fine.
here is the full working code

[code]

[2017-06-01 20:11] alex3165 commented on #238
Ok thanks for sharing it, I will close this issue then.

[2017-06-01 20:11] #238 closed

[2017-06-01 20:13] alex3165 commented on #241
You have to add your icon on mapbox studio and define the right icon name to your Layer. see : https://www.mapbox.com/help/custom-images/

[2017-06-02 07:34] alex3165 commented on #237
@stereobooster we would have an issue with the zoom, if the zoom of the map is being updated (when user zoom using his mouse) then when you re-render your map component the zoom value will default back to `12`. That's why zoom is an array and the map component does a reference equality check for your zoom. If you break the reference it will update the zoom otherwise it won't.

[2017-06-02 08:20] stereobooster commented on #237
Not sure I understood your point. If zoom updated its change will be cathed by onChange function, onchange function will store new state, new state will be passed to `<Map>`, map will be rendered with new state, which will have appropriate zoom value.

[2017-06-02 08:43] alex3165 commented on #163
Should be addressed by https://github.com/alex3165/react-mapbox-gl/pull/242

[2017-06-02 12:26] Alan01252 opened #243 "How to use another style?"
I'm pretty sure I'm doing something stupid here, but how do you use a style created in mapglstudio?

I've tried changing the accessToken/style variables in https://github.com/alex3165/react-mapbox-gl-debug but it still seems to display the streets-v7 style regardless.

Any help would be greatly appreciated!

Cheers

Alan

[2017-06-02 16:17] alex3165 commented on #178
https://github.com/alex3165/react-mapbox-gl/pull/245 should fix the issue

[2017-06-02 21:15] stereobooster commented on #240
This is because jsdom miss some polyfils https://github.com/tmpvar/jsdom/issues/1721

[2017-06-02 21:15] #240 closed

[2017-06-03 08:59] stereobooster commented on #240
Workaround https://github.com/geelen/react-snapshot/pull/34

[2017-06-03 09:02] stereobooster commented on #237
Expose `css` for import in webpack project instead of injecting in header. This way it will be minified e.g.

[code]

[2017-06-03 19:46] stereobooster opened #246 "How to get reference to map object?"
This doesn't seem to work

[code]

I want to do something like [this](https://www.mapbox.com/mapbox-gl-js/example/scroll-fly-to/), but I need reference for this.

[2017-06-03 19:56] stereobooster commented on #229
For some reason cluster doesn't work for me. Plus it just hide overlapping markers instead of tacking them in right order. But my way with `sort` works for me.

[2017-06-03 19:56] #229 closed

[2017-06-03 19:59] stereobooster commented on #237
Pass `pointerEvents: none` to markers in examples (everywhere where zoom with scroll enabled)

[2017-06-03 23:02] aleksplus commented on #246
did you try access map object from state `this.map.state.map`?

refs should work after component is [mounted](https://facebook.github.io/react/docs/refs-and-the-dom.html#adding-a-ref-to-a-dom-element)

[2017-06-04 08:40] alex3165 commented on #237
@stereobooster Could you open an issue for your last 2 suggestions, it is a good idea.

[2017-06-04 09:17] stereobooster opened #248 "Pass pointerEvents: none to markers in examples"
Pass `pointerEvents: none` to markers in examples (everywhere where zoom with scroll enabled)

Extracted from: https://github.com/alex3165/react-mapbox-gl/issues/237

[2017-06-04 09:18] stereobooster opened #249 "Expose `css` for import in webpack project"
Expose `css` for import in webpack project instead of injecting in header. This way it will be minified e.g.

[code]

Extracted from: https://github.com/alex3165/react-mapbox-gl/issues/237

[2017-06-04 09:48] alex3165 commented on #248
https://github.com/alex3165/react-mapbox-gl/pull/250 should do the trick

[2017-06-04 16:24] nontachaiwebdev commented on #224
I have got this issue too.I have to clone this repo and cd to example directory and install dependency with yarn install.So I got this Error when I use yarn start.

[2017-06-05 06:56] Mencls opened #251 "create a draggable marker"
I'm currently wondering what's the best way to create draggable markers.
Easiest way would be to do it like the mapbox example, using ```mouseenter```, ```mouseleave```, ```mouseup```  and ```mousedown```  but I realised you didn't implement the last event.

So I'm a bit confused. Using ```onDrag``` doesn't seem to be a good idea as ``` dragPan.disable()``` needs to be called at some point.

Last

[2017-06-05 08:15] alex3165 commented on #251
Hey @Mencls, thanks for the issue someone already asked that at some point but I lost track of this feature, I think this is something that could come with the version 2.0.0. In term of API I think it should be a prop you have on the Feature component like so
[code]
And all the logic that detect `mouseup` / `mousedown` and set the geojson data should sit at the `Layer` level I think.

Just for ref

[2017-06-06 04:45] nontachaiwebdev opened #252 "Marker Render Not Smoot when drag and change map position"
Hi this repo is awesome but i found a bit of issue.In laptop browser everything look great not any problem But when i switch to iphone to play map when drag for change map position a marker not smoot for change position too.

Do you think About This?

[2017-06-07 02:05] Mencls commented on #251
I agree, a ```draggable``` prop on the Feature component would be great. Also an ```onDragEnd``` event would definitely be useful, in order to update the data if needed.

Thanks for the update!

[2017-06-09 06:21] greenkeeper[bot] opened #254 "An in-range update of ts-jest is breaking the build 🚨"
## Version **20.0.6** of [ts-jest](https://github.com/kulshekhar/ts-jest) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2Fts-jest-20.0.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ts-jest
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-06-11 19:07] stereobooster commented on #246
I tried this, but unfortunately it is null

[code]

strange thing if I log `this.map` I see `state.map` WAT? Still looking into this

[2017-06-11 19:17] alex3165 commented on #251
https://github.com/alex3165/react-mapbox-gl/pull/256 is a first step toward a draggable feature

[2017-06-11 21:31] alex3165 commented on #251
https://github.com/alex3165/react-mapbox-gl/pull/257 should do the trick

[2017-06-11 21:37] alex3165 commented on #165
I will close this issue as it is been resolved with the version 2.0.0. Please use https://github.com/alex3165/react-mapbox-gl/issues/237 to be updated on the state of 2.0.0.

[2017-06-11 21:37] #165 closed

[2017-06-11 21:38] alex3165 commented on #131
I will close this issue as it is been resolved with the version 2.0.0. Please use https://github.com/alex3165/react-mapbox-gl/issues/237 to be updated on the state of 2.0.0.

[2017-06-11 21:38] #131 closed

[2017-06-11 21:38] alex3165 commented on #163
I will close this issue as it is been resolved with the version 2.0.0. Please use https://github.com/alex3165/react-mapbox-gl/issues/237 to be updated on the state of 2.0.0.

[2017-06-11 21:38] #163 closed

[2017-06-11 21:38] alex3165 commented on #178
I will close this issue as it is been resolved with the version 2.0.0. Please use https://github.com/alex3165/react-mapbox-gl/issues/237 to be updated on the state of 2.0.0.

[2017-06-11 21:38] #178 closed

[2017-06-11 21:39] alex3165 commented on #225
I will close this issue as it is been resolved with the version 2.0.0. Please use https://github.com/alex3165/react-mapbox-gl/issues/237 to be updated on the state of 2.0.0.

[2017-06-11 21:39] #225 closed

[2017-06-11 21:39] alex3165 commented on #248
I will close this issue as it is been resolved with the version 2.0.0. Please use https://github.com/alex3165/react-mapbox-gl/issues/237 to be updated on the state of 2.0.0.

[2017-06-11 21:39] #248 closed

[2017-06-11 21:39] alex3165 commented on #251
I will close this issue as it is been resolved with the version 2.0.0. Please use https://github.com/alex3165/react-mapbox-gl/issues/237 to be updated on the state of 2.0.0.

[2017-06-11 21:39] #251 closed

[2017-06-12 10:16] alex3165 commented on #188
https://github.com/alex3165/react-mapbox-gl/pull/259 should fix all issues with cluster component

[2017-06-12 14:57] alex3165 commented on #182
https://github.com/alex3165/react-mapbox-gl/commit/da7c8e06c02de6840d5f7261802c1739f7f0f98f should fix it, check https://github.com/alex3165/react-mapbox-gl/issues/237 to follow the state of v2

[2017-06-12 14:57] #182 closed

[2017-06-12 22:45] pcraciunoiu opened #261 "GeoJSONLayer does not work with style-update"
Initially in my code, I was getting this (doesn't happen in this example PR).

[code]

Fails right here:
[code]
`map.getSource(id)` is returning `undefined`.

I tried cloning the library and updating the example to show this:
https://github.com/alex3165/react-mapbox-gl/pull/260

In the example, there are no errors in the console, but the layer is not re-rendered. If you check out that branch and g

[2017-06-13 03:31] gurbraj commented on #28
I'm trying the example on https://github.com/alex3165/react-mapbox-gl but the marker does not show for some reason. any idea alex?

import ReactMapboxGl, { Layer, Feature } from "react-mapbox-gl";
import React from "react";
class CrimeMap extends React.Component {
  render() {
    return (

      <div>
        <ReactMapboxGl
          style="mapbox://styles/mapbox/streets-v8"
          accessToken

[2017-06-14 07:35] alex3165 commented on #261
Hey, Thank you for the issue I will handle this with the `v2.0.0` milestone

[2017-06-14 12:52] alex3165 commented on #248
I have actually reverted it as I think it is an unexpected behaviour for users that want to click on the marker, see: https://github.com/alex3165/react-mapbox-gl/pull/263

[2017-06-14 13:31] stereobooster commented on #248
The question is how they do not make zoom buggy and markers are clickable in this example https://www.mapbox.com/bites/00281/

[2017-06-14 14:11] greenkeeper[bot] opened #264 "An in-range update of react is breaking the build 🚨"
## Version **15.6.0** of [react](https://github.com/facebook/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2Freact-15.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      react
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-06-14 18:46] greenkeeper[bot] opened #265 "An in-range update of react-dom is breaking the build 🚨"
## Version **15.6.0** of [react-dom](https://github.com/facebook/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2Freact-dom-15.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      react-dom
    </td>
  </tr>
  <tr>
    <th align=lef

[2017-06-14 19:50] greenkeeper[bot] opened #266 "An in-range update of react-addons-test-utils is breaking the build 🚨"
## Version **15.6.0** of [react-addons-test-utils](https://github.com/facebook/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2Freact-addons-test-utils-15.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      react-addons-test-utils

[2017-06-15 20:24] greenkeeper[bot] opened #267 "An in-range update of @types/react is breaking the build 🚨"
## Version **15.0.29** of [@types/react](https://www.npmjs.com/package/@types/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2F%40types%2Freact-15.0.29">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/react
    </td>
  </tr>

[2017-06-16 20:05] #267 closed

[2017-06-16 20:05] #266 closed

[2017-06-16 20:05] #254 closed

[2017-06-16 20:05] #264 closed

[2017-06-16 20:05] #265 closed

[2017-06-16 21:08] alex3165 commented on #261
https://github.com/alex3165/react-mapbox-gl/pull/269 should fix it

[2017-06-16 23:00] pcraciunoiu commented on #261
@alex3165 are there breaking changes if I upgrade to 2.0.0?

Should I wait to run off of that branch or is it stable?

[2017-06-16 23:16] vjpr opened #271 "Module not found: Error: Can't resolve 'prop-types' in '/node_modules/.registry.npmjs.org/react-mapbox-gl/1.12.0/node_modules/react-mapbox-gl/lib'"
I am using webpack. Why is `prop-types` listed as a devDep if its used in the prod code?

[2017-06-17 09:26] alex3165 commented on #261
I have released v2 under `@next` tag on npm, you can try out with `npm i react-mapbox-gl@next`, the API changed a bit, have a look at the new documentation: https://github.com/alex3165/react-mapbox-gl/blob/v2.0.0/docs/API.md

[2017-06-17 09:28] alex3165 commented on #237
I have released v2 under `@next` tag on npm, feel free to try out: `npm i react-mapbox-gl@next`, the API changed a bit, the new documentation is available here: https://github.com/alex3165/react-mapbox-gl/blob/v2.0.0/docs/API.md

[2017-06-18 11:46] MindRave opened #272 "Clusters misbehaving?"
Hello there!

Thank you for the components, they work as desired and things are looking pretty good. :)

One small issue/question: either I'm misunderstanding something (very probably the case), or Clusters are totally misbehaving for me. When I got only One entry in a Cluster left, shouldn't it go back to being a Marker?

<img width="1053" alt="screen shot 2017-06-18 at 13 43 47" src="https://use

[2017-06-18 13:56] alex3165 commented on #272
Hey you can use the v2 `npm i react-mapbox-gl@next` where Cluster component is fixed. Should be released this week.

[2017-06-18 17:12] radeno commented on #73
It should be helpful to write example :)

[2017-06-18 18:20] stereobooster commented on #246
[code]

[2017-06-18 18:37] stereobooster commented on #217
@alex3165 Can you reopen this? Because in original example the managed to pass through scroll events, but catch click events

[2017-06-18 19:18] stereobooster commented on #246
For future googlers there is `onStyleLoad` which is called when `map` is available

[code]

[2017-06-18 19:18] #246 closed

[2017-06-18 20:14] jpdevries opened #275 "gh-pages down?"
I saw the 2.0.2 release note

and wanted to check it out but http://alex3165.github.io/react-mapbox-gl/ is an empty page.

[2017-06-19 01:10] jpdevries commented on #197
I've upgraded from 1.12 to 2.0.3 and the `onMouseEnter` and other events seemed to have stopped working on my features. I noticed the london cycling example uses `onMouseEnter` but I haven't been able to run that example locally (typescript errors) and the demo site seems to be down.

Just curious if there were any breaking changes to `onMouseEnter` with Feature

[2017-06-19 06:16] #237 closed

[2017-06-19 06:17] alex3165 commented on #272
Should now be fixed with version `2.0.3` on main release

[2017-06-19 06:17] #272 closed

[2017-06-19 06:18] alex3165 commented on #271
Should be fixed with version `2.0.3`, prop-types is a `peerDependencies`

[2017-06-19 06:18] #271 closed

[2017-06-19 06:19] alex3165 commented on #261
`2.0.3` is release as a main tag, GeoJsonLayer should now be updated correctly

[2017-06-19 06:22] alex3165 commented on #197
I am not aware of any breaking changed on the `Feature` component and it seems to work on the examples: http://alex3165.github.io/react-mapbox-gl/

[2017-06-19 06:23] alex3165 commented on #188
Should be fixed with the latest version `2.0.3`

[2017-06-19 06:23] #188 closed

[2017-06-19 06:24] alex3165 commented on #212
Feature is now draggable with version `2.0.3`, you can try out with the `switch-style` example

[2017-06-19 06:24] #212 closed

[2017-06-19 08:43] Wykks commented on #275
Fixed :)

[2017-06-19 08:43] #275 closed

[2017-06-19 09:12] alex3165 commented on #167
@drekli Can you try out with react-mapbox-gl v2?

[2017-06-19 09:15] #226 closed

[2017-06-19 09:17] #241 closed

[2017-06-19 09:24] warka0 commented on #241
Thx !

[2017-06-19 09:40] alex3165 commented on #243
Hey, have a look at https://github.com/alex3165/react-mapbox-gl/blob/master/example/src/demos/switchStyle.tsx it should help you understand how to update the style of the map.

[2017-06-19 09:41] #243 closed

[2017-06-19 09:42] alex3165 commented on #143
I will close this issue because of inactivity. Feel free to open a new issue if you still have a problem with browserify

[2017-06-19 09:42] #143 closed

[2017-06-19 14:24] jpdevries commented on #197
I can't reproduce the issue I was having standalone. So it never happened ;)

[2017-06-19 14:38] alex3165 commented on #197
Cool I will close this issue as v2 has lot of performance improvement for the events

[2017-06-19 14:38] #197 closed

[2017-06-19 16:17] pcraciunoiu commented on #261
@alex3165 this seems to work, but I am still getting the error when I switch styles (once each style change).
`Uncaught TypeError: Cannot read property 'setData' of undefined
    at GeoJSONLayer.componentWillReceiveProps (geojson-layer.js:93)`

Seems to happen here on the line with `getSource`:
[code]

Wondering if I am doing something odd, but it doesn't seem like it. The code for the layer looks

[2017-06-20 03:07] gillioa opened #277 "Error with ReactMapboxFactory"
Here is the error I get when I try to use react-mapbox-gl :
`ReactMapboxFactory(...): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.`

Here is my code :
[code]
I didn't find any way to make it works.
Thank you for your help.

[2017-06-20 05:40] alex3165 commented on #277
Hey, have a look at the documentation or at the example to see how to use the Map component. It is a function that return the Map component.

[2017-06-20 06:11] gillioa commented on #277
Ok, my bad. I took the example from the 1.12 version. Thank you.

[2017-06-20 06:11] #277 closed

[2017-06-20 06:58] drekli commented on #167
Sure thing, I'll look forward to testing that! Thanks for the heads up on v2 and all the hard work!

[2017-06-20 08:43] gillioa opened #278 "Error when removing a layer"
Hi,

Sometimes, I got this error when I try to remove a layer from my map.
[code]

Here is my code :
[code]

On my page, I have a menu to select and unselect locations and it's modifying my locations array.
When I come on my page for the first time, my locations array is empty but I don't get any error. When I select a locations it's displaying a layer correctly on my map, but when I unselect some

[2017-06-20 13:39] gschjetne commented on #136
I have the same problem. When executing `componentWillReceiveProps()` upon receiving the new bounds, it finds `this.state.map` to be `undefined`, so the new bounds are never passed on to Mapbox GL.

It seems the problem is that `this.state.map` is not set until the Mapbox GL instance has finished loading:

[code]

So any changes to props issued before that will be lost. Any particular reason for d

[2017-06-20 13:46] alex3165 commented on #136
@gschjetne Could you reproduce the problem with https://github.com/alex3165/react-mapbox-gl-debug that would be very helpful

[2017-06-20 13:47] alex3165 commented on #261
@pcraciunoiu Hum could you reproduce the issue with https://github.com/alex3165/react-mapbox-gl-debug ? that would be very helpful

[2017-06-20 21:18] greenkeeper[bot] opened #279 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.1** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2F%40types%2Fnode-8.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>

[2017-06-20 21:28] greenkeeper[bot] opened #280 "An in-range update of @types/react is breaking the build 🚨"
## Version **15.0.30** of [@types/react](https://www.npmjs.com/package/@types/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2F%40types%2Freact-15.0.30">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/react
    </td>
  </tr>

[2017-06-21 05:33] ptrikutam commented on #261
@alex3165 I am working with @pcraciunoiu above, and having the same issue as him in our dev environment.

I tried running https://github.com/alex3165/react-mapbox-gl-debug and wasn't able to start up the app:

[code]

What am I doing incorrectly?

[2017-06-21 06:44] gschjetne commented on #136
@alex3165 Here's my reproduction: https://github.com/leanmarine/react-mapbox-gl-debug/blob/master/src/App.js

[2017-06-21 08:36] davecranwell commented on #212
Awesome, thanks! I implemented it much the same as you.

One thing I've discovered is that on full-screen maps or those with lots of other points in the layer, mapbox struggles to keep 60fps as you drag the marker around, causing it to lag considerably behind the pointer. I suspect mapbox's engine just isn't optimised for that kind of speed of input.

Overlays, however - or in this case Markers -

[2017-06-21 17:13] superfunkminister opened #281 "Features do not render until map interacted with when using fitBounds"
When using fitBounds I have to interact with the map first (zoom in, pan etc) in order for my features and directions to show.

[2017-06-22 08:46] greenkeeper[bot] opened #282 "An in-range update of enzyme is breaking the build 🚨"
## Version **2.9.0** of [enzyme](https://github.com/airbnb/enzyme) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2Fenzyme-2.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      enzyme
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-06-23 14:43] greenkeeper[bot] opened #283 "An in-range update of @types/enzyme is breaking the build 🚨"
## Version **2.8.1** of [@types/enzyme](https://www.npmjs.com/package/@types/enzyme) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2F%40types%2Fenzyme-2.8.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/enzyme
    </td>
  </tr>

[2017-06-23 14:47] greenkeeper[bot] opened #284 "An in-range update of @types/jest is breaking the build 🚨"
## Version **20.0.2** of [@types/jest](https://www.npmjs.com/package/@types/jest) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2F%40types%2Fjest-20.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/jest
    </td>
  </tr>
  <tr>

[2017-06-24 10:08] Haroenv commented on #224
This can be fixed by installing mapbox-gl in your app, since it's a peerDep:

[code]

[2017-06-25 13:23] marek-sed commented on #167
this is still happening even on version 2

[2017-06-26 02:36] Ricardo-C-Oliveira opened #285 "Get coordinate on click"
How can we get the cursor coordinate using the onClick event on the map?

Here is how I'm trying:

[code]
I would expect to be able to access the `lngLat` property similarly to this example: https://www.mapbox.com/mapbox-gl-js/example/mouse-position/

[2017-06-26 12:27] alex3165 commented on #167
@marek-sed, @Wykks will look into that

[2017-06-26 13:43] superfunkminister commented on #281
Update: I have tried using `onStyleLoad={this.setBounds.bind(this)}` and then setting the bounds via `map.fitBounds(this.state.boundingBox);` however this seems to have exactly the same effect!

[2017-06-26 15:39] marek-sed commented on #167
@Wykks I looked at the code I think I found the issue and was able to fix it properly.
Hope it helps
#286

[2017-06-26 21:11] alex3165 commented on #285
Almost that, sorry it is not clear in the documentation, here is what you need:
[code]

[2017-06-26 21:11] #285 closed

[2017-06-26 21:13] alex3165 commented on #281
Hey @superfunkminister, could you reproduce the issue with https://github.com/alex3165/react-mapbox-gl-debug, that would be very helpful! thanks

[2017-06-26 21:16] greenkeeper[bot] opened #287 "An in-range update of @types/core-js is breaking the build 🚨"
## Version **0.9.42** of [@types/core-js](https://www.npmjs.com/package/@types/core-js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2F%40types%2Fcore-js-0.9.42">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/core-js
    </td>