[2017-06-26 21:17] #167 closed

[2017-06-26 21:20] alex3165 commented on #261
@ptrikutam Sorry for that I thought I updated react-mapbox-gl to 2.0 but actually didn't it should work now if you pull. If you can isolate the bug I will work on it asap thanks

[2017-06-26 21:26] alex3165 commented on #234
You can use `onStyleLoad` prop of the map component to get an instance of the map then use it to add you event listener and your popup.

I would suggest to use `Layer` and `Feature` with `Popup` component instead though, have a look at the london-cycle example: https://github.com/alex3165/react-mapbox-gl/blob/master/example/src/demos/londonCycle.tsx

[2017-06-26 21:26] #234 closed

[2017-06-26 21:33] alex3165 commented on #278
Hey @gillioa, The above code isn't really helpful, could you reproduce the bug using this boilerplate: https://github.com/alex3165/react-mapbox-gl-debug. That would be very helpful! thanks

[2017-06-26 22:14] alex3165 commented on #167
Released with version `2.0.6`

[2017-06-26 22:17] #279 closed

[2017-06-26 22:17] #280 closed

[2017-06-26 22:17] #282 closed

[2017-06-26 22:17] #283 closed

[2017-06-26 22:17] #284 closed

[2017-06-26 22:17] #287 closed

[2017-06-27 01:57] alpha-beta-soup opened #288 "Stacking multiple tilejson sources"
I have a base layer style being used like so:

[code]

I then add various sources and layers for both image tiles (`<Layer type={"raster"}/>`) and GeoJSON data, both from custom APIs. This all works great. However I would now like to show coastlines and other basemap-like labels *on top* of these non-Mapbox layers, separately from the most fundamental base style. From my understanding, it is not p

[2017-06-27 02:06] alpha-beta-soup commented on #288
Suspect I'm coming up against a generic Mapbox GL JS issue, unrelated to this project. e.g. https://github.com/mapbox/mapbox-gl-js/issues/4000

[2017-06-27 08:09] alex3165 commented on #252
I think it is unlikely it would be an issue with react-mapbox-gl but instead something for mapbox-gl. I would be happy to investigate if you can reproduce your issue with https://github.com/alex3165/react-mapbox-gl-debug

[2017-06-27 08:14] alex3165 commented on #160
I actually don't think it is up to react-mapbox-gl to solve this, a good way to proceed would be to listen the end of the animation with `onMoveEnd ` and sync your props accordingly

[2017-06-27 08:14] #160 closed

[2017-06-27 08:23] alex3165 commented on #288
Hey @alpha-beta-soup that is quite specific and indeed I don't think there is a way to achieve that at the moment. I will keep this issue open and if you could follow up on the mapbox-gl-js issue and keep this issue updated, that would be nice 👍

[2017-06-27 20:19] niksinfinite10 opened #289 "Module not found: Can't resolve 'mapbox-gl' in '/Users/nsurte/rnd/image-pipeline-ui/node_modules/react-mapbox-gl/lib'"
./~/react-mapbox-gl/lib/map.js is dependent on mapbox-gl to resolve this issue you need to install mapbox-gl manually

[2017-06-27 21:03] alex3165 commented on #289
It is done on purpose you need to install mapbox-gl yourself, I have updated the readme to make it clearer https://github.com/alex3165/react-mapbox-gl#how-to-start.

[2017-06-27 21:03] #289 closed

[2017-06-28 15:14] Yitaek opened #291 "Mapbox Attribution Issue"
Mapbox attribution control is turned off by default (although the doc indicates that it is turned on). If you are building demos using Mapbox, apparently it violates their Terms fo Service.

[2017-06-29 08:34] alex3165 commented on #291
Hey @Yitaek , the `attributionControl` property is turned on by default as you can see on the examples on Github pages http://alex3165.github.io/react-mapbox-gl/.

[2017-06-29 15:48] greenkeeper[bot] opened #293 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.6** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2F%40types%2Fnode-8.0.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>

[2017-07-05 03:09] benjaminhon commented on #14
is this working? i cant seem to add an image source, keeps saying that source id not found

[2017-07-05 19:04] greenkeeper[bot] opened #294 "An in-range update of tslint is breaking the build 🚨"
## Version **5.5.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/alex3165/react-mapbox-gl/compare/greenkeeper%2Ftslint-5.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left>
      C

[2017-07-06 05:08] benjaminhon opened #295 "Missing onLoad event"
it seems to be missing, it is needed for plugins like mapbox gl draw, where you can only do things after the on load event

[2017-07-06 08:16] alex3165 commented on #295
You can use `onStyleLoad ` which is doing `map.on('load')` under the hood

[2017-07-06 08:17] #291 closed

[2017-07-06 08:19] #136 closed

[2017-07-06 08:33] alex3165 commented on #281
@superfunkminister Can you tell me if the bug is still there with version `2.1.0`?

[2017-07-06 11:48] superfunkminister commented on #281
Unfortunately not... I will try reproduce using the debug repo as soon as I get a spare moment!

[2017-07-07 21:48] #293 closed

[2017-07-07 21:48] #294 closed

[2017-07-07 21:48] #295 closed

[2017-07-09 15:37] fijemax opened #296 "Layers in chrome are not displayed"
Hello, i try to display Layer but they are not displayed under Chrome browser.

![capture du 2017-07-09 17-36-27](https://user-images.githubusercontent.com/16467651/27995362-40a0b6e8-64cd-11e7-8451-72bfa5858802.png)

[2017-07-09 17:29] #296 closed

[2017-07-10 11:55] anecdote1 opened #297 "layerOptions.id resets fillPaint in GeoJSONLayer"
I noticed that if an `id` is passed to a `GeoJSONLayer` using `layerOptions`, the previously set `fillPaint` properties are removed.
[code]

Is this expected behaviour?

[2017-07-13 07:41] s-chand opened #299 "Support for MapboxGL plugins"
Can we have a way to install mapboxgl plugins like mapboxgl-compare for example using yarn/npm install && ES6 import?

[2017-07-13 10:51] jo-san opened #300 "FitBounts issue when passing array of lonlat"
Hi,

Am trying to use fitBounds to make all my markers visible with a proper zoom level.

[code]

[code]

and am getting this error

[code]

Am not getting whats wrong here. Please help me with this.

[2017-07-13 13:10] jo-san commented on #300
Tried with [https://github.com/alex3165/react-mapbox-gl/blob/master/docs/API.md](https://github.com/alex3165/react-mapbox-gl/blob/master/docs/API.md) getting the same error.

[2017-07-13 13:44] alex3165 commented on #300
Hey @jo-san, could you reproduce your issue with https://github.com/alex3165/react-mapbox-gl-debug ?

[2017-07-15 10:08] swissums opened #301 "Docs: Example of using map Events inside a Component"
Could you update the Docs to include an example of how we can actually use events inside our components. I am new to react so maybe this isn't 100% necessary but it would make things much more clear.

In example pulling the longlat from a onClick.

[2017-07-16 07:47] jo-san commented on #300
Thanks @alex3165 Already i have tried it before you insist on bedug repo. got the same response.

The input am passing to fitBounds should be in the form of `Array<Array<number>>`

    getMinOrMax(markersObj, minOrMax, latOrLng) {
     if(minOrMax == "max"){
      return _.maxBy(markersObj, function (value) {
          return value[latOrLng]
      })[latOrLng];
     }else{
      return _.minBy(mar

[2017-07-16 07:48] #300 closed

[2017-07-16 23:19] barbagrigia commented on #299
And [mapbox-gl-language](https://github.com/mapbox/mapbox-gl-language)

[2017-07-17 16:40] rlueder opened #302 "Mouse events from Feature components not firing"
Hello,

I'm having trouble getting mouse events to fire from Feature components. I installed the debugging boilerplate and was able to reproduce the issue.

The click events seem to go straight through the Feature component, the onClickMap event gets fired instead as if Feature components weren't there. The Marker component fires all events (onClick, onMouseEnter, onMouseLeave) correctly.

I think

[2017-07-19 07:53] alex3165 commented on #299
Hey, it is possible to write your own react component that add those features, for example for the mapbox-gl-language plugin, the component would probably look like this:

[code]

Alternatively you could get the instance of the map using `onStyleLoad` prop and add the control from the component you instantiate the map component.

[2017-07-19 07:56] alex3165 commented on #297
Hey @anecdote1, thanks for reporting the issue, it is not expected, I will be in holidays for a month so I won't be able to work on it soon. Any PR is welcome though.

[2017-07-19 08:12] alex3165 commented on #301
Hey @swissums, yeah I think it is not clear from the documentation. Events of the Map component have this signature: `(map: Mapbox.Map, evt: Mapbox.event) => void`.
For the events of a Feature component the signature is `(eventPlusMap: any) => void`, `eventPlusMap` is an object that get Event spread and the map instance. If you want to get the lattitude and longitude of a Feature on click, for exa

[2017-07-19 08:14] alex3165 commented on #302
Hey @rlueder, thank you for reporting the issue, could you send me a link to the bug you reproduced with `react-mapbox-gl-debug`?

[2017-07-19 11:01] swissums commented on #301
Ah ok now I completely understand. Thanks for that!

[2017-07-19 16:07] rlueder commented on #302
Sure, added a sandbox link to the issue description. 👍

[2017-07-19 16:11] rlueder commented on #302
As a side note, I thought that adding transparent Markers on top of the Features could work, it does work as a quick hack but performance when moving/panning/zooming the map drops so much that's not a good idea.

[2017-07-20 05:35] jo-san opened #303 "Markers not added to the Map in the initial load"
Hi @alex3165,

Am using `Marker` components for custom markup for markers.

[code]

`Marker` component is not added to the DOM until i resize the browser or any action like Zoom or Pan (any action inside the map). is it a known issue? if so whats the workaround for this?

[2017-07-20 21:02] #301 closed

[2017-07-20 21:23] alex3165 commented on #302
Hey @rlueder, That's not how you should use `Layer` and `GeoJsonLayer` here is your example modified: https://codesandbox.io/s/k5QVw577x

Layer add both a `Layer` and a `Source` that's probably a confusing bit I should add to the documentation. You should use `GeoJsonLayer` only for static data that doesn't need interactions (mouse events...)

[2017-07-20 21:25] #302 closed

[2017-07-20 21:26] alex3165 commented on #303
Hey @jo-san, could you reproduce your bug with https://github.com/alex3165/react-mapbox-gl-debug ? thanks

[2017-07-20 21:28] alex3165 commented on #303
Although this issue might be related to https://github.com/alex3165/react-mapbox-gl/issues/281

[2017-07-21 05:29] rlueder commented on #302
@alex3165 Thanks for finding the time to reply and posting an example. I understand now, and have managed to make it fit my needs (I have an API generating GeoJSON for a few thousand points I need added to the map).

In case someone else has the same wrong assumptions as me, here's a summary of what I did wrong:

1. GeoJSONLayers do not support mouse events, I wrongly assumed they were a "shorthan

[2017-07-21 08:18] alex3165 commented on #302
Thanks for the detailed answer 👍

[2017-07-21 09:12] jo-san commented on #303
It makes even worse after updated to latest `2.1.0` Now `onStyleLoad` event itself is not triggering while the pins aren't plotted. Prev version (2.0.3) i was able to get the map object in `onStyleLoad`

[2017-07-21 13:36] alex3165 commented on #303
Could you please reproduce your issue @jo-san using https://github.com/alex3165/react-mapbox-gl-debug ? thank you

[2017-07-21 14:31] s-chand commented on #299
Thanks @alex3165 . Lovely example. I tried to follow the example to extend the mapboxgl-compare. Sigh.

[2017-07-22 04:58] munwr opened #305 "Installation error"
Node: 8.1.4
NPM: 5.3.0

`npm install react-mapbox-gl mapbox-gl --save`

success: react-mapbox-gl@2.1.0
Failure: mapbox-gl

---

error log for mapbox-gl:

npm WARN deprecated vector-tile@1.3.0: This module has moved: please install @mapbox/vector-tile instead
npm ERR! code ENOLOCAL
npm ERR! Could not install from "node_modules/mapbox-gl/src/style-spec" as it does not contain a package.json file.

[2017-07-22 06:08] jo-san commented on #303
@alex3165 Can't reproduce the issue on debug project. Used the pointer co-ordinates from my dev application only. Is there anything i can do to figure out why `onStyleLoad` callback event didn't triggered?

[2017-07-22 11:34] daredevil82 commented on #140
To add to @pronebird's report, I'd like to add my own experience.  Admittedly, this is a much more resource intensive example and is centered around clustering

The [institution_data.txt file](https://github.com/alex3165/react-mapbox-gl/files/1167318/institution_data.txt) attached here is a 2.7MB JSON file with the location coordinates of all institutions of higher education in the US. There are a

[2017-07-22 19:53] Wykks commented on #305
Upstream issue, use `npm install --save mapbox-gl@0.38.0` for the time being

[2017-07-23 16:32] Wykks commented on #208
Hi, I implemented this feature, with minimal changes to the API (no breaking changes).
https://github.com/alex3165/react-mapbox-gl/pull/306

[2017-07-25 09:44] StevanCakic opened #307 "[Question] TypeError: sourceTypes[r.type] is not a constructor"
Hi,

I have a problem with this error for a long.

I try to add a layer on the map with some source data, but an error from the title always appear.

Here is the chunk of code which causes the problem:

[code]
where:

[code]

[2017-07-25 11:04] StevanCakic commented on #307
Solved: Wrong value for type property (FeatureCollection -> geojson) and from property name for features (features -> data)

[2017-07-25 11:04] #307 closed

[2017-07-25 19:25] rhewitt22 opened #308 "Clusters with click-handling children"
I would like to use the `Cluster` component while supporting click events on individual features.  Can `Feature` components only be nested in `Layer` components?  It doesn't appear that `Layer` components can be nested within a `Cluster`.

I currently have a `Cluster` of `Markers`, but the events the `Marker`s give are not the same as those provided by `Features`.  [The docs just state the followi

[2017-07-25 23:17] TobyApplyBoard opened #309 "WebGL Warnings & Invalid arguments breaking error when paged is zoomed in firefox / chrome"
Sorry - this is my first issue ever reported on github so bear with me and my crappy syling.
There's a breaking error with this component.
(I tested mapbox-gl in a non react enviornment and there was no issue)

Warnings:
`
Error: WebGL warning: texImage2D: Alpha-premult and y-flip are deprecated for non-DOM-Element uploads.
Error: WebGL warning: texSubImage2D: Alpha-premult and y-flip are deprecat

[2017-07-26 13:44] rhewitt22 commented on #308
Use an arrow function to pass the feature to your click handling function.

[code]

[2017-07-26 13:44] #308 closed

[2017-07-26 19:45] gijs commented on #299
Tried to get `mapboxgl-compare` running this way but failed, too... any hints?

[2017-07-27 10:48] Wykks commented on #308
The current API of `Marker` doesn"t contain the `feature` in his `props`. So there is no way to send the `feature` that he doesn't have without closure like you just did.
You can cluster `Layer` using the native API of `mapbox-gl`: https://www.mapbox.com/mapbox-gl-js/example/cluster/
I highly recommend you to use that if you don't need very custom HTML to render your markers. It's way more perform

[2017-07-27 23:52] Utzel-Butzel opened #310 "Adding fill-extrusion to <Layer/>"
Currently only Geojson supports 3D extrusions (at least I think):

`type?: 'symbol' | 'line' | 'fill' | 'circle' | 'raster';
`

Many thanks for this great piece of software! :)

[2017-07-28 07:35] #305 closed

[2017-07-28 19:52] zzpreneur opened #311 "Adding popups to cluster markers"
I'm trying to add popups to a cluster of markers. Currently, I have a cluster of markers on the map. I also have popups working separately. The goal is to display the clusters of markers and clicking a marker displays the corresponding pop-up. I'm having trouble getting to work. Right now the tooltips aren't appearing at the right coordinates. See code sample below and the attachment.

Any ideas?

[2017-07-28 21:16] TobyApplyBoard commented on #309
Found the solution - actually this is an issue with Mapbox-gl, not react-mapbox-gl. Downgraded to mapbox-gl@^0.37.0 and resolved both issues.

[2017-07-28 21:18] TobyApplyBoard commented on #311
add coordinates and an offset to your popup

like this:
[code]

[2017-07-31 00:53] zzpreneur commented on #311
that worked, @TobyApplyBoard

[2017-07-31 13:18] tofuness opened #312 "GeoJSONLayer doesn't update on layerOptions.filter change"
Related to #169. `map.setFilter` was only added to `Layer`.

[2017-07-31 22:03] zzpreneur commented on #311
My bad, that didn't fix the issue @TobyApplyBoard . Any other ideas? I'm I nesting the component correctly? Also, I need to change the state of the popup from not being visible to visible when a user clicks on the parent marker. The API doesn't show examples of doing this way. Is it possible?

[2017-07-31 23:05] TobyApplyBoard commented on #311
i have the popup component nested within the map, not within a marker or a cluster or a layer. Try that and you may get what you want.

[2017-08-01 06:17] 4xDMG commented on #312
Is it okay if I work on this issue?

[2017-08-01 11:42] rmakovyak opened #313 "dragPan is enabled after scroll happened"
I'm passing following options to component
[code]

Works well at initial load. But once zoom control buttons are used, dragPan and scrollZoom are enabled again.

Maybe I am doing something wrong? Can someone help me with this one?

[2017-08-01 12:01] fidiego opened #314 "Support for multiple cluster layers"
I would like to request a demo in which multiple cluster layers are added to the same map. At the moment, I can only add one `<Cluster>` component to the `<Map>` component. Does this library support adding multiple `<Cluster>` components?

[2017-08-01 12:49] #313 closed

[2017-08-01 17:18] anthonyshull opened #316 "On onClick doesn't release control until onMouseOut"
I am using react-router-redux. When I click on a Feature and trigger a location change, the change is reflected in redux. But, nothing happens until I onMouseOut from the feature. The only thing that I can think is that the component isn't releasing control back to the application. Is there a way to force the map to release control?

[2017-08-02 00:35] clydecbrown commented on #278
I get the same behavior in my own app. After a call to `render()` which removes a layer, I start to see these errors on pretty much any UI event, such as click, drag, or mouse movement. I dug into the react-mapbox-gl code a bit and verified that it is firing `map.removeLayer(this.id)` as expected inside `componentWillUnmount()`. But apparently some event handler is calling `Style.queryRenderedFeat

[2017-08-02 08:16] tofuness commented on #312
@4xDMG That would be awesome. I am currently using Layer + Source instead.

[2017-08-02 11:38] Wykks commented on #312
@4xDMG  Sure any PR for this is welcome :)

[2017-08-02 21:01] bsouthga commented on #123
In case anyone else ends up here, an easy fix is to create a geocoder component...

[code]

And then include it in your map...

[code]

[2017-08-02 23:52] 4xDMG commented on #312
Awesome. I'll give it ago tomorrow.

[2017-08-03 00:18] MikeKerrBBC commented on #141
I have something like this

`
<Map
          className={styles.mapbox}
          center={[distributionLng, distributionLat]}
          style="mapbox://styles/mapbox/light-v9"

          <Layer
            type="symbol"
            id="marker"
            layout={{ "icon-image": "harbor-15" }}

            <Feature
              coordinates={[-87.622554, 41.882534]}
              onClick={() => {

[2017-08-03 17:09] MikeKerrBBC commented on #141
@alex3165 Do I need to trigger a re-render of the map?

[2017-08-03 17:55] Wykks commented on #141
You just need to put your boolean into the state of your component, with setState, like you would do with anything else in react, nothing specific to react-mapbox-gl here.

[2017-08-03 18:43] MikeKerrBBC commented on #141
Well, @Wykks this might become unmanageable in the future with a lot of points. Let me stepback... what is the recommended way to make Popups for each of your feature the open up onClick?

in the original MapBox documentation you do something like this inClick

[code]
What is the react-mapbox-gl way?

I want to do this basically
https://www.mapbox.com/mapbox-gl-js/example/popup-on-click/

[2017-08-03 22:03] viktorstrate opened #317 "Cluster a GeoJSON Source component"
Is it possible to generate clusters / grouping from a `<Source>` component, like this example by the official mapbox documentation? https://www.mapbox.com/mapbox-gl-js/example/cluster/

I can only figure out how to make clusters using `<Marker>` and `<Cluster>`

Is there a way I can pass `cluster`, `clusterMaxZoom` and `clusterRadius` to a `<Source>` component.
I know that `<Layer>` has a `layerOp

[2017-08-07 12:36] Wykks commented on #141
@MikeKerrBBC something like this https://www.webpackbin.com/bins/-KqwVeENaV7MY4Xy4_vB

[2017-08-07 14:47] StevenLangbroek opened #318 "Click handler on GeoJSONLayer?"
I have a GeoJSON file, which basically contains a single MultiPolygon. I'm rendering it using a GeoJSONLayer, which is working fine, but I'm trying to attach a click-handler to the resulting "fill", and I'm stuck. If you can point me in the right direction I'd gladly add an example and docs to the repo (this seems like a common use-case).

[2017-08-07 16:39] StevenLangbroek commented on #318
Nevermind, figured it out.

[2017-08-07 16:39] #318 closed

[2017-08-07 16:43] MikeKerrBBC commented on #141
Yes, thank you!

[2017-08-07 16:48] StevenLangbroek opened #319 "Map zooms on `onMouseEnter`?"
I have a set of GeoJSON data (fishing zones). Each "Feature" renders its own Layer + Feature, and on hover I setState to an identifier so I can highlight the zone. The code looks like this:

[code]

When I hover over one of the areas, the Map zooms in though. Is this expected behavior? Do I need to lock zoom somewhere?

[2017-08-07 16:57] StevenLangbroek commented on #319
I imagine this has to do with calling setState, causing a re-render, forcing back to the original zoom level? How can I prevent this?

[2017-08-07 17:29] StevenLangbroek commented on #319
Got it. My bad.

[2017-08-07 17:29] #319 closed

[2017-08-07 18:01] superfunkminister commented on #281
Tried reproducing the issue using the debug app and the problem wasn't there. Seems like you need this exact combination of dependencies for it to work!

[code]

[2017-08-07 18:01] superfunkminister commented on #303
Hey @jo-san, check my solution to https://github.com/alex3165/react-mapbox-gl/issues/281 and see if that works!

[2017-08-12 04:08] systemlevel opened #320 "Loss of existing layers when map style is changed (how to)?"
Not sure if anyone else is experiencing the following issue when map style are changed:

In my case, I'm storing the current mapbox map style in a react state variable. I then setState() to update the map style and it works just fine.

However, the layers I had displayed on the map before changing the style state get removed on the new style.  I have the layer in question loaded into mapbox on bot

[2017-08-14 22:08] thyforhtian opened #322 "Is it possible to re-add source to trigger onSourceAdded?"
Hi,
is it possible to re-add source to trigger `onSourceAdded`?

I thought I'd do that through removing and adding the source again through `map.removeSource/map.addSource` but it turned out calling `removeSource` adds it back straight away. Am I missing something? Is that a deliberate beahviour? Thank you.

[2017-08-15 07:54] alex3165 commented on #123
Good job @bsouthga ! 👍

[2017-08-15 08:25] alex3165 commented on #299
@gijs Can you send me a link to a git repository with you implementation? I am happy to help you

[2017-08-15 08:26] alex3165 commented on #310
Hey @Utzel-Butzel did you have a look at https://github.com/alex3165/react-mapbox-gl/blob/master/example/src/demos/threeDMap.tsx ?

[2017-08-15 08:30] alex3165 commented on #314
Hey @fidiego in theory you should be able to have multiple cluster, any thought @Wykks ? I can give it a try and confirm as soon as I have some free time

[2017-08-15 09:36] gijs commented on #299
Hi @alex3165 thanks for getting back to me - I solved it by using vanilla mapbox-gl for now. (project went over its deadline)

[2017-08-15 10:50] Wykks commented on #314
Well, never tried myself, but I don't see anything preventing this. Have you come across any issues while doing that ?

[2017-08-16 07:47] alex3165 commented on #317
Hey @viktorstrate, you can cluster `Source` and `Layer` components yes, you will need to play with `layerOptions` and `sourceOptions` props to match the implementation of this [example](https://www.mapbox.com/mapbox-gl-js/example/cluster/) on MapboxGL assuming that each `addLayer` is a new `Layer` component. Don't hesitate to share your implementation I can help you if needed too.

[2017-08-16 07:48] alex3165 commented on #281
Thank you @superfunkminister , you probably don't need `mapbox` though. I will close this issue then.

[2017-08-16 07:48] #281 closed

[2017-08-16 07:51] alex3165 commented on #303
I will close this issue, I don't think there is any problem with `onStyleLoad` atm. Feel free to open another issue maybe a bit more specific if you still experience this.

[2017-08-16 07:51] #303 closed

[2017-08-16 08:09] alex3165 commented on #320
Hey @systemlevel , there is possibly some issues with layers being removed when changing the style of the map, can you tell me the component used that doesn't show up when you change the style?

If you could reproduce the issue using [react-mapbox-gl-debug](https://github.com/alex3165/react-mapbox-gl-debug) that would be very helpful for me to debug.

[2017-08-16 08:12] alex3165 commented on #322
Hey @thyforhtian, you will need to unmount the `Source` component and mount it again. The source is added back because the `Source` component is mounted and you probably trigger a re-render which call `addSource` if the source is not on the map (for example when you previously removed it manually by calling `map.removeSource`).

[2017-08-16 08:32] alex3165 commented on #208
Release with version `2.2.0`, see: https://github.com/alex3165/react-mapbox-gl/releases/tag/v2.2.0

[2017-08-16 08:32] #208 closed

[2017-08-16 14:49] systemlevel commented on #320
Hi @alex3165, the layer that gets removed when I change map styles is a tileset I have hosted on mapbox.

To display this tileset layer on the "outdoors" map style you see above, I create a source and a layer. Again, this is refrencing a map hosted on mapbox referenced by the url below.  Here is what that looks like:

`<Source id="utah_unitsgeojson" tileJsonSource={{ type: 'vector', url: "mapbox:/

[2017-08-19 17:21] thyforhtian commented on #322
Thank you.

[2017-08-20 08:45] matong1745 opened #324 "I've got an error Error: Invalid LngLat latitude value: must be between -90 and 90"
`  <Map
   style="mapbox://styles/mapbox/outdoors-v10"
                containerStyle={{
                    height: 400,
                    width: "100vw",
                    marginTop: 60
                }}
                center={[18.80,98.95]}
                zoom={[9]}> `
Why mapbox can use only -90 to 90?

[2017-08-20 08:52] #324 closed

[2017-08-20 21:13] viktorstrate commented on #317
Thank you for your response @alex3165 , I managed to get it to work, but I had to change `<Source>` to `<GeoJSONLayer>`, because `<Source>` doesn't have a `sourceOptions` prop. I don't know if there is any reason for that?

Nevermind, it isn't a problem in my case, because the source is already formatted as GeoJSON.
This is what I came up with.

[code]

[2017-08-21 09:47] #317 closed

[2017-08-21 22:10] amaurymartiny commented on #106
Hi all! I needed draw controls for my own project, so went ahead and created a repo based on @alex3165's code: https://github.com/amaurymartiny/react-mapbox-gl-draw.

Any comments are welcome.

[2017-08-22 09:06] alex3165 commented on #106
@amaurymartiny That's really good stuff! Some things you could add:
- Remove control on component unmount [removeControl](https://www.mapbox.com/mapbox-gl-js/api/#map#removecontrol)
- Update your readme in the example folder

I would be happy to add an example for react-mapbox-gl-draw on the website http://alex3165.github.io/react-mapbox-gl/ if you agreed.

[2017-08-22 10:57] jussirantala opened #325 "onClick event for GeoJSONLayer?"
In mapbox documentation it seems there's a click event for map layers. I think it should be in the props of GeoJSONLayer component so it could be used.

[2017-08-22 16:58] amaurymartiny commented on #106
Hi @alex3165, I added the removeControl on unmount: https://github.com/amaurymartiny/react-mapbox-gl-draw/blob/master/src/index.js.

However I get an error on unmount. If I put a `console.log(this.context.map);` before line 12 in the above file, I see that the `style` field is null, and that's what's causing the error. However, it's not null in the other phases of the react component lifecycle.

I

[2017-08-23 06:20] jussirantala commented on #325
Nvm. I can set id for the GeoJSONLayer and use this:
`  map.on('click', 'LayerID', function (e) {
      // do stuff
    });
`

[2017-08-23 06:42] jussirantala commented on #325
Oh, the id is set like this:
`private id: string = this.props.id || `geojson-${generateID()}`;`

How I can get the ID which it sets for the layer?

[2017-08-23 08:24] lkazberova opened #326 "[Popup] bug with className. Custom className override defaultClassName"
Hi!

Sorry for my english.
Use case : set className to Popup, for example "my-popup"
Expected result: defaultClassName concated with custom className, for example "my-popup mapboxgl-popup mapboxgl-popup-anchor-bottom"
Actual result:  "my-popup" without defaultClassName

Why: https://github.com/alex3165/react-mapbox-gl/blob/master/src/popup.tsx#L34
computed className overrided with props.className

[2017-08-23 15:17] alex3165 commented on #326
Hey @lkazberova it was a mistake it should be fixed with version `2.2.1` of the library. Feel free to close this issue if it is good now.

[2017-08-23 16:04] lkazberova commented on #326
Ok will do with test for popup

[2017-08-23 16:08] #326 closed

[2017-08-23 19:18] clairethompson opened #328 "Pixel offset for map center"
We're in the middle of switching from using mapbox-gl-js to react-mapbox-gl and have noticed an issue.

Previously when we wanted to recenter the map, we were using flyTo and passing a pixel offset based on the offset we wanted with respect to addition UI panels on the screen.  [flyTo](https://www.mapbox.com/mapbox-gl-js/api/#map#flyto) takes [AnimationOptions](https://www.mapbox.com/mapbox-gl-js/

[2017-08-23 22:13] clairethompson commented on #328
For now, we're using the following monkey patch on the `onStyleLoad` property:
[code]
It'd be nicer if there was a better way to do this.

[2017-08-24 07:28] alex3165 commented on #328
Hey @clairethompson thank you for signalling the issue, it is indeed a missing feature. I will work on it asap

[2017-08-24 08:15] alex3165 commented on #328
I opened a PR to add animationOptions and flyToOptions https://github.com/alex3165/react-mapbox-gl/pull/329

[2017-08-24 08:15] #322 closed

[2017-08-24 08:19] alex3165 commented on #316
Hey @anthonyshull I am not sure but I don't think there is any issue with this library related to click event on the Feature component. Could you clarify and isolate the problem on a different issue if you think there is one? thanks.

[2017-08-24 08:19] #316 closed

[2017-08-24 08:20] alex3165 commented on #312
@4xDMG any update on this by any chance?

[2017-08-24 08:23] alex3165 commented on #325
@jussirantala Thank you for the issue and sorry for the late reply. I am happy to have an `onClick` prop on the GeoJson component if anyone want to work on this 👍 . Otherwise I will try to find some times for this asap.

[2017-08-24 08:26] alex3165 commented on #249
I will close this issue as I don't think it would be useful anymore

[2017-08-24 08:26] #249 closed

[2017-08-24 08:28] alex3165 commented on #140
Hey everyone, it is been a long time since this issue hasn't been updated. Although with react-mapbox-gl v2 I potentially fix some memory leaks issues and mapbox-gl itself fixed some too so it is unlikely this issue is relevant anymore. If so feel free to open a new issue with some more explanations.

[2017-08-24 08:28] #140 closed

[2017-08-24 08:29] alex3165 commented on #133
I will close this issue because of inactivity and I don't think it is relevant anymore.

[2017-08-24 08:29] #133 closed

[2017-08-24 14:22] lcsteixeira commented on #28
gurbraj, u have no token in code

[2017-08-25 09:01] rikee312 opened #330 "ick"

[2017-08-25 09:01] #330 closed

[2017-08-29 20:40] alex3165 commented on #328
Released with tag `2.2.2` feel free to try it out 👍

[2017-08-29 20:40] #328 closed

[2017-08-30 00:51] clydecbrown commented on #278
Here is the underlying bug: https://github.com/mapbox/mapbox-gl-js/issues/5145. The fix should be in the next mapbox-gl-js release (0.40.0).

[2017-08-30 07:53] alex3165 commented on #299
I would suggest to have a look at @amaurymartiny adaptation of mapbox-gl-draw for react-mapbox-gl for inspirations https://github.com/amaurymartiny/react-mapbox-gl-draw

[2017-08-30 07:53] #299 closed

[2017-08-30 08:34] viktorstrate commented on #299
Is there a way to access `this.context.map`, without creating a child component?

[2017-08-30 08:55] alex3165 commented on #299
Yes using `onStyleLoad` prop of the `Map` component, the first argument passed is the instance of the map.

[2017-08-31 18:50] rhewitt22 opened #333 "Feature request: zoom to bounds of cluster on click"
When the user clicks on a cluster the map zooms to the bounds of the cluster.

Similar to how [leaflet.markercluster](https://github.com/Leaflet/Leaflet.markercluster) works.

[Example](https://leaflet.github.io/Leaflet.markercluster/example/marker-clustering-realworld.388.html).

[2017-09-01 05:27] systemlevel commented on #320
Hi @alex3165 I was able to get some debut output.  I don't know how helpful this output is but this is the error that I get whenever I switch styles.  The layers are no longer visible and even when I go to apply a new layer after a style switch I get the following error:

`modules.js:209170 Error: layers.units-utahgeojson.filter[1][2]: string, number, or boolean expected, undefined found
    at Fu

[2017-09-01 07:57] alex3165 commented on #333
Hey @rhewitt22 , I think that could be possible, how would you see it in term of API?

What about something like:
[code]

cc @Wykks

[2017-09-01 11:02] rhewitt22 commented on #333
@alex3165 it doesn't get any simpler of an API than that; I like it.
😃

[2017-09-01 14:17] SBRK commented on #312
Since I need that, I'm also woring on it

[2017-09-02 13:21] alex3165 opened #334 "Add mouse events tests for GeoJson layer"
Add tests for the mouse events handlers of the GeoJson layer.

Mock `map.on` and check we call the mocked function with the right event name from props

[2017-09-02 13:28] alex3165 commented on #325
Released with version `2.3.0`

[2017-09-02 13:28] #325 closed

[2017-09-02 13:29] alex3165 commented on #312
Released with version `2.3.0`

[2017-09-02 13:29] #312 closed

[2017-09-02 22:31] alex3165 commented on #154
I will close this issue for inactivity. Also I don't think the library should prevent from changing the position of the map while animating. It is better for developers consuming the library to old the re-rendering when the map is animating then listening for moveEnd event to trigger the rendering of the map component and doing any map position update.

[2017-09-02 22:31] #154 closed

[2017-09-03 10:57] Pyppe opened #335 "Feature coordinates of type `number[][]`"
Shouldn't the `Feature` component accept coordinates of type `number[][]`?

See https://github.com/alex3165/react-mapbox-gl/blob/master/src/feature.ts#L5:
[code]

[2017-09-03 11:18] alex3165 commented on #335
Hey @Pyppe,

No actually the type signature `coordinates: number[] | number[][][] | number[][][][];` is right because a feature can be a symbol with coordinates `number[]`, a polygon (fill) `number[][][]` or a multipolygon (fill) `number[][][][]`.

But you are right it could also be `number[][]` for a route for example (line type).

Thanks for reporting, I pushed a fix: https://github.com/alex3165

[2017-09-03 11:18] #335 closed

[2017-09-04 20:50] #334 closed

[2017-09-04 20:50] alex3165 opened #338 "Add TSLint no any"
- Turn on `"no-any": true` in tslint config file
- Fix abusive any's
- For necessary any's add comment `//tslint:disable-line:no-any`

[2017-09-05 21:24] clairethompson commented on #328
Looks great @alex3165 !

One of the options that we were using was the `zoom` level as a [CameraOption](https://www.mapbox.com/mapbox-gl-js/api/#cameraoptions) on flyTo. In the [flyTo doc](https://www.mapbox.com/mapbox-gl-js/api/#map#flyto) they pass `zoom` in as an option as an example. Could that get added as well?

Thanks!

[2017-09-05 21:33] clairethompson commented on #328
We could also have this passed in to `flyToOptions`. I could see an implementation where `flyToOptions` takes both animation and camera options as well:
[code]

where `zoom` is a CameraOption and `offset` is an AnimationOption

[2017-09-07 11:10] alex3165 commented on #297
I will close this issue, I couldn't [reproduce it](https://www.webpackbin.com/bins/-KtR-kivuLSTwCwftkLu). If you still have any issue feel free to open a new issue with the issue reproduced using [webpackbin](https://www.webpackbin.com/bins/-KqtJN-qkLs4BPaVX0QS) or the [debug repository](https://github.com/alex3165/react-mapbox-gl-debug). Thanks.

[2017-09-07 11:10] #297 closed

[2017-09-07 11:12] alex3165 commented on #252
I will close this issue as it is inactive, please feel free to open a new one with the reproduced bug if it is still happening.

[2017-09-07 11:12] #252 closed

[2017-09-07 15:32] rlueder opened #341 "[question] updating JSON source causes map layers to flicker"
Hello,

I need some help updating the JSON data for layers without causing layers to flicker. My current setup for fetching and rendering data is:

1. a HOC that handles dispatching actions to fetch data from my API (using axios/redux-axios-middleware);
2. a Source component that takes the data;
3. a Layer w/ Features that map the array.

[code]

The data is refreshed every 10s and this causes the

[2017-09-07 22:02] vjpr commented on #14
Me neither. There doesn't seem to be the ability to add a `type: 'image'` to source either.

[2017-09-08 10:57] theaidem opened #342 "Add custom Image for 'icon-image' for my layer"
like this https://www.mapbox.com/mapbox-gl-js/example/add-image/

how can I call load and adding methods on the react wrapper for mapbox?

[code]

[2017-09-08 11:05] alex3165 commented on #14
Sorry I closed this issue at the time because no one seemed really interested in those features. I will re-open it and try to find some time to work on it then.

[2017-09-08 13:48] jussirantala opened #343 "Bearing is always reseted on fitBounds"
DOCS: Setting a nonzero value for 'bearing' in fitBoundsOptions will reset the bearing to zero. [Mapbox GL docs](https://www.mapbox.com/mapbox-gl-js/api/#map#fitbounds)

ISSUE: When using the Map component's fitBounds prop, the bearing is always reseted even if bearing is not set in fitBoundsOptions prop or if it's set to zero.

Also setting it to a nonzero value has the same effect though thats h

[2017-09-08 21:53] rlueder commented on #342
[You have to use the onStyleLoad property:](https://github.com/alex3165/react-mapbox-gl/blob/master/docs/API.md#reactmapboxgl)

[code]

[2017-09-09 03:04] theaidem commented on #342
@rlueder Thank you!

[2017-09-09 03:04] #342 closed

[2017-09-09 12:20] jussirantala commented on #343
Nvm. I guess this is not a bug. It's reseted to zero in the code...
https://github.com/mapbox/mapbox-gl-js/blob/master/src/ui/camera.js

[2017-09-09 12:22] #343 closed

[2017-09-09 16:44] alex3165 commented on #341
Hi @rlueder would you be able to reproduce the issue using the [webpackbin](https://www.webpackbin.com/bins/-KqtJN-qkLs4BPaVX0QS) boilerplate?

[2017-09-09 16:50] alex3165 commented on #342
Hey @theaidem , indeed using onStyleLoad is a way to do it but actually I didn't know about those functions `loadImage` and `addImage`, I think that it is a feature that should be added to the layer component.

[2017-09-09 17:08] alex3165 opened #344 "Support for adding custom image at runtime using map.addImage"
Mapbox-gl allow to add custom images at runtime using `loadImage` and `addImage`, I don't think `loadImage` is necessary, instead user should pass an `HTMLImageElement` to `addImage` and query for the image by their own using `new window.Image()`.

In term of API I am not sure what is best between using prop of Layer component:
[code]

Or having a component for that:
[code]

See: https://www.mapbo

[2017-09-09 17:09] alex3165 commented on #342
I have opened a new issue for that: https://github.com/alex3165/react-mapbox-gl/issues/344

[2017-09-10 02:52] taystu commented on #123
Hi @bsouthga  I just came accross this example and was wondering if you could add how you passed the context through to the <Geocoder/> component. I'm just starting with the library and am having a little difficulty. Thanks!

[2017-09-10 03:16] bsouthga commented on #123
Hey @taystu, the context should be available if you put the geocoder inside a `Map` component from this library, for example:

[code]

[2017-09-10 07:29] Altiano commented on #14
I really interested!

[2017-09-10 20:14] taystu commented on #123
Thanks for getting back to me @bsouthga I ended up fixing it by changing `  context: {
    map: Map;
  };
`
 to
`  static contextTypes = {
    map: PropTypes.object.isRequired
  };`

I suppose the former is typescript syntax? I'm not using typescript, but regardless thanks for the response.

I suppose

[2017-09-10 20:14] bsouthga commented on #123
ah yeah good point! I forgot you need to add the context prop types.

[2017-09-11 06:50] rlueder commented on #341
I'll have some time later this week to give it a go and will let you know (though I think it's something to do with my setup and not react-mapbox-gl).

[2017-09-11 17:38] #333 closed

[2017-09-11 17:58] alex3165 commented on #344
For reference, the prop `images` has been added to react-mapbox-gl with the release `2.5.0`, it can be use this way:
[code]

[2017-09-11 18:01] alex3165 commented on #333
Merged and released with version `2.5.0`

[2017-09-11 19:56] alex3165 commented on #314
@fidiego You can find an example of a map with 2 Cluster components at the following url https://www.webpackbin.com/bins/-KtmUplkr7W5brK4FPmt

[2017-09-11 19:56] #314 closed

[2017-09-11 20:03] taystu opened #346 "Toggling Features vs Toggling Styles"
Hopefully someone cant point me in the right direction I've read the docs and looked it up in issues but it still isn't clear to me. So I understand via the docs the ability toggle styles on and off. However I'm still unclear as to how to approach this for features within a style. Such as [here](https://uber.github.io/react-map-gl/#/Examples/dynamic-styling) with the react-map-gl library

For inst

[2017-09-11 20:11] alex3165 commented on #201
@kn0ll Sorry for the very late reply, if you have a valid Geojson that you want to display I would rather suggest to use the component `GeoJSONLayer` rather than a combination of `Layer` and `Feature` components. I would use `Layer` and `Feature` when you want more control over the elements you want to display on the map like complexe user interactions or make a feature draggable ...

Also now wit

[2017-09-11 20:11] #201 closed

[2017-09-11 20:39] alex3165 commented on #346
Hey @taystu, I don't know your exact use case but looking at the 2 examples you added in the issue, here the approaches I would take:

- For the [mapbox example](https://www.mapbox.com/mapbox-gl-js/example/filter-features-within-map-view/) it is actually quite simple to reproduce the same behaviour, for that I would use the `Layer` and `Feature` components and play with mounting / unmounting the `

[2017-09-11 20:41] alex3165 opened #347 "A bunch of small react-mapbox-gl examples"
- [Multiple Cluster components](https://www.webpackbin.com/bins/-KtmUplkr7W5brK4FPmt)

[2017-09-12 14:44] fidiego commented on #314
This is great, thank you @alex3165

[2017-09-14 15:09] afonsoSoares opened #349 "Constructor map requires new."
Hi, i'm using react-mapbox-gl in a isomorphic react environment.
I try to render the component when 'process.env.BROWSER' but i get the following
 ```error:TypeError: Constructor Map requires 'new'```

For reference i'm doing:
[code]

[2017-09-14 15:14] #349 closed

[2017-09-14 15:25] alex3165 commented on #349
Probably because Map refer to ES6 Map data structure 😄 .

[2017-09-14 18:12] afonsoSoares commented on #349
Thanks for the help but what I needed to do is instanstiate ReactBoxGl.Map and works perfectly.
;)

[2017-09-15 13:33] alex3165 commented on #320
I did some tests with Geojson layer https://www.webpackbin.com/bins/-Ku4hXq4GFMEBgLzSzVH but I can confirm no layers from components are lost when updating the style. Tested with `Layer`, `Feature`, `Source`, `GeoJsonLayer`. If you want to continue on this webpackbin and isolate the problem I would be happy to re-open the issue.

[2017-09-15 13:33] #320 closed

[2017-09-15 14:05] alex3165 commented on #261
Any update on this? I have set up a small [webpackbin boilerplate](https://www.webpackbin.com/bins/-Ku4hXq4GFMEBgLzSzVH) with a button that update the style and a `GeoJsonLayer` component inside it but couldn't reproduce the issue. If you can reproduce it please create a new issue with the link to the corresponding webpackbin.

[2017-09-15 14:05] #261 closed

[2017-09-15 14:07] #346 closed

[2017-09-15 15:55] rofrol commented on #325
Label `In progress` can be removed

[2017-09-16 21:10] stereobooster commented on #249
Just updated to the latest version. Still same issue. This how my optimised build of CRA project with static render looks like:

[code]

[2017-09-18 00:33] rofrol opened #350 "Map reloaded on props changed"
In redux reducer when I have this:

[code]

And set `selected` to `null`, map gets reloaded.

When I change code to this:

[code]

map isn't reloaded, but `Popup` doesn't show up, `Map` does not receive prop changes.

[2017-09-18 07:31] alex3165 commented on #350
Hi @rofrol the 2 following code snippets doesn't behave the same. The first one return a new reference of object and the second one mutate your state, if you want to achieve the same with `Object.assign` you have to do:
[code]

[2017-09-18 08:32] alex3165 commented on #311
@zzpreneur A solution to your problem would be to return the `Popup` from the factory function for `Cluster`. For example in the [htmlCluster.tsx](https://github.com/alex3165/react-mapbox-gl/blob/master/example/src/demos/htmlCluster.tsx#L65) you would need to return a `div` containing your `Marker` and `Popup` components

[2017-09-18 08:35] #311 closed

[2017-09-18 08:38] rofrol commented on #350
@alex3165
Ok, I've changed code to `return Object.assign({}, state, { selected: action.poi });`, but the problem is the maps get reloaded.

Also when I click on marker to show Popup, maps gets reloaded and then Popup is shown.

[2017-09-18 08:45] alex3165 commented on #350
@rofrol Could you reproduce the issue with a minimal setup using this webpackbin template: https://www.webpackbin.com/bins/-KqtJN-qkLs4BPaVX0QS

[2017-09-18 10:11] rofrol commented on #350
Got it. After extracting this code:

[code]

out of `render` function, it works.

[2017-09-18 10:11] #350 closed

[2017-09-19 06:02] amaurymartiny opened #351 "Update Features on bounds changed"
I wish to update the features of a layer each time the map changes bounds.

I have looked at @alex3165's [talk](https://pusher.com/sessions/meetup/the-js-roundabout/webgl-map-with-mapbox-and-react), and it' similar to the effect at 14:56. However, one crucial difference: if I understood correctly in the video all the features are loaded at init, and the left pane is only filtering based on bounds.

[2017-09-19 06:22] alex3165 commented on #351
Did you make sure not to break the reference equality of the array you pass as a center to your map?

Also, you can use onMove and onZoom events to define a change of bounds.

You can see the implementation of what I have done for https://monumap.org here: https://github.com/giistr/unesco-map

[2017-09-19 09:33] khollund commented on #351
Any time the map renders and you pass center position it will shift to that center. I had some hairy shouldcomponentupdates first, but I ended up passing user initated moves to state, because I need to offset map center anyway. And that was supported now through the flyto offset.

[2017-09-19 09:50] alex3165 commented on #351
The center will change only if you break the reference of the array of your center prop. The solution if you want to leave mapbox handling the center is to keep your center in the state and do not break the reference between re-render. If you want to take over the control of the center then you just break the reference by creating a new array, even if the value are the same it will update the cent

[2017-09-19 15:00] Wykks commented on #351
I think we can improve the way the map component detect changes (ie more than just reference check).
I'll try to look into that.

Also, @amaurymartiny you should consider using a vector tile source containing your feature if you can change your backend. It will fit perfectly for your use case.

[2017-09-20 10:05] zeulb opened #353 "Feature draggable not working on mobile"
Tried switch-style example with developer tools device on Chrome and also both Chrome and Safari on iPhone 6 but dragging the marker doesn't seem to work.

[2017-09-20 13:28] alex3165 commented on #353
Hi @zeulb, indeed dragging a feature wouldn't work on a mobile as we listen for `mouseEnter`, `mouseDown`, `mouseLeave` events to drag. It would need some work to make it working for mobile.

[2017-09-20 16:26] rofrol opened #354 "onMouseMove: console.log(e.point) -> undefined"
[code]

https://www.webpackbin.com/bins/-KuV5ljQLuX-e--JezK2

[2017-09-20 16:50] rofrol opened #355 "fitBounds not being updated when changing fitBoundsOptions"
[code]

https://www.webpackbin.com/bins/-KuV-ovZ4mCpiYXzbsnA

[2017-09-20 17:46] rofrol commented on #355
I'm using the workaround to recreate the map:

[code]

[2017-09-20 18:56] suyesh opened #356 "How do i make Marker Draggable and get lat:lng of the dropped location"

[2017-09-20 20:12] alex3165 commented on #356
Hi @suyesh, [here is](https://www.webpackbin.com/bins/-KuVrS0dZldhBUUqmwp9) how you would achieve it using `Layer` and `Feature`. There is no support of draggable html `Marker` yet.

[2017-09-20 20:12] #356 closed

[2017-09-20 20:16] alex3165 commented on #354
Hey @rofrol if by `e.point` you meant to retrieve the position of your mouse, here is how to achieve it: https://www.webpackbin.com/bins/-KuVvEU--2onKV7s9ZtE

[2017-09-20 20:16] #354 closed

[2017-09-20 20:25] suyesh commented on #356
Thank You Alex.

[2017-09-20 20:29] alex3165 commented on #355
Hey @rofrol this is an actual bug, map component don't update fitBounds if `fitBoundsOptions` changes. It is also a breaking change as people might not expect the fitBounds to change when they would break the reference of `fitBoundsOptions` between re-rendering.

[2017-09-20 21:00] suyesh commented on #356
@alex3165 Hi Alex it worked great for me but how do i change the icon to the marker icon i want? I am converting a application from google maps to Mapbox for the building numbers.

[2017-09-20 21:11] alex3165 commented on #356
I wrote a medium article about Mapbox and React, right after the second code example I explain how to use a custom image for you Feature, cf: https://codeburst.io/build-rich-map-experiences-with-mapbox-and-react-fa13d2c814de.

[2017-09-20 21:15] alex3165 commented on #356
One of the downside of using `Layer` and `Feature` with custom image is that you need to group your features for each image icon so if you have many different icons it might be a bit of overhead, in other words, images are not a per `Feature` thing but per `Layer`

[2017-09-21 05:48] amaurymartiny commented on #351
@Wykks Yes my bad, that did the trick. I defined Map inside a function component.

And thank you all for all the comments!

[2017-09-21 08:10] zeulb commented on #353
oh yup, will this be implemented real soon? if not, is there any quick workaround?

[2017-09-21 10:46] dedan opened #359 "fitBounds does not move to new bounds on change"
I have a map that I first center on a certain location. After my data is loaded I want to fit to the bounds of the data, and that works perfectly fine. But when my data changes I want to fit to new bounds which does not work.

On setting a new value for `fitBounds` I would expect the map to zoom to the new bounds, however what it currently does is that it zooms out and centers on the originally se

[2017-09-21 12:28] alex3165 commented on #359
@dedan You should not break reference equality for zoom prop, you should manage center and zoom the same way by extracting the instantiation out of the render function or putting them in the state.

You will find your example working [here](https://www.webpackbin.com/bins/-KuZNpaMUFALcK8sH1c2)

[2017-09-21 12:28] #359 closed

[2017-09-21 13:47] TLiu2014 commented on #187
I got the same error. In my case, I used `this.setState({ key: value });` in the constructor of a component. It's fixed by replaced with `this.state = { key: value };`, though this style seems not recommended by React.

[2017-09-21 20:43] simple17 commented on #217
Hi, I'm having the same issue with markers. Can't zoom map because of cursor is over the marker.
pointer-events: none; prevents onclick events.
The only difference I've noticed that original example has markers inside the .mapboxgl-canvas-container.
Any thought how to solve it?

[2017-09-22 08:55] alex3165 commented on #353
I will try to get this done and released by the end of next week. There is a quick workaround, you could implement it on your side by getting an instance of the map via `onStyleLoad ` prop of the map and use `map.on('touchstart')`, `map.on('touchmove')`, `map.on('touchend')` with the layer id you want. See: https://www.mapbox.com/mapbox-gl-js/example/drag-a-point/.

Basically you just need to repl

[2017-09-22 12:13] alex3165 opened #361 "Improve consistency of the check for updating Map properties (zoom, center, fitBounds)"
Improve the consistency of how we check for an update of the following props:

- zoom
- center
- bearing
- pitch
- maxBounds
- fitBounds / fitBoundsOptions

Every props should only check for reference equality between prev prop and next prop and check value equality between next prop and current mapbox-gl value.

Document this on the readme.

[2017-09-22 12:16] alex3165 opened #362 "Improve examples, write a better demo page"
- The menu of examples for the demo page should be on the left
- We should be able to toggle a side panel to see the code example for the current displayed map
- The map example should take the full size of the remaining space

[2017-09-22 12:25] alex3165 opened #363 "Add fullscreen control"
See https://www.mapbox.com/mapbox-gl-js/example/fullscreen/

[2017-09-22 12:29] alex3165 opened #364 "Remove diff check for style update in Map component"
The signature of `map.setStyle` is the following one: `setStyle(style: any, options?: {diff?: boolean} & StyleOptions)`

Which make me think we can remove the style diff check done in the map component.

[2017-09-22 12:38] alex3165 opened #365 "Update mapbox-gl to version 40"
Might include breaking changes with the `images` props of the layer component

[2017-09-22 12:40] alex3165 opened #366 "Improve london-cycle example"
Add custom image we get from the source files and pass it through the `images` prop of the layer component.

[2017-09-22 14:35] intelcoder opened #368 "Is possible to update each feature style on click event ?"
Currently passing data type FeatureCollection of polygons and I would like to update each polygon's fill color on click event. Is this possible or I have to create GeoJSONLayer for each feature to achieve this ?

[code]

[2017-09-22 19:10] alex3165 commented on #366
https://github.com/alex3165/react-mapbox-gl/commit/ac71beba10b644fcfb8b6345ab13008e956dd554 address this issue

[2017-09-22 19:10] #366 closed

[2017-09-22 19:11] alex3165 commented on #365
https://github.com/alex3165/react-mapbox-gl/commit/ac71beba10b644fcfb8b6345ab13008e956dd554 address this issue

[2017-09-22 19:11] #365 closed

[2017-09-23 09:42] amaurymartiny opened #369 "Error when unmounting <Map/> with mapbox plugins child components"
I'm encountering an issue when unmounting a `<Map />` which contains [`react-mapbox-gl-draw`](https://github.com/amaurymartiny/react-mapbox-gl-draw) as a child component, following the small tutorials given in #299 and #106.

To reproduce this error, see this [issue](https://github.com/amaurymartiny/react-mapbox-gl-draw/issues/1) on my repo. An example bin can be seen here: https://www.webpackbin.

[2017-09-23 16:51] Wykks opened #370 "Layer: expose all layer options to props"
We should expose every option of layer as props instead of exposing only some of them (and then remove layerOptions prop)

[2017-09-25 06:17] dedan commented on #359
Hello Alex,

thanks a lot for the explanation and your example, now it all works.

[2017-09-25 09:35] born-curious commented on #369
+1: Facing the exact same problem.

[2017-09-25 10:15] alex3165 commented on #369
The instance of map might not be here when you unmount the draw component as the Map component remove it when being unmounted so in this case there is no control to remove to the map as it is not there anymore.

Here is the fix: https://www.webpackbin.com/bins/-KusWPlfO_lIuHNb4tL4

See: https://github.com/alex3165/react-mapbox-gl/blob/master/src/layer.ts#L297

[2017-09-25 18:30] amaurymartiny commented on #369
Yes, makes sense. Thanks!

[2017-09-25 18:30] #369 closed

[2017-09-25 20:19] andreas-koch opened #372 "Canvas Size issues"
Hi,
Im my code  I have the following structure
[code]
"Some other div" is sometimes there and sometimes not. In one case the map gets 50% for the containerStyle and in the other case 100%.
The initial rendering is always correct. When "some other div" is not rendered the <div class="mapboxgl-map" updates correctly, but the canvas still got the old width. When I slightly change the window size, the

[2017-09-26 08:43] SBRK commented on #320
@alex3165 I'm experiencing this problem as well. When I change style, my GeoJSONLayers will randomly disapear, sometimes just partially (only a subset of features would still be displayed). Other layers that are not displayed at the time of the switch and should then become visible won't show, but again, it does not happen all the time and I can't pinpoint the exact conditions that make them disap

[2017-09-26 10:14] alex3165 opened #381 "Update to React 16"

[2017-09-26 13:50] SBRK commented on #320
More insight on what's happening, and how I use react-mapbox-gl and why it could cause the problem:
Given the state of my app, the data of my `GeoJSONLayers` varies. For example, I will click on a feature on layer, and that will populate the data for another layer, displaying a list of points. I revert back and click another layer, it will populate the data with another list of points. I then swit

[2017-09-26 15:53] dedan opened #385 "onMouseEnter only called once when moved over overlapping circles"
I'm currently plotting a lot of points on a map and some of them are overlapping each other. I want to show a popup when I hover over the points. Now I noticed that `onMouseEnter` is not called when I move the mouse from one circle to another, when the two are overlapping and `onMouseLeave` is not called in between.

I prepared [an example](https://www.webpackbin.com/bins/-KuykjWObH7Ccmoo8z9x) for

[2017-09-26 15:57] SBRK commented on #320
Fixed here https://github.com/alex3165/react-mapbox-gl/pull/384

[2017-09-26 16:38] SBRK commented on #320
I updated the WebpackBin to illustrate the problem:
https://www.webpackbin.com/bins/-Kuz1ATFLWuTimQuUoeL

Click "CHANGE DATA" then click "CHANGE STYLE"

[2017-09-26 20:13] alex3165 commented on #320
Ah! nice job @SBRK it is indeed a bug, thanks for the PR I will check asap!

[2017-09-26 21:20] alex3165 commented on #320
I released the fix from @SBRK with version `2.5.2`

[2017-09-26 21:20] alex3165 commented on #261
Released a fix from @SBRK with version `2.5.2`

[2017-09-26 21:21] alex3165 commented on #225
Released a fix from @SBRK with version `2.5.2`

[2017-09-26 21:32] ptrikutam commented on #261
@alex3165 Apologies for the extreme delay in responding! Thanks for following up and being diligent.

[2017-09-26 21:33] alex3165 commented on #385
Yes this is a pretty serious issue due to the way we listen `onMouseEnter` and `onMouseLeave`. React-mapbox-gl use the layer id to listen for those events so as long as your mouse is on one of the feature in the layer no event is being triggered.

A fix would be to remove the layerId being passed to the mouse event listener but I am affraid it would have some performance impact, I would need to ch

[2017-09-26 21:37] alex3165 commented on #261
@ptrikutam No need to apologies! I hope this will fix your issue! Thanks

[2017-09-27 06:04] dedan commented on #385
Ok, thanks a lot for the update

[2017-09-27 08:16] alex3165 commented on #372
Hi @andreas-koch could you reproduce the issue with the [webpackbin template](https://www.webpackbin.com/bins/-KqtJN-qkLs4BPaVX0QS)

[2017-09-27 08:21] alex3165 commented on #368
I am afraid you gonna have to create a `GeoJSONLayer` for each polygon in this case. Not sure if we could expose a better `GeoJSONLayer` API for this use case, I am happy to debate any suggestion.

[2017-09-27 08:22] #351 closed

[2017-09-27 09:00] SBRK commented on #385
For this kind of thing, I use a `GeoJSONLayer` and listen to `onMouseMove` and `onMouseLeave`. In your mouse move event handler, you get the feature with `event.features[0]` (and can access other features that are hovered (if any) with [1], [2], etc...) and mouse leave is triggered when no feature is hovered

[2017-09-27 15:43] andreas-koch commented on #372
Hi,
honestly I could not.
Using map.resize() in componentDidUpdate of the parent component fixes the issue.

The div with class mapboxgl-map always did update correctly. But in the dev tools of chrom I could see that the canvas still had old values for width and height. Not really sure right now, what causes the issue.

Thanks,
Andreas

[2017-09-27 18:43] suyesh opened #391 "How do i do something like the following"
`map.addControl(draw);`

i have a function that i saw in the mapbox gl documentation. Is it even possible?

[2017-09-28 09:25] basharov opened #395 "Issues with sizing of the canvas in a flexbox"
Canvas sets some default size on load and the map looks like this:

![image](https://user-images.githubusercontent.com/625090/30959137-f211011c-a447-11e7-8783-b4f6269ea8ac.png)

When I resize the window, the canvas sets its size to the whole pink area, as should do from the start.
![image](https://user-images.githubusercontent.com/625090/30959185-0bb53322-a448-11e7-9a4d-92c243eb8076.png)

How do I

[2017-09-28 09:35] alex3165 commented on #395
Do you pass a `containerStyle` with a `height` and a `width` to the map? Could you reproduce the issue with https://www.webpackbin.com/bins/-KqtJN-qkLs4BPaVX0QS

[2017-09-28 18:09] rlueder commented on #391
If you're interested specifically on the Draw control, take a look at this:
https://github.com/amaurymartiny/react-mapbox-gl-draw

[2017-09-28 19:09] wlindner opened #396 "Support API_URL for mapbox-gl"
I need the ability to set a custom Mapbox API URL ([this is supported by mapbox-gl]( https://github.com/mapbox/mapbox-gl-js/blob/ca243c7bf2ff664e4692ab0557a6c27e5aa917b7/test/unit/util/mapbox.test.js#L33-L42)), but I don't see any way to do that with this React wrapper. Is it possible to set the API_URL on the mapbox-gl instance?

[2017-09-29 01:14] intelcoder commented on #368
Thank you @alex3165
Unfortunately, I do not have any suggestion at this moment.

[2017-09-29 01:14] #368 closed

[2017-09-29 13:04] Wykks commented on #368
Don't create one layer for each polygon. You can do that with two layer : https://www.mapbox.com/mapbox-gl-js/example/queryrenderedfeatures-around-point/

[2017-09-29 13:13] hobofan opened #397 "Option to turn off CSS injection"
At project we are currently working on, we are styling the Mapbox map via CSS, on multiple pages. On the pages without the React version, everything is fine, but on those with, this library injects the CSS and destroys the styling of the map to some degree.

I feel like there should be at least an option to turn off the CSS injection since that is somewhat intrusive.

[2017-09-29 13:19] hobofan commented on #391
From the [docs](https://github.com/alex3165/react-mapbox-gl/blob/6ccfd044045ad15617b33cf83f80cdc17abf6f7b/docs/API.md):

So you can extract a reference to the internal `map` object, and then use the usual functions from the mapbox-gl documentation.

[2017-09-30 07:18] alex3165 commented on #368
My bad I thought each of your polygons needed a different color as 1 color = 1 layer

[2017-09-30 07:24] alex3165 commented on #397
Yes I agree, it should probably be a parameter of the Map factory function I guess. PR welcome, I think it is an easy fix, it is just about moving https://github.com/alex3165/react-mapbox-gl/blob/master/src/index.ts#L15 to the map factory function, and inject the css or not depending on the given parameter.

What about `injectCss` as a parameter name?

[2017-09-30 07:27] alex3165 commented on #391
@hobofan pointed is right you can use the map instance from `onStyleLoad`, alternatively, any children component of the map will receive an instance of the map in the context 👍

[2017-09-30 07:27] #391 closed

[2017-09-30 07:38] alex3165 commented on #396
Sorry for the late reply, I was busy for the last 2 days. How is Mapbox exposing it? I can't find it in the documentation and this is a link to the tests which uses the source files, if you have a code example for the implementation with mapbox-gl that would be helpful.

[2017-09-30 07:42] alex3165 commented on #372
Probably related to https://github.com/alex3165/react-mapbox-gl/issues/395

[2017-09-30 07:45] hobofan commented on #397
Yeah, I also think that that would be the way to go,  but I think it still would be a breaking change as soon as the injectCss call is removed from the index.tsx.

I think the only way to make it a truly backward compatible change would be to allow the user to set a global variable before importing the library that deactivates the `injectCss` call, which can then be fully removed at a future point

[2017-09-30 07:46] alex3165 commented on #341
@rlueder Do you have any update on this? make sure you don't call the map factory in the render function of your component.

[2017-09-30 18:28] wlindner commented on #396
I can't really find any documentation about it, but it's necessary when you host your own Atlas Server so you can change the API URL from api.mapbox.com to wherever you host your server. It is mentioned in [this issue](https://github.com/mapbox/mapbox-gl-js/pull/4995). It's also mentioned in the [CHANGELOG.md](https://github.com/mapbox/mapbox-gl-js/blob/244d1e77e20b815a4834c54858053ea473e5c62c/CHA

[2017-09-30 19:29] alex3165 commented on #396
Could you quickly check https://github.com/alex3165/react-mapbox-gl/pull/399 and tell me if you think it is fine?

[2017-10-01 13:38] alex3165 commented on #396
I merged the PR and published the changes with version `2.5.3` 👍

[2017-10-01 13:38] #396 closed

[2017-10-01 16:56] wlindner commented on #396
That's great, I'll try this out on Monday. Thanks for your quick work!

[2017-10-02 12:25] alex3165 commented on #362
![demo page layout](https://user-images.githubusercontent.com/4259832/31077114-34ceb348-a775-11e7-8cfe-40eb320f28fa.png)

[2017-10-03 07:41] alex3165 commented on #353
@zeulb I released a version `2.6.0` with features draggable on mobile.

[2017-10-03 07:41] #353 closed

[2017-10-03 18:46] texas697 opened #409 "How to setup vector layers"
I am switching over to your library and I have everything working except for vector layers. Currently I set the geoLayers like this:
[code]
If I push the result into an array and set it in state so I can use it in the view the result looks like this:

[code]

Can I work with this? I can build the array differently if I need to. thanks

[2017-10-03 19:44] HelloQingGuo commented on #370
Does that mean the background prop of layer will be supported from V3.0.0

[2017-10-04 08:04] alex3165 commented on #409
For the layers you can use the `Layer` component pointing to the right source using the prop `sourceId` and to add the vector sources you can use the `Source` component like this:
[code]

And for the layer for example:
[code]

[2017-10-04 08:11] alex3165 commented on #370
@HelloQingGuo What do you mean by background prop? do you mean the `background-color` in the paint prop? if so it is already possible by doing this:
[code]

[2017-10-05 00:17] texas697 commented on #409
great! thank you

[2017-10-05 00:17] #409 closed

[2017-10-05 08:23] #397 closed

[2017-10-05 21:57] rlueder commented on #341
Ho @alex3165 sorry for the long delay in responding, I finally had time to go back to my project on this and take a look, the issue was completely due to a bad implementation on my side, every time I fetched new data the redux state was being set to undefined and the layer wouldn't load until the data was there. Made a few tweaks and it works now! 👍

[2017-10-05 21:57] #341 closed

[2017-10-07 11:58] martin056 opened #411 "Add markers from an array of objects"
I have an array of objects and each object has it's coordinates and other data. How can I add a simple marker by that coordinates? I just iterate over the array and create markers from it and it doesn't work. If I try with just the first element of the array it works. Why? Do I need a "Cluster"?

[2017-10-07 15:43] alex3165 commented on #411
Use the component `Layer` and `Feature`, check this example: https://github.com/alex3165/react-mapbox-gl/blob/master/example/src/demos/londonCycle.tsx

[2017-10-07 15:43] #411 closed

[2017-10-08 09:25] martin056 commented on #411
Thank you for the fast response! @alex3165

[2017-10-09 08:50] MadalenaGoncalves opened #412 "Feature: onDragStart"
Can you add this method into Features? I want to add an image bellow a marker when this is being dragged and hide it onDragEnd. I tried with the onClick method but it isn't very suitable in this case. Or do you have any other suggestion to solve this issue?

[2017-10-10 00:42] faiq opened #413 "Explain why / how to get around -90 to 90 lat long restrictions"
Hi I was trying to make a map based in San Francisco, but i keep receiving the following error

Error: Invalid LngLat latitude value: must be between -90 and 90

It's unclear to me right now how to make this map based where I want it to be based. Would you mind pointing how to get around this?

[code]

[2017-10-10 06:07] rlueder commented on #413
That's a common mistake but you'll get used to it, GeoJSON defines longitude first, then latitude, so:

[code]
From the API docs:

[2017-10-10 08:08] alex3165 commented on #412
Hi @MadalenaGoncalves, yes that's something we should add, it would require some times though. Any help welcome!

[2017-10-10 10:10] #381 closed

[2017-10-10 18:27] dongapplyboard opened #416 "Disable touch interactions (drag pan, rotate, zoom control)"
I want to be able to disable all interactions of the map on load except for the ZoomControl and Scale control layer I added to the map.

[code]

None of the props seem to be working.

I've also tried adding it to the Map constant declaration.

[code]

[2017-10-11 08:31] stereobooster opened #417 "Error rendering component in puppeteer"
At first I thought it is an error of mapbox-gl https://github.com/mapbox/mapbox-gl-js/issues/3437. But than I tried vanila mapbox-gl and it works fine.

[code]

I will try to get more information later.

[2017-10-11 11:43] madeleinejohanson opened #418 "GeoJSON layer not updating when source changes"
Hey guys! Forgive me if this question has been asked before, but I've looked around and I'm stumped. This is my first react app, and I have turned mapbox draw polygons into a geojson, added editable properties (eg height with a slider) so it updates the geojson, then this is set as the geojson layer data. See below:
`                <GeoJSONLayer
                id="draw_layer"
                dat

[2017-10-11 17:49] stereobooster commented on #417
I created demo project https://github.com/stereobooster/mapbox-prerender

[2017-10-11 22:08] rlueder commented on #416
This is the basic setup I currently have for my project. I can disable doubleClickZoom and touchZoomRotate with no problems, maybe give it a try and see?

[code]

[2017-10-13 19:06] ptchiangchloe opened #419 "Markers disappeared after reload the route."
Hi guys,
I have trouble with the markers after reloading the page. My state shows all the values and there are no marker divs after the page is reloaded.
And also do you have the source code for the monumap.org?

Thanks,

Han

[2017-10-13 20:24] stereobooster commented on #417
This is mapbox-gl error, I was able to reproduce it with pure mapbox-gl. https://github.com/mapbox/mapbox-gl-js/issues/5460

[2017-10-13 20:24] #417 closed

[2017-10-14 01:41] clydecbrown commented on #278
...I verified the fix in react-mapbox-gl v2.6.0.

[2017-10-14 07:59] alex3165 commented on #419
Hi @ptchiangchloe, hum difficult to say, do you use the `Marker` component?

The code for monumap is accessible here: https://github.com/giistr/unesco-map

[2017-10-15 16:14] alex3165 commented on #416
Hi @dongapplyboard, sorry for the late reply but it should work if you pass the right parameter to the factory. Can you please try to reproduce your issue from the [webpackbin template](https://www.webpackbin.com/bins/-KqtJN-qkLs4BPaVX0QS)

[2017-10-15 16:15] alex3165 commented on #413
I merged the PR with the note in the readme 👍

[2017-10-15 16:15] #413 closed

[2017-10-15 16:17] alex3165 commented on #395
I will close this issue for inactivity, please open a new issue with the bug reproduced with webpackbin if it is still happening.

[2017-10-15 16:17] #395 closed

[2017-10-15 16:26] alex3165 commented on #338
Merged into v3 branch

[2017-10-15 16:26] #338 closed

[2017-10-15 18:17] ptchiangchloe commented on #419
Hi Alex,

Thanks for the response, I found out the problem that I use state instead of the props to store the markers so after reload the component state did not setState again (which I found odd) so I use the props directly which solved the problem.

Thanks,

Han

[2017-10-15 19:29] #419 closed

[2017-10-15 21:55] alex3165 commented on #310
Layer should support all layer types :
[code]

[2017-10-15 22:16] izaa commented on #48
@appjitsu Have you tried to use Mapbox Directions GL-component? Or can you show more about how  did you solve this, since your example gives some error in  my environment :) Thanks!

[2017-10-17 04:56] Valid opened #421 "Popup anchors not being added when anchor is unset"
[Demo here](https://www.webpackbin.com/bins/-KwcaCrN_eZWX_STxo8H)

According to Docs:

This does not appear to be the case -- the anchor does not show up at all when the `anchor` prop is not passed, and it also does not auto-adjust based on viewport.

passing `anchor={null}` **does** auto-adjust, but doesn't add an anchor.

Are the docs incorrect, or am I misunderstanding how it should work?

[2017-10-17 16:33] suyesh opened #422 "Is there a way to Cluster markers only if they have same Coordinates and other same properties?"
Like in this case, I have 3 markers in same coordinate so i am not being able to click. I couldn't  find any doc related to click event in situation like this. what i am trying to achieve is, when there is markers in same coordinates, i want to click on the cluster display marker or anything, maybe a spider like effect

<img width="843" alt="screen shot 2017-10-17 at 12 50 41 pm" src="https://user

[2017-10-17 21:33] Wykks commented on #422
You can use `onClick` on clustered `Marker`, you can see how to do that is the demo app.
For the spider effect, I think it could probably be implemented later (but only after v3 is out)

[2017-10-18 01:27] krabbypattified opened #423 "UMD support (unpkg.io)"
I'd like to make a CodePen using react-mapbox-gl, but I can't.
Can you bundle your code (i.e. with Rollup) so I can include it as a <script>?

[2017-10-18 07:48] alex3165 commented on #423
Hey @krabbypattified , thank you for the suggestion, react-mapbox-gl used to be UMD compliant but I actually removed Webpack as it was lot of overhead to me and I don't think many peoples are using it as a global dependency today. I am open to the discussion though if there is a real need I can work on it.

Alternatively you can use [webpackbin](https://www.webpackbin.com/bins/-KqtJN-qkLs4BPaVX0QS

[2017-10-18 14:08] suyesh commented on #422
Thank you. Thats exactly what i did and got it worked out.

[2017-10-18 15:24] #422 closed

[2017-10-19 07:32] guzhongren opened #424 "Question about definition"
![image](https://user-images.githubusercontent.com/8743692/31758890-dca5ab20-b4e1-11e7-9074-8399abc87078.png)
like this; i wrote codes in react component using typings; No matter how to write， there is no definition of ReactMapboxGL;

Please give me an example obout typescript-mapbox-gl, thank you .

[2017-10-19 07:50] alex3165 commented on #424
You don't need to specify the type of your Mapbox variable, it will be inferred by the compiler.

[2017-10-19 15:07] guzhongren commented on #424
the question has resolved with this [doc ](https://github.com/alex3165/react-mapbox-gl/blob/archive/1.12/docs/API.md)
![image](https://user-images.githubusercontent.com/8743692/31778045-34557414-b522-11e7-9921-db4fbf5bf5ce.png)

, thank you

[2017-10-19 15:07] #424 closed

[2017-10-19 15:21] dongapplyboard commented on #416
Thanks guys, it's working now :D.

[2017-10-19 15:21] #416 closed

[2017-10-20 07:12] radeno opened #425 "Hiding .mapboxgl-missing-css breaks marker position calculation"
Hello,

Mapbox 0.41 adding new CSS checking by adding a DIV element with class `.mapboxgl-missing-css` above div element with `.mapboxgl-canvas-container` class.
Everything should be OK with hiding this block adding `display: none` to this class as original Mapbox CSS do also.

Issue is that after hiding this block, every maker on map is pushing lower on every zoom level about that block height.
F

[2017-10-20 19:39] Brentox commented on #425
To resolve the missing css error, I imported the css from the mapbox-gl node_module

`import 'mapbox-gl/dist/mapbox-gl.css';`

[2017-10-20 20:58] suyesh opened #426 "Does anyone have experience getting viewport radius?"
I been struggling for few weeks now.

[2017-10-21 05:02] radeno commented on #425
No, you dont understand. As you can see i have included default css, because logo Mapbox in bottom left corner.

Problem is that hiding that line about missing CSS moving Marker about 20px down. First image is with correct position, second image is with bad position. On every zoom level is marker moved with 20px down. When i zoom out more and more i get pin in Hungary, but correct position is in S

[2017-10-23 19:27] suyesh opened #427 "I am getting error on cluster"
Where can i validate if the coordinates are null? in marker level? i am validating in marker level, but doesn't work

[code]

[2017-10-23 23:22] dongapplyboard commented on #395
Getting the same issue, I have

[code]

[2017-10-24 10:52] JLeggatt opened #428 "Cluster zoomOnClick"
When passing `true` to the zoomOnClick prop to a cluster, it throws an error
[code]

this is due to the `clusterZoom` property of getChildren being set to `Infinity`, therefore it can never access the array.

Any thoughts?

[2017-10-24 13:51] suyesh commented on #427
This turns out to be validation error while creating cluster. You are only validating if geometry exists, it needs to be 'if geometry || geometry != null'

[2017-10-24 23:11] bcherny opened #430 "Automatically prevent control overlap"
This is our use case (I imagine it's pretty common):

[code]

Both `ZoomControl` and `ScaleControl` are position on the bottom left, and without the manual `style` adjustment they overlap by default. It may be a good idea to automatically add offsets when two controls overlap.

For reference, here it is with the manual style adjustment:

<img width="323" alt="screen shot 2017-10-24 at 4 11 56 pm"

[2017-10-25 09:08] alex3165 commented on #430
Hey @bcherny Thanks for reporting the issue, it make sense and it should be an easy fix. I will have a look when I have some time otherwise any PR welcome.

[2017-10-25 13:45] JLeggatt commented on #425
Do you not just need to pass an `anchor="bottom-left"` to the Marker component? This will anchor the marker to the bottom left of the image you've got?

[2017-10-26 02:40] 4xDMG commented on #426
I've done this with [point-geometry](https://www.npmjs.com/package/point-geometry) and [turf](https://www.npmjs.com/package/turf) libraries. Get your viewport width / 2 (x) and viewport height / 2 (y) for the center then...

[code]

This should return the distance from edge of the screen to the center in meters.

[2017-10-27 06:14] anujsinghwd opened #431 "Adding third party vector tile , i don't want to use openStreet(default) vector tile ?"
### Here is my code
[code]

[2017-10-27 08:58] #431 closed

[2017-10-27 14:41] alex3165 commented on #372
I will close this issue, please try to reproduce it and open a new issue if it is still a problem

[2017-10-27 14:41] #372 closed

[2017-10-27 14:44] alex3165 commented on #421
Hey @Valid Sorry for the late reply, this is a bug I think, I will add this to the v3 milestone

[2017-10-27 14:45] #423 closed

[2017-10-27 14:48] alex3165 commented on #428
cf @Wykks

[2017-10-30 09:01] StevanCakic opened #432 "[Question]Need help for drawing route"
Hi,

I have a question. I need help for this problem:

![image](https://user-images.githubusercontent.com/13205146/32162536-a8ae919e-bd59-11e7-8a35-8d5b2321a92a.png)

but I want this:

![image](https://user-images.githubusercontent.com/13205146/32162281-b931328e-bd58-11e7-91b2-fe9ea955b939.png)

So I want to change direction for the route if curve goes to another "map" (same map but boundaries are

[2017-10-30 09:20] alex3165 commented on #432
Hey @StevanCakic I think this is more a question for the mapbox-gl-js team I think and I have seen you already posted an issue on their repository [here](https://github.com/mapbox/mapbox-gl-js/issues/5551). Let's keep it open as a follow up.

[2017-10-30 14:05] MadalenaGoncalves commented on #412
Hey @alex3165! Thanks for answering. It turned out I could go around this issue for a while but I'm sure it will be useful in the future. I will be glad to take a look at it in my free time ;)

[2017-10-30 17:31] Valid commented on #421
Thanks @alex3165 - do you have an ETA for v3 milestone?

[2017-10-30 21:22] alex3165 commented on #421
If by ETA you mean all the changes included to this milestone, you can see every open issues marked as v3. I would really like to get it done by end of November but I found difficult to work on OSS lately. I will do my best although any help is appreciated 👍 there are some tasks marked as `ready to work` feel free to branch off `v3` and work on an issue marked as `ready to work` and `help wanted`.

[2017-10-30 21:25] alex3165 opened #433 "Upgrade to Mapbox-gl 0.41"

[2017-10-30 22:30] alex3165 commented on #364
This is not a thing as calling `setStyle` will trigger `styledata` event even if the style doesn't change and we don't want that so we still need to manually have the diff.

[2017-10-30 22:36] #364 closed

[2017-11-06 20:49] karloluis commented on #146
Did anyone find a way to make this package work with Nextjs?
I have not been able to find a relevant related issue on `webpack`.

[2017-11-08 19:54] UJKhokhar commented on #433
Would this include heatmaps?

[2017-11-09 09:22] alex3165 commented on #433
@UJKhokhar Yes this will include heatmap functionality 👍

[2017-11-09 21:17] jesster2k10 opened #435 "Is it possible to render a react component on the map like shown?"
I'm wondering if something like this can be implemented because if it can't then I'll have to switch to Google maps

https://github.com/istarkov/google-map-react

[2017-11-12 20:11] bnjmnjns commented on #435
The Marker component can be used to render a component to a position on the map. Is that what you're looking for?
https://github.com/alex3165/react-mapbox-gl/blob/master/docs/API.md#marker

[2017-11-13 08:11] jesster2k10 commented on #435
Yes with hover effects, etc but I’ve started using google maps now

On Sun 12 Nov 2017 at 20:11, Benjamin Jones <notifications@github.com>
wrote:

[2017-11-13 11:14] SkylinR opened #437 "How can i get current zoom and bounds of box?"
How can i get current zoom and bounds of box?

[2017-11-13 20:10] redbmk commented on #437
If you're not controlling it, I think you would need to get it from the map itself, which is passed into events. For example

[code]
You can get the current bounding box using `map.getBounds()`

[2017-11-13 20:49] SkylinR commented on #437
I’ve made it in this way exactly 😊 Thanks a lot !

Wysłane z aplikacji Poczta dla Windows 10

Od: Braden Kelley
Wysłano: poniedziałek, 13 listopada 2017 21:10
Do: alex3165/react-mapbox-gl
DW: SkylinR; Author
Temat: Re: [alex3165/react-mapbox-gl] How can i get current zoom and boundsof box? (#437)

If you're not controlling it, I think you would need to get it from the map itself, which is passed i

[2017-11-13 21:04] alex3165 commented on #433
PR merged into v3 branch: https://github.com/alex3165/react-mapbox-gl/pull/441

[2017-11-13 21:11] redbmk opened #442 "Event handlers not being updated on prop changes"
Event handlers appear to only be [added when the map is created](https://github.com/alex3165/react-mapbox-gl/blob/61aa3aeb94219526eb24481e2ab2b9ebdd8379b1/src/map.tsx#L322-L330), in `componentDidMount`. When the property changes to either add or remove them from the `react-mapbox-gl` component, those changes are not reflected in the map.

Here's a simple example showcasing two scenarios where you

[2017-11-13 22:03] alex3165 commented on #355
https://github.com/alex3165/react-mapbox-gl/pull/443 should fix it

[2017-11-13 22:03] alex3165 commented on #361
https://github.com/alex3165/react-mapbox-gl/pull/443

[2017-11-13 22:06] alex3165 commented on #363
I will de-scope this issue from v3, as it seems there is no big need for this feature atm.

[2017-11-13 22:38] alex3165 commented on #442
Indeed, this need to be added, although as a work around for now you could do:
[code]

[2017-11-13 22:39] alex3165 commented on #437
Thanks @redbmk for helping 👍

[2017-11-13 22:39] #437 closed

[2017-11-13 23:12] romeboards opened #445 "Issues with resizing (potentially due to flexbox container)"
Echoing #395, there seems to be issues when the container resizes due to new elements / the window itself resizing. Not sure if this webpackbin is 100% replicating what I'm seeing on my end, but it does show how the map can fail to resize (both with and without a manual call to the mapbox `.resize()` function (try commenting out line 37).

I've also tried to not use flexbox (and instead have the c

[2017-11-14 22:35] alex3165 commented on #442
https://github.com/alex3165/react-mapbox-gl/pull/446/files should fix it

[2017-11-14 23:06] redbmk commented on #442
Woah, nice - I didn't expect a fix to that so quick!

[2017-11-14 23:24] 13MS opened #447 "Refresh on props changes"
Every time the props change (I'm using Flux.js), the map does a full refresh. It makes sense because in my map component, I wait for the component to be mounted and then require `react-mapbox-gl`

Here is how I do it:
[code]

When the user hovers an element, a marker on the map is highlighted, but after a full refresh. How can I change the markers and zoom level on the map using props, without ref

[2017-11-17 11:34] alpha-beta-soup opened #449 "cameraOptions"
Is it possible to set the [camera options](https://www.mapbox.com/mapbox-gl-js/api/#cameraoptions)? For example, I would like to set a camera option for the Map, common to all moving methods, such that moving (flying, easing, etc.) to a new map centre will also change the zoom and pitch, not just the centre of the map. It is already possible with this library to set the [animation options](https:/

[2017-11-17 17:20] alex3165 commented on #421
https://github.com/alex3165/react-mapbox-gl/pull/450 should fix it

[2017-11-17 17:26] alex3165 commented on #430
After a closer look, I am not sure it make sense to include this feature, each components are independents and shouldn't be aware of other components, you can fix it manually by adding a style to the scale component, for example:

[code]

See https://github.com/alex3165/react-mapbox-gl/blob/master/example/src/demos/allShapes.tsx#L114

[2017-11-17 17:26] #430 closed

[2017-11-17 17:27] alex3165 commented on #435
Hey @jesster2k10, @bnjmnjns was right you could use Marker component to render anything at a given position.

[2017-11-17 17:27] #435 closed

[2017-11-18 11:16] CraigglesO opened #451 "setStyle not working properly"
Your code makes 100% sense. You check for a change in style prop and call map.setStyle acordingly.

However: when I change the style prop, it does not react properly. It goes back to the original zoom when loaded and after changing the style several times I get this:

[code]

but that issue does not exist for mapbox-gl docs:
https://www.mapbox.com/mapbox-gl-js/example/setstyle/

[2017-11-20 06:53] radeno commented on #425
Looks like version 3.0 fixing this.
Its great :)

[2017-11-20 06:53] #425 closed

[2017-11-20 20:46] alex3165 commented on #442
Released from tag `3.0.0`

[2017-11-20 20:46] #442 closed

[2017-11-20 20:46] alex3165 commented on #433
Released from tag `3.0.0`

[2017-11-20 20:46] #433 closed

[2017-11-20 20:46] alex3165 commented on #421
Released from tag `3.0.0`

[2017-11-20 20:46] #421 closed

[2017-11-20 20:46] alex3165 commented on #370
Released from tag `3.0.0`

[2017-11-20 20:46] #370 closed

[2017-11-20 20:47] #362 closed

[2017-11-20 20:47] alex3165 commented on #362
See v3

[2017-11-20 20:47] alex3165 commented on #361
See v3

[2017-11-20 20:47] #361 closed

[2017-11-20 20:48] alex3165 commented on #355
Released from tag `3.0.0`

[2017-11-20 20:48] #355 closed

[2017-11-20 20:48] alex3165 commented on #310
Released from tag `3.0.0`

[2017-11-20 20:48] #310 closed

[2017-11-21 12:03] alex3165 commented on #451
Hey @CraigglesO Thanks for reporting the issue, could you reproduce it with this template: https://www.webpackbin.com/bins/-KqtJN-qkLs4BPaVX0QS ? That would be very helpful

[2017-11-21 14:45] Wykks commented on #451
Probably unrelated but, I got this error while updating mapbox-gl to version 0.42.1 for ngx-mapbox-gl  (https://travis-ci.org/Wykks/ngx-mapbox-gl/jobs/304987117#L1499).
Because of a change inside mapbox-gl, now you need to wait for the `load` event before calling `addImage`.
Which component do you use ?

[2017-11-21 21:20] alex3165 commented on #451
Look like this issue: https://github.com/mapbox/mapbox-gl-js/issues/5714 fix released with version 0.42.2 of mapbox-gl

[2017-11-21 21:52] alex3165 commented on #451
react-mapbox-gl `3.2.0` require mapbox-gl `0.42.2` which fix your problem 👍

[2017-11-21 21:52] #451 closed

[2017-11-21 21:53] alex3165 commented on #451
Although, let me know if you still have an issue

[2017-11-21 21:55] alex3165 commented on #449
Hey, you can already set `bearing`, `zoom`, `center`, `pitch`, however `around` is actually missing I will open a new issue for that.

[2017-11-21 21:56] alex3165 opened #454 "Add around camera option to map"
The camera option `around` is missing, see https://www.mapbox.com/mapbox-gl-js/api/#cameraoptions

[2017-11-21 21:57] alex3165 commented on #449
cf: https://github.com/alex3165/react-mapbox-gl/issues/454

[2017-11-21 21:59] alex3165 commented on #447
Have a look at the examples and make sure you don't instantiate the map factory in the render function of your component.

Cf: https://github.com/alex3165/react-mapbox-gl/blob/master/example/src/demos/londonCycle.tsx#L11

Also if you want more help I think it is best if you ask your question on stackoverflow 👍

[2017-11-21 21:59] #447 closed

[2017-11-21 22:06] alex3165 commented on #445
@romeboards Sorry for the late reply, you need to resize after you actually update the style of the container, see: https://www.webpackbin.com/bins/-KzVbA5I7NKGyiSNEVhL

[2017-11-21 22:06] #445 closed

[2017-11-21 22:08] alex3165 commented on #427
Hey @suyesh, sorry for the late reply I was focusing on releasing a v3 lately, would you mind opening a PR for that?

Thanks 👍

[2017-11-21 22:13] alex3165 opened #455 "Create an Image component"
Currently images are being added by passing them as a prop of the `Layer` component but I think it should be a standalone component instead as it is done in `ngx-mapbox-gl` https://github.com/Wykks/ngx-mapbox-gl/wiki/API-Documentation#mgl-image-mapbox-gl-api

[2017-11-22 03:45] alpha-beta-soup commented on #449
I only searched the source for "cameraOptions", I assumed it would be distinct. Thanks!

[2017-11-22 03:45] #449 closed

[2017-11-22 05:35] Neuraxis commented on #278
I still have this issue. Added a raster layer like in the doc
<Map >
<Source id="source_id" tileJsonSource={RASTER_SOURCE_OPTIONS} />
<Layer type="raster" id="layer_id" sourceId="source_id" />
</Map>

but if I then want to remove it by return nothing to my
<Map > </Map>

I get this error constantly:
mapbox-gl.js:417 The layer 'layer_name' does not exist in the map's style and cannot be queried for

[2017-11-22 09:06] alex3165 commented on #278
Hey @Neuraxis could you reproduce the issue with [webpackbin](https://www.webpackbin.com/bins/-KqtJN-qkLs4BPaVX0QS) ?

[2017-11-22 16:19] 13MS commented on #447
Thanks for replying, I was indeed wondering if it was the right place. I'll take that to StackOverflow.

[2017-11-23 01:41] Neuraxis commented on #278
no problem:
https://www.webpackbin.com/bins/-KzaNowltNXHzECiyxOe

look at dev tools to see the error

[2017-11-24 10:21] iambalaam opened #456 "Feature Request - getBounds()"
Hi,

I have seen [`getBounds()`](https://www.mapbox.com/mapbox-gl-js/api/#map#getbounds) in the mapboxgl js docs and it would be so useful to have this exposed at the React level.

At the moment I am getting the `MapboxGl.Map` object manually and using the `getBounds()` on that, but I don't like bypassing the react.

[2017-11-24 12:50] alex3165 commented on #456
Hey @iambalaam, how would you see the API for that?

[2017-11-24 13:59] iambalaam commented on #456
I've only seen that the `ReactMapboxGl`component has the map in its state, and it passes this down to all child components in their context.  You can call `getBounds()` on this.  I have only been doing this manually though, and haven't managed to get this to work in my code.

Would it be possible to pass in a custom child component to access this context?

[2017-11-24 15:26] iambalaam commented on #456
Ah! apologies, I didn't realise these events exposed the whole map object.

I want to call an api to get features to pass in a `GeoJSONLayer` to the map.  So this helps when the map is in use, but what would be the best way to initialise the features.  I've now looked closer in your docs at this, am I correct in assuming that `onStyleLoad` will be the first to fire?

[2017-11-24 17:09] alex3165 commented on #456
yes that's the one you should use

[2017-11-24 17:50] CraigglesO commented on #451
Sorry guys! Github never updated me you guys were active on this thread!! :(

I appreciate all the links and support. I will review, make changes and see what happens!

Thanks so much! <3

[2017-11-24 18:19] CraigglesO commented on #451
Update - here is the issue!

The bug is gone, however it still zooms back out.

[code]

Add `center` and `zoom` and upon each style update, it goes back to that center and zoom.

is this a "bug" or should I have those properties update via state management?

[2017-11-24 18:31] Wykks commented on #451
If you pass center and zoom like that, you're creating a new ref of center and zoom for each render. You can put center and zoom inside the state for example.

[2017-11-25 22:09] benrudolph opened #457 "Marker performance issue"
Hi @alex3165, recently switched over to testing out your library for my project. So far it's greatly reduced complexity, however I've found that my performance has drastically decreased. I can easily generate 1000s of markers on my map and I've found that FPS starts to drop to 4 - 6 fps at just a few hundred. I've made a sample slow app:

https://github.com/benrudolph/react-mapbox-gl-debug

This o

[2017-11-25 22:19] benrudolph commented on #457
Also for fwiw, I changed that setState call to be done on `moveend` instead of `move` and performance issues were immediately resolved. Obviously though the markers only update when the move ends which is also not ideal, but it does clearly point to the culprit.

[2017-11-27 02:52] Neuraxis commented on #278
Did you investigate the error in the above comment?

[2017-11-27 13:49] troqru commented on #421
Im ending up with class of "mapboxgl-popup-anchor-null" set to popup if null is passed as an anchor, or "mapboxgl-popup-anchor-undefined", if anchor is not set at all. Is this correct? It results in element "mapboxgl-popup-tip" not being visible at all.

[2017-11-27 14:08] sheerun commented on #381
is it done? package.json has still react 15 as peer dependency. could you update it to something like 15-16 range?

[2017-11-27 14:37] alex3165 commented on #421
@troqru Sorry this is a regression, could you open a new issue for that?

[2017-11-27 14:41] #456 closed

[2017-11-27 14:59] amitassaraf commented on #217
@alex3165 Hey! I just switched to your library instead of Uber's because it has latest feature support but this bug is preventing me from continuing work. Can I help in any way? Are you working on it yet?

[2017-11-27 15:17] troqru opened #458 "Popup anchors classes are not being set when anchor is unset"
[Demo here](https://www.webpackbin.com/bins/-KzxxXI85KpOj8G8SuoD)

When using Popup with auto-anchors, i'm ending up with class of "mapboxgl-popup-anchor-null" set to popup if null is passed as an anchor, or "mapboxgl-popup-anchor-undefined", if anchor is not set at all.
This results in element "mapboxgl-popup-tip" not being visible.

[2017-11-27 15:22] alex3165 commented on #217
Hey @amitassaraf no one is working on it, but we don't really have any good solution in mind for now.

If you don't need any pointer events on your marker you could do something like this:
[code]

Although it will break `onClick` ...

[2017-11-27 17:27] amitassaraf commented on #217
@alex3165 Yeah, I need the onClick functionality sadly :( I hope you figure this out. Tried debugging it myself with no success yet.

[2017-11-27 17:35] luisvillara opened #459 "fitBounds.filter is not a function"
I'm using the `LngLatBounds` class for the fitBounds, but it seems like in the `componentWillReceiveProps` from the map.jsx file doesn't support that type of object.

https://github.com/alex3165/react-mapbox-gl/blob/98adcdea6a799958bc1316b4bbe95ce4194e8842/src/map.tsx#L310

This is the actual part of my code:
[code]

This is the result:
[code]

So if the actual fitBounds isn't an Array, it breaks

[2017-11-27 20:09] redbmk commented on #458
@troqru Do you have a backup of the demo? I tried to fork it to showcase another issue I ran into and it looks like I somehow converted it to an empty `Hello world` project!

[2017-11-27 20:49] luisvillara commented on #459
I just saw this `export type FitBounds = number[][];` but surprisingly the fitBounds also works with a `LngLatBounds ` object 🤔

[2017-11-27 21:52] troqru commented on #458
@redbmk, when you save, it generates new link, so provided demo is still ok

[2017-11-27 22:05] redbmk commented on #458
Oh, phew, it's still there. That's how I assumed it worked, but I had clicked on the link quite a few times, even in incognito, and it kept showing me Hello World.

[2017-11-27 22:22] redbmk opened #460 "Popup does not update coordinates if using an object instead of an array"
If you use an object that has `lng` and `lat` on it for coordinates (e.g. `event.lngLat` in `onMouseMove`), the popup will be positioned correctly, but will not receive updates.

If you use an array instead, then it will update on changes.

This is especially noticeable when having the popup move with the mouse, because instead of
instead of `this.setState({ coordinates: event.lngLat })` you need

[2017-11-28 01:19] nmccrea-db opened #461 "Prevent automatic recentering."
Apologies in advance for my React n00bdom.

I have a map with a `center` property define. On the same page I have a panel of controls, some of which update what is being rendered on the map (a fill extrusion layer, in this case).

Steps to reproduce:
- Load the map. In it's initial state it is rendered correctly.
- Drag the map around to view it from different angles.
- Manipulate something in the

[2017-11-28 01:41] redbmk commented on #461
I believe props like `center` and `zoom` use `===` equality to check if two items are the same.

[code]

If you create a new array on every render, (e.g. `<Map center=[0, 0] />`), it will recenter every time it renders. so the solution would be to use a value defined outside the render (e.g. `this.state.center`, `this.props.center`, or a `const` defined outside the class).

I had the same issue an

[2017-11-28 02:15] redbmk commented on #460
BTW I just noticed the docs mention it only accepts an array, even though it seems to work initially with any [LngLatLike](https://www.mapbox.com/mapbox-gl-js/api/#lnglatlike) object. If I get enough free time I'll look into working on a PR to support LngLat as well as an array, but for now will just use an array.

[2017-11-28 20:30] nmccrea-db commented on #461
@redbmk, that did the trick! We now reference pre-defined arrays on render, rather than declaring the arrays inline, and the problem appears to be solved.

Thank you so much!

[2017-11-28 20:30] #461 closed

[2017-11-28 21:17] StevanCakic commented on #432
This solves my problem: https://github.com/Turfjs/turf/issues/1063

[2017-11-28 21:43] StevanCakic opened #462 "[Question] Usage with mapbox gl draw"
Hi,

what is the best way to use this package with https://github.com/mapbox/mapbox-gl-draw  Maybe this: https://github.com/amaurymartiny/react-mapbox-gl-draw Does anyone test it?

[2017-11-29 09:09] alex3165 commented on #462
Hey, `react-mapbox-gl-draw` is the recommended way to go in the readme

[2017-11-29 09:09] alex3165 commented on #432
Thanks, I will close this then

[2017-11-29 09:09] #432 closed

[2017-11-29 09:13] alex3165 commented on #457
Hi @benrudolph, sorry for the late reply, do you have a specific requirement to use HTML Marker instead of the combination of `Layer` and `Feature`?

There is indeed lot of overhead using Marker as it need to listen `move` event to calculate the new projection when you change the viewport which is why it is slower.

[2017-11-29 13:03] troqru commented on #299
@alex3165 am i missing somwthing or this approach [doesnt work](https://www.webpackbin.com/bins/-L-6Tt5bPJojinL4QEzD)?
It seems that addControl only works when called before map is mounted, but triggered this way after mount as well as onStyleLoad is also gets called too late.
I [tried without react](https://www.webpackbin.com/bins/-L-6qLcL0FmH72AjLjLW) and it works when addControl is used immedia

[2017-11-29 17:10] benrudolph commented on #457
Thanks @alex3165 that makes sense, I'll give that a shot. is there any scenario where one would use the Marker feature?

[2017-11-29 18:23] alex3165 commented on #457
It is useful only if you really have to display something complex on the map (video, image, react component...) but if you just want to display many icons you should rather use `Layer` and `Feature`

[2017-11-29 18:33] #457 closed

[2017-11-29 18:41] alex3165 commented on #459
Hey, @luisvillara Yes react-mapbox-gl doesn't support `MapboxGl.LngLatBounds` yet, this is more a feature as in the documentation it is mentioned that fitbounds should be of type `number[][]`.

[2017-11-29 19:04] alex3165 commented on #458
https://github.com/alex3165/react-mapbox-gl/pull/463/files should fix it

[2017-11-29 19:06] alex3165 commented on #458
`react-mapbox-gl@3.2.1` should have the fix 👍

[2017-11-29 19:06] #458 closed

[2017-11-29 19:12] alex3165 commented on #460
Hey @redbmk, sorry for the late reply, for now the `coordinates` prop of `Popup` only support `number[]`, I believe it is an easy fix to add the support of `{ lng, lat}` data structure, I am open to any PR.

[2017-12-01 09:19] alex3165 opened #464 "Fix error when adding image again when updating style"
https://github.com/mapbox/mapbox-gl-js/pull/5775 will expose `hasImage` which we can use to prevent from adding an image again when updating the style of the map

[2017-12-01 18:10] suyesh opened #465 "Help with live updating"
I have a streetview container on the right and the street view marker on the map on left, the marker is the Marker component inside Map and uses the streetview's current position. It moves as you move through the street view. My only problem is the whole map is refreshing, how to i make the streetview marker smoothly move as you move through the streetview, without reloading the entire map?

What

[2017-12-01 22:07] alex3165 commented on #465
@suyesh if the map reload it is probably because you create a new instance of the Map everytime you render your component. Make sure you use the factory outside of the render function of your component:
[code]

[2017-12-03 08:56] suyesh commented on #465
Thank you so much. That worked.

[2017-12-03 11:47] #465 closed

[2017-12-03 20:07] suyesh commented on #465
@alex3165  That worked great. But now i am having another issue, When i click on streetview, the map is split into two and then the streetview is centered, Now the map doesn't seem to resize. Is there a way to re reload the factory itself?

[2017-12-03 21:04] alex3165 commented on #465
You have to manually call `map.resize` if you want to make the map take the full size of it's container. You can get an instance of the map as a first parameter of any events

[2017-12-03 21:30] lkazberova commented on #217
@amitassaraf You can use Layer=>Feature instead Marker, zoom in|out is ok with Feature)

[2017-12-03 22:54] amitassaraf opened #466 "Map style according to state crashes app"
When doing something like this:
`style={this.props.mapMode.mapStyle}`

and also rendering a Layer with an inline source (Specifically I am using GeoJSONLayer but this happens on all layers)

`<GeoJSONLayer
           data={.... inline source}
            ....`

Everything works fine until the mapStyle changes, then an error is thrown:

`Uncaught TypeError: Cannot read property 'setData' of undefin

[2017-12-04 02:33] suyesh commented on #465
i have 'this.map' ref, what is map.resize? this.map doesnt have any property called resize

[2017-12-04 08:29] alex3165 commented on #465
see https://github.com/alex3165/react-mapbox-gl/blob/master/example/src/demos/index.tsx#L63

[2017-12-04 08:30] #462 closed

[2017-12-04 16:49] suyesh commented on #465
Thank for you help @alex3165 . I really appreciate it. Best wishes for whatever you are up to :)

[2017-12-04 17:11] amitassaraf commented on #217
@lkazberova Yup I ended up switching to Layers anyways :)

[2017-12-04 19:47] amitassaraf commented on #466
@alex3165 This actually happens no matter if it's an inline source or not. Basically why switching map style when any react mapbox component is mounted, everything breaks :(

[2017-12-04 20:09] alex3165 commented on #466
Hey @amitassaraf Could you reproduce your problem with webpackbin: https://www.webpackbin.com/bins/-L-Y88sONY3CSP38tpHW I can't reproduce it with react-mapbox-gl v3

[2017-12-05 09:05] amitassaraf commented on #466
@alex3165 I will do this tonight :)

[2017-12-05 13:46] mastertinner commented on #381
I agree with @sheerun. This issue shouldn't be closed.

[2017-12-05 17:09] nmccrea-db opened #467 "Where are lighting properties defined?"
I'm having some trouble determining which component parameters I can use to specify mapbox-gl lighting properties, as defined [here](https://www.mapbox.com/mapbox-gl-js/style-spec/#light). Would someone mind *illuminating* the situation?

[2017-12-06 08:42] mastertinner opened #469 "Set fitBounds only initially"
I want to set initial `fitBounds` when the map loads for the first time. If I do so, the map goes back to these bounds whenever data changes (it's supposed to be a live map with moving `Feature`s). That's annoying to the user because they might be browsing the map by manually moving the view port and zooming. Whenever there's an update, they're back at the position computed from `fitBounds`.

What

[2017-12-06 09:23] alex3165 commented on #469
Hey @mastertinner , you should not break reference equality between rendering meaning you should keep the reference of the array of your fitbounds:
Dont do:
[code]

Instead do:
[code]

[2017-12-07 10:59] Kornflexx opened #470 "Implementation of latitudeDelta / longitudeDelta"
Hello Alex,

First of all, I want to thanks you for your amazing work on this project.
I was wondering why this module didn't implement latitudeDelta & longitudeDelta. This feature is pretty important to me because other map like react-native-map include it (it seems to be kind of a standard).

Do you know how I can translate deltas to zoom ?

Have a nice day.

[2017-12-07 11:38] alex3165 commented on #470
Hello @Kornflexx, Do you have some links to the mapbox-gl-js documentation about that? I never came across this feature. Could you describe your use case?

[2017-12-07 11:42] alex3165 commented on #467
Hey @nmccrea-db light is a prop to pass to the style of the map. If you use Mapbox studio and point to the style using a string:
[code]

I would suggest you to download your style from Mapbox studio and add your light property, then pass it to the component like this:
[code]

[2017-12-07 11:48] Kornflexx commented on #470
I register location on a phone app using https://github.com/react-community/react-native-maps . It's giving me latitude/longitude/latitudeDelta/longitudeDelta. I want to set the zoom prop of your module depending of deltas. I tried to translate zoom to delta but relation between zoom and deltas is not linear.

Mapbox seems to handle deltas (see this file: https://github.com/mapbox/mapbox-gl-native

[2017-12-07 15:54] nmccrea-db commented on #467
I see. That looks like it does the trick. Thanks so much @alex3165.

[2017-12-07 15:54] #467 closed

[2017-12-08 09:05] redixhumayun commented on #123
Has anyone run into an issue where using
`import * as MapboxGeocoder from '@mapbox/mapbox-gl-geocoder'` throws an error saying could not find the module @mapbox/mapbox-gl-geocoder?

[2017-12-08 09:19] alex3165 commented on #123
I don't know how mapbox export their module but have you tried
[code]

The module seems to be available:
https://unpkg.com/@mapbox/mapbox-gl-geocoder

However if you are using Typescript is seems that there is no type definitions for `@mapbox/mapbox-gl-geocoder`.

[2017-12-08 11:09] khollund commented on #470
I would assume he doesn't want to add something Mapbox-gl-js doesn't have. But you should be able to calculate it yourself and use fitbounds to set the view to the wanted area. This will also take into account any other parameters your view has got, like padding.

[2017-12-08 11:47] Kornflexx commented on #470
Implementing react-native-mapbox-gl in my phone app was pretty fast and fix all the issues I had.

[2017-12-08 23:35] bradsimantel commented on #469
Adding on to what @alex3165 said, you can also store the reference outside of your component/render function.

[code]

[2017-12-09 17:42] alexpriceco commented on #146
Also coming in with an issue getting this to work on Next.js. @karloluis, were you able to find a workaround?

[2017-12-10 09:29] mastertinner commented on #469
Thanks for your answers! @alex3165, is this what you had in mind?

[code]

[2017-12-10 11:44] alex3165 commented on #469
@mastertinner Kind of, you can remove the componentDidMount, as long as you keep the reference of `fitBounds` in the state (or anywhere outside of the render function) and don't change the values, react-mapbox-gl shouldn't change your bounds. Feel free to reproduce your issue with https://www.webpackbin.com/bins/-KqtJN-qkLs4BPaVX0QS if it is unclear I will have a look

[2017-12-10 13:31] mastertinner commented on #469
Thanks, @alex3165! That worked perfectly.

[2017-12-10 13:31] #469 closed

[2017-12-11 07:29] SabirAmeen commented on #422
Is there any update on implementating spider effect?

[2017-12-11 09:25] Wykks commented on #422
Not yet, I may take a look this week

[2017-12-11 21:24] Valid opened #473 "Error: layers.heatmap.paint.heatmap-color: zoom functions not supported"
[code]

This gives the error:
`Error: layers.heatmap.paint.heatmap-color: zoom functions not supported`

Any idea why this would be the case?

[2017-12-11 23:23] alex3165 commented on #473
Hey @Valid the API for `heatmap-color` has changed, have a look at the new heatmap example from mapbox-gl: https://www.mapbox.com/mapbox-gl-js/example/heatmap-layer/ I also updated the heatmap example in this repostitory

[2017-12-11 23:23] #473 closed

[2017-12-12 06:47] redixhumayun opened #474 "How to style a GeoJSONLayer"
Hi, I'm using GeoJSONLayers to render some json data points, but I want these data points to be styled with a specific icon rather than a generic circle or any other polygon shape.
How do I go about this?

[2017-12-13 20:55] bradsimantel opened #476 "Setting fitBounds from state with onMoveEnd causes infinite loop"
When I set `fitBounds` from state, updating it `onMoveEnd`, I end up in an infinite loop. I set up a very simple demo [here](https://github.com/bradsimantel/react-mapbox-gl-debug).

I'm looking at `didFitBoundsUpdate` in `map.tsx` to see if there's a bug there, but I wanted to open an issue in case I'm just overlooking something simple.

[2017-12-13 21:22] bradsimantel commented on #476
Checking out `didFitBoundsUpdate`, it looks like if `fitBounds !== nextProps.fitBounds`, `didFitBoundsUpdate` is set to true, which means we call `map.fitBounds`, which triggers a move event, which causes me to call `setState` and update the bounds, which gets me into my loop.

Seeing that, it seems like I'm misunderstanding how I should do what I want to do, which is to programmatically/declarati

[2017-12-16 16:13] tobiash opened #479 "Typescript: Map Events are not React.SyntheticEvent"
The typings say that the events for the `Map` are of the type `React.SyntheticEvent<any>`, however, from what I can see the event listeners are directly passed through to the Mapbox API, which returns their own `MapMouseEvent` etc.
Should the typings be corrected, or should the original events be wrapped?

[2017-12-17 21:47] alex3165 commented on #479
Hey @tobiash , Yes it is an issue, I can fix the types when I have some times, otherwise feel free to open a PR for that 👍

[2017-12-20 21:26] sergei-zelinsky commented on #466
Hi, guys!

I have the same problem.

This is my quick reproduction - https://www.webpackbin.com/bins/-L0phWZaJPfO_5rUcP0o

When you change style it is ok, but when you wanna change style and data for GeoJSON layer simultaneously it causes map crash.

I tried to fix this in https://github.com/alex3165/react-mapbox-gl/pull/478.

Thanks!

@alex3165 @amitassaraf

[2017-12-21 08:35] alex3165 commented on #466
Hey @sergei-zelinsky Thank you very much for reproducing the issue, I created a PR to fix it https://github.com/alex3165/react-mapbox-gl/pull/481

[2017-12-21 08:36] alex3165 commented on #466
Hey @sergei-zelinsky, thank you for reproducing / creating the PR, it is the right approach but I also made a few changes on this bit of code, I hope you don't mind. Here is the PR https://github.com/alex3165/react-mapbox-gl/pull/481

[2017-12-21 08:42] alex3165 commented on #466
react-mapbox-gl version 3.4.1 should include this fix. Thanks @sergei-zelinsky for pointing out the issue! 👍

[2017-12-21 08:42] #466 closed

[2017-12-21 11:23] redixhumayun commented on #344
Hey, when I try this, I get the following error:
`react-dom.development.js:12879 Uncaught DOMException: Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The HTMLImageElement provided is in the 'broken' state.
`
Any idea why?

[2017-12-21 21:48] aziz-boudi4 opened #482 "Can I add a GeoJSON line like they do in the (mapbox-gl-js documentation) using react-mabpox-gl ?"
I'm trying to add a GeoJSON line to show car direction between a point A and a point B ( like they have in the official documentation of mapbox-gl-js (https://www.mapbox.com/mapbox-gl-js/example/geojson-line/)

How can I achieve something similar to this :

![screen shot 2017-12-20 at 5 55 10 pm](https://user-images.githubusercontent.com/7435015/34276239-5b47a5ec-e655-11e7-92c9-5619a405bfe3.png).

[2017-12-21 23:28] aziz-boudi4 commented on #482
I managed to make it work by doing this:

`class MapPage extends Component {
  render() {
    return (
      <Map
        style="mapbox://styles/myUsername/dezdfez4eijtgijtng54"
        center={[-121.23576311149986, 38.63738602787579]}
        zoom={[6.8]}
        containerStyle={{
          height: '100vh',
          width: '100vw'
        }}
        onStyleLoad={map => {
          map.addLayer({

[2017-12-21 23:30] aziz-boudi4 commented on #482
`class HelpPage extends Component {
  render() {
    return (
      <Map
        style="mapbox://styles/azizomarboudi/cjbft84x8a5fu2rqotq2uyltr"
        center={[-121.23576311149986, 38.63738602787579]}
        zoom={[6.8]}
        containerStyle={{
          height: '100vh',
          width: '600'
        }}
        onStyleLoad={map => {
          map.addLayer({
            id: 'route',

[2017-12-22 01:27] aziz-boudi4 commented on #482
Never mind I found the solution: I ended up using the Mapbox Directions API https://www.mapbox.com/api-documentation/#directions.
given a point A and a point B, I get a geoJson ( an array of Route objects ) that I use in the geometry property to display the route on the map.

[2017-12-22 05:15] 4xDMG commented on #466
I'm still experiencing this bug after updating to 3.4.1

[2017-12-22 15:25] sergei-zelinsky commented on #466
@4xDMG In my case, after update to version 3.4.1, this bug has disappeared.

[2017-12-23 03:57] 4xDMG commented on #466
@sergei-zelinsky I must be doing something wrong. I have three seperate maps in my app. It works on one but not on the other 2. Spent a few hours yesterday trying to work it out. If I use the GeoJSONLayer component it works. If I get some time next year I'll investigate more and see if it's just me being stupid or if its some weird edge case.

[2017-12-23 23:12] mikew opened #483 "GeoJSONLayer: passing `layerOptions` breaks `circleOnClick`."
I'm using GeoJSONLayer to render a bunch of circles. I'd rather not switch to the other `Layer` / `Feature` components, as we are rendering sometimes 40,000 of these circles and the overhead of React would probably be too much here.

Anyways, setting any `layerProps` on `GeoJSONLayer` breaks `circleOnClick`, and maybe more. I'm not sure exactly where it's breaking. Stepping through the code it loo

[2017-12-24 02:46] aziz-boudi4 opened #484 "How to access the map.flyTo method and use it dynamically ?"
@alex3165
I'm currently using the `map.flyTo` inside the
`onStyleLoad={map => {
}}`

It's working fine but, the flyTo happens at the initial render

my goal is to update the map.flyTo options dynamically on button Click?

how can I achieve that?
is the map.flyTo provided as a prop?

here's my current code:

[code]
![screen shot 2017-12-23 at 5 43 54 pm](https://user-images.githubusercontent.com/74

[2017-12-24 15:50] aderaaij commented on #484
You could get a reference to your map by adding `<Map ref={(e) => { this.map = e; }} />`. After that you've got `this.map` available which you could set as a prop or state. You can call `flyTo` and any other method on it!

[2017-12-25 01:11] Valid commented on #344
This works for me (shows the image) but gives me a few errors when removing the <Layer> the new image is associated with:

[code]

Errors when `!show`:
[code]

and

[code]

[2017-12-26 06:47] redixhumayun commented on #344
@Valid Yep, same exact issue when trying to remove a layer with an associated image. Have you found a work around for this?

[2017-12-26 07:34] redixhumayun opened #485 "symbolOnClick not working"
Hi,

I have the following code

[code]

I am trying to cluster layers using the GeoJSONLayer and Layer components. The issue I am having is that the symbolOnClick event does not seem to be firing for the GeoJSONLayer.

It seems to work fine when I am using circles for styling the data points, but not for the symbol. Any idea why?

[2017-12-26 20:48] aziz-boudi4 commented on #484
@aderaaij I got a reference to my map by following your advice, then I added it to the state in `componentDidMount` by doing `this.setState({ mapRef: this.map })`.
but how can I call the `flyTo`method from within my `clickHandler function` ?

[2017-12-27 02:21] gaearon commented on #484
You don’t need to put refs in the state. It’s fine to read them from the instance where you already store it. In the click handler, you can call `this.map.flyTo()`, can you not?

[2017-12-27 03:05] aziz-boudi4 commented on #484
Well when I use

[code]
I get an Uncaught TypeError: _this.map.flyTo is not a function

[code]

[2017-12-27 03:34] dpkshrma commented on #217
@lkazberova @amitassaraf But, layer features do not support custom html. I checked the render method of Feature component and it renders null (it doesn't take children into account). Please share if you were somehow able to render markup.

[2017-12-27 18:36] aziz-boudi4 commented on #484
@aderaaij yes Arden, It's indeed working when I use `this.map.state.map`. I didn't try that because when I `consoled logged` earlier the method `flyTo` was not there.

quick question though, just to fully understand:
1- how come the `this.map` has a `state.map` ? can you please elaborate on that?
and thank you again for your help and guidance.

[2017-12-27 18:42] aderaaij commented on #484
@aziz-boudi4 glad to hear it's working. When you get your `ref` to the map, it actually refers to the `ReactMapboxGL` component, which is a React component and not the map itself. The `ReactMapboxGL` component has the actual `mapboxgl` map in its state on which we can apply the normal mapbox API. To be honest, I'm not sure if this is the best way to get a reference to the map but I had the same pr

[2017-12-27 18:46] aziz-boudi4 commented on #484
@aderaaij great, well it's working for me as well.
maybe @alex3165 can tell us if there's a better way to do that

[2017-12-27 20:43] Valid commented on #344
Nope, haven't found a workaround yet. @alex3165 should this be re-opened, or another issue created?

[2017-12-27 22:12] markerikson commented on #484
@aziz-boudi4 : I actually show an example of this exact idea in my post [Declaratively Rendering Earth in 3D, Part 2: Controlling Cesium with React](http://blog.isquaredsoftware.com/2017/03/declarative-earth-part-2-cesium-react/).  I'd encourage you to read through that post.  Your specific question is covered in the section where I talk about [updating the camera position based on state changes](

[2017-12-28 07:45] alex3165 commented on #484
Hey @aziz-boudi4, sorry for the late reply, thanks everyone for helping out on this issue. I would rather avoid calling `map.flyTo` manually, you can play with `center` and `zoom` props of the map component to achieve what you want to do. The purpose of the library is to abstract those manual calls to mapbox API.

Also instead of calling `map.addLayer` you can use the `GeoJsonLayer` component http

[2017-12-28 08:23] kylebebak commented on #457
@alex3165
Hey Alex, I've been using your library for a few weeks and I like it a lot. I have a question regarding `Marker` vs `Feature`, and I figured I'd ask it here instead of opening a new issue.

So, I can render ~800 `Feature`s on my map without any problem. However, as @benrudolph mentioned, rendering ~800 `Marker`s on the map slows my browser to a crawl.

One problem I have using a combinat

[2017-12-28 08:37] kylebebak opened #486 "Render a large number of Features in a Layer simultaneously"
I've been using this library for a few weeks and I like it a lot. I have a question regarding `Marker` vs `Feature`.

So, I can render ~800 `Feature`s on my map without any problem. However, as @benrudolph mentioned in #457 , rendering ~800 `Marker`s on the map slows my browser to a crawl.

One problem with using a combination of `Layer` and `Feature` **is that not all the features are rendered to

[2017-12-28 10:37] Wykks commented on #486
Hi !

Of course, never use markers if you don't need html to render your symbols.

Take a look at layer symbol config to change the default behavior of mapbox-gl:
https://www.mapbox.com/mapbox-gl-js/style-spec#layers-symbol

[2017-12-28 10:37] #486 closed

[2017-12-28 11:48] redixhumayun commented on #344
Related? https://github.com/alex3165/react-mapbox-gl/issues/278

[2017-12-28 14:14] alex3165 commented on #344
Hi, sorry for the late reply, it is related to https://github.com/alex3165/react-mapbox-gl/issues/464 and I have created a PR on mapbox-gl-js to get this fixed https://github.com/mapbox/mapbox-gl-js/pull/5775. I am just waiting to have this`map.hasImage` released with mapbox v0.43 to fix it.

[2017-12-28 15:03] Wykks commented on #344
@alex3165 well mapbox v0.43 with `map.hasImage` is released since 7 days :stuck_out_tongue:

[2017-12-28 15:05] #344 closed

[2017-12-28 18:48] kylebebak commented on #486
@Wykks
Thanks! Passing `'icon-size': true,` to the `layout` prop of `Layer` did the trick.

While we're on the subject, I had another question: is there a way to style individual features within a layer, so they can be displayed with a different color/size/icon?

Thanks again!

[2017-12-28 21:02] alex3165 commented on #464
Mapbox-gl v0.43 is out, waiting for the type definitions to be updated before working on the fix, cf: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/22544

[2017-12-28 21:09] alex3165 commented on #486
Hi @kylebebak I don't think there is any good solution for this use case 500+ markers of 5 / 10 different types. What I have done so far is to create 5 / 10 different layers.

Any PR welcome to add a warning in the doc specifying that Marker have bad performances when using 100+ of them (maybe even less, I haven't benchmarked it).

[2017-12-28 21:15] alex3165 commented on #483
Could you reproduce this issue using the webpackbin template attached in the readme? or by forking react-mapbox-gl-debug?

[2017-12-28 22:07] Wykks commented on #486
You totally can display symbol in the same layer with different color/size/icon/...
It's the feature called data driven styling. You have an example right here: https://www.mapbox.com/mapbox-gl-js/example/data-driven-circle-colors/

[2017-12-28 22:44] mikew commented on #483
Can do, but am on holiday now so it probably won't be until tomorrow.

[2017-12-29 01:37] kylebebak commented on #486
@Wykks @alex3165

I don't mean to beat a dead horse, but I created a video to help you guys diagnose what might be happening.

Here's my code, it's totally standard. It is, in fact, the exact code Alex recommends for adding markers to map (wrap a bunch of features in a layer, instead of using the marker component).

[code]

[2017-12-29 03:41] aziz-boudi4 commented on #484
@alex3165 thank you for the info Alex, oh you mean putting Center and Zoom on the state and updating them when the user clicks on a specific button? can I do the same thing for `Bearing` and `Pitch` which are options of the `flyTo` method?

Thank you, I will have a look at the examples you gave me, and try to use `GeoJsonLayer`

[2017-12-29 09:01] Wykks commented on #486
Humm there's a lot going on indeed.Your `render` function looks fine (just a react tip: try to avoid arrow function/bind inside `render`). Could you reproduce theses issues using the webpackbin template attached in the readme? or by forking react-mapbox-gl-debug?

[2017-12-29 15:11] eltoro commented on #123
It's apparently not there by default. I needed to npm install mapbox-gl-geocoder and then it installed under the @mapbox namespace.

[2017-12-30 05:56] kylebebak commented on #486
@Wykks @alex3165
Again, thanks for writing the library, but I can't continue to sink time into this. All of us know the issues I mentioned have nothing to do with an arrow function/bind inside `render`.

As for reproducing the issues, it's really easy. Just render some `Feature`'s inside a map and throw a `Popup` in there.

You guys ought to reopen this issue, or split it into several issues. It s

[2017-12-30 16:48] gaearon commented on #484
Just to make sure we're clear, it's a bad idea to read `.state.` of another component. State is typically considered private.

I'm finding it hard to understand what you're asking. If you created a tiny mockup with a fake map component just to illustrate the issue that would help.

[2017-12-31 20:52] benrudolph opened #487 "Issue changing style of map with layer that has images"
This library throws an error if you try to change the style of the react map that contains a layer with loaded images

For example:

[code]

Then when you change `this.props.style`, the `Layer` throws an error because it tries to add the same images.

I believe the fix is to add a check for `hasImage` here: https://github.com/alex3165/react-mapbox-gl/blob/master/src/layer.ts#L181

[2018-01-04 12:29] khollund commented on #476
It's pretty tricky to solve this especially if you need to have camera functions for UI as well (we use dynamic padding etc.). I ended up solving it by only using map center in state, not the bounds. It can get a bit complicated as you need to know when you want to and don't want to update the map position. But I kind of needed to anyway.

[2018-01-04 14:53] khollund commented on #484
I think the "mistake" here is the way you look at flyto. You should think of flyTo not as a method of changing the center point or other properties of the map, but an animation method to move the camera. As soon as you need to use interactions to move the map it's important to grasp the concept of the camera being your view into the map.

So if you want to fly somewhere, in reality what you essent

[2018-01-06 00:24] n23daniel opened #488 "Uncaught Error: Unable to find element with ID with server side rendering"
Everything works fine, except when doing initial page load via server side rendering. The error only occurs if I place anything inside the ```<Map></Map>```.
If I use client side rendering, everything works as expected.
My situation is something similar to:
[code]

The reason of the error is explained here https://github.com/facebook/react/issues/7093 . But I'm guessing there needs to be a solutio

[2018-01-06 15:30] n23daniel opened #489 "Popup anchor class name null"
If I don't set an anchor prop for the ```<Popup>```, I get the "mapboxgl-popup-anchor-center" set as the class name, although I though the "auto" one is by default as described in the docs: "null | undefined: When not set, the anchor is automatically calculated to keep the content of the popup visible."

Although, the functionality works if I set the prop as either ```<Popup anchor={}>``` or ```<P

[2018-01-06 15:38] n23daniel opened #490 "Scroll zoom over marker, popup, etc doesn't work"
I'm using a map with scrollZoom and if I try to scroll over a marker/popup it scrolls on the document, instead of the map. I guess it's because of the DOM structure. Do you have an idea how this issue could be fixed? Thanks!

[2018-01-07 19:53] n23daniel commented on #488
Thanks for the answer! I'm using React 15 and I've tried updating to React 16, but I've got too many dependencies that don't support React 16, mostly because of the PropTypes update, so that's a think I can't do right now. Mainly asking if there is a solution with React 15 as I'm hoping there were guys that successfully used react-mapbox-gl with React 15 for server side rendering.

[2018-01-08 18:21] jthetzel opened #493 "Error removing layer when using mapbox-gl 0.43.0"
Mapbox-gl v0.43.0 introduces a breaking change that throws an error if a source is removed while still in use (e.g. remove a source prior to removing layers that use the source, https://github.com/mapbox/mapbox-gl-js/pull/5562 ). This was discovered in #491.

Example error:
[code]

[2018-01-08 18:27] jthetzel commented on #493
For reproducible example in example/demos, see toggle-layer demo at: https://github.com/jthetzel/react-mapbox-gl/commit/4872734cc807cdfa0ff11ecd2b8b2631b3f5efd8

[2018-01-08 21:19] alex3165 commented on #490
Hi @n23daniel I will close this issue as it is a duplicate of https://github.com/alex3165/react-mapbox-gl/issues/217 there is no good solution to go around this problem for now. Have a look at the thread in the other issue.

[2018-01-08 21:19] #490 closed

[2018-01-08 21:21] alex3165 commented on #489
Hi @n23daniel this seems like a bug, feel free to open a PR if you want to fix it 👍 otherwise I will try to find some time to have a look at it

[2018-01-08 21:28] alex3165 commented on #488
Hi @n23daniel I think you should be able to make it working if you set a boolean in componentDidMount and use it to render the map (componentDidMount is not triggered on SSR).

In the meantime I will close this issue as it seems to be solved with React 16 anyway.

[2018-01-08 21:28] #488 closed

[2018-01-08 21:31] alex3165 commented on #487
Hi @benrudolph Sorry for the late reply but there is an open issue for that https://github.com/alex3165/react-mapbox-gl/issues/464 I was waiting to get some types from definitelyTyped to be merged but it seems quite critical so I might go ahead with a temporary hack around the types. In the meantime you can directly upload your images in mapbox studio if you are using it, they will be downloaded w

[2018-01-08 21:31] #487 closed

[2018-01-08 23:35] n23daniel commented on #488
Thanks for the componentDidMount tip. I've previously rendered using a __CLIENT__ global variable I set during file compilation, server or client bundle. I still don't fully understand why the check after componentDidMount works instead of checking only if it's client before it mounts. Maybe React allows dom updates after component did mount, but not before as it already has the server's dom with

[2018-01-08 23:37] n23daniel commented on #489
I'm fully booked right now, maybe in a couple weeks I'll have a go!

[2018-01-09 09:19] Wykks commented on #493
Yup I had to deal with this change in ngx-mapbox-gl too (https://github.com/Wykks/ngx-mapbox-gl/issues/10).
@alex3165 Instead of calling mapbox-gl method directly, we can buffer the removes request, then in the same frame if possible process the removes in a defined order.

[2018-01-09 13:26] alex3165 commented on #485
Hi @redixhumayun it should be working, can you please replicate your issue using the webpackbin boilerplate linked in the readme? Thanks.

[2018-01-09 13:27] #484 closed

[2018-01-10 00:12] #482 closed

[2018-01-10 08:11] redbmk commented on #217
@alex3165 playing around with one of the demos in Chrome's devtools. Based on @simple17's observation, I moved the div holding the markers to be after the mapboxgl canvas and everything appeared to worked fine (marker click events worked as well as being able to click and scroll on the canvas in the same spot). Here's some simplified markup demonstrating what I mean:

[code]

I looked at the code

[2018-01-10 09:02] brncsk commented on #381
Please update the peer dependency to accept react 16. Thanks.

[2018-01-11 10:59] LewisYoul commented on #285
Thanks so much for this!

[2018-01-11 16:23] KentDi808 opened #494 "Unable to set circle-color for cluster in GeoJSONLayer based on property"
I have the need to style a cluster based on a property that each feature in the cluster may have. For instance, if a feature looked like this

` { ... "properties": { "id": 2, status: 'critical' } ...}`

I would like the cluster's circle-color to be red, `normal` green and `unknown` blue.

`SuperCluster` provides `initial`, `map` and `reduce` to set the values of the cluster properties but I am un

[2018-01-12 12:37] tmerrr commented on #123
the line of `map.addControl` is giving me an error if `cannot read property of undefinded`.

Console logging the context returns a blank object.

I also tried calling `addControl` directly onto `Map` but it says it's not a function.

Any help?

[2018-01-12 15:31] bsouthga commented on #123
@tmerrr you might need to specify `contextTypes` as @taystu notes above.

[2018-01-12 16:56] tmerrr commented on #123
Thank you, that was exactly it.  Hadn't completely understood the above answer initially! Below solution to hopefully help others:

[code]

[2018-01-13 05:43] suyesh opened #495 "Is this going to be updated soon?"
[code]

[2018-01-15 03:15] redbmk commented on #495
@alex3165 Does `react-mapbox-gl` need to require a specific version of `mapbox-gl`? What if we just required `^0.42.2` (or `^0.43.0` for that matter)?

I feel like upgrading to react v16 though would be a breaking change so that would have to be part of version 4.

[2018-01-15 03:20] redbmk commented on #474
@redixhumayun You can style it according to the [mapbox style spec](https://www.mapbox.com/mapbox-gl-js/style-spec). According to [the docs](https://github.com/alex3165/react-mapbox-gl/blob/master/docs/API.md#geojsonlayer) you just need to add props for the layer you need and whether you're styling for Layout or Paint. e.g.

[code]

[2018-01-15 09:18] Wykks commented on #495
It does need a specific version of `mapbox-gl`. Using `^` with `mapbox-gl` doesn't make sense, because they are not using semantic versioning (they are doing breaking changes in "minor version"). `0.43.0` doesn't work with `react-mapbox-gl` yet https://github.com/alex3165/react-mapbox-gl/issues/493

It already support react 16, the package.json need to be updated.

[2018-01-15 15:33] erick-otenyo opened #496 "Uncaught TypeError: Cannot read property 'transition' of undefined"
Getting this error on the console when setting fitBounds on Map Component.

[2018-01-16 12:05] Wykks commented on #495
package.json updated, closing in favor of #493

[2018-01-16 12:05] #495 closed

[2018-01-16 17:30] redbmk commented on #495
Ah I didn't realize they weren't on semver. That's too bad.

[2018-01-16 18:20] KentDi808 commented on #494
**Update** I was able to get things working using `SuperCluster` to do the clustering instead of the built-in clustering. It works well but it is unfortunate that I can't take advantage of what is mostly there.

[2018-01-17 05:28] Valid opened #497 "draggable markers on mobile also map with first drag"
I thought this was an issue with my own implementation, but I noticed that this happens on the 'switch style' [demo](https://alex3165.github.io/react-mapbox-gl/demos) as well.

When you first press/drag, it drags the point as well as the map, but every subsequent drag only drags the marker as desired. This happens on my Android Pixel XL as well as my iPhone 7.

[2018-01-17 08:52] alex3165 commented on #496
Hi @erick-otenyo, could you reproduce the issue with the webpackbin boilerplate in the readme?

[2018-01-17 09:24] erick-otenyo commented on #496
Here is the fork https://github.com/erick-otenyo/react-mapbox-gl-debug

also the fork is live at https://react-mapbox-debug.surge.sh

Am using google chrome. The error shows on the chrome console

[2018-01-17 10:59] sathya9897 opened #498 "style prop must be an object"
I was using the boilerplate available for debugging purpose provided in this package. when I did

    npm start
    compiled with warnings.
    Line 20: Style prop must be an object   react/style-prop-object

The map loads fine but why is this warning is shown?

[2018-01-20 20:53] jthetzel opened #499 "Example fails to build due to typescript errors"
Example does not build after commit d9359a15ee6ebe6afec759bcc6e0edae54289fdc . Various TS2403 and TS2605 errors reported.

[typescript.txt](https://github.com/alex3165/react-mapbox-gl/files/1649254/typescript.txt)

[2018-01-21 13:05] jthetzel commented on #499
I have this fixed locally, will submit a pull request shortly.

[2018-01-21 13:57] jthetzel commented on #496
I'm also seeing this in the react-mapbox-gl demo, before and after 0.43.0 upgrade. Possibly related to mapbox/mapbox-gl-js#1970 .

[2018-01-22 01:17] benrudolph opened #501 "Update style causes error when using geoJsonSource"
I have a `Source` element that uses geoJsonSource:

[code]
Whenever I update the `style` attritube on the `Map` element, it throws an error:

[code]

This is with version 3.4.1.

Seems very similar to issues:
https://github.com/alex3165/react-mapbox-gl/issues/466
https://github.com/alex3165/react-mapbox-gl/issues/261

[2018-01-22 12:03] SkylinR commented on #396
I also wanted to use my won tiles server and
`MapboxGL.config.API_URL = 'myOwnTailsURL';`
is working perfectly :)

[2018-01-22 19:16] redbmk commented on #217
I have a fix for this that works if A) `react-mapbox-gl` is compiled with react 15 as a devDependency, or B) if `react-mapbox-gl` is compiled with react 16 as a devDependency and the app using it is also using react 16. It doesn't work for C) compiled with react 16, but used within react 15.

Does anybody know a good way to detect if the app requiring `react-mapbox-gl` is using react 15 or 16?

Th

[2018-01-22 20:16] bradsimantel commented on #476
Closing this issue since it's not really a bug or a feature request. I ended up just writing my own basic wrapper component for Mapbox GL JS.

[2018-01-22 20:16] #476 closed

[2018-01-22 21:05] alex3165 commented on #217
@redbmk We could include those changes in a new major version of react-mapbox-gl `4.x.x` and specify that `react-mapbox-gl` 4.x.x only works with react 16+, I would expect most of the users of react-mapbox-gl to be using react 16 by now.

[2018-01-22 21:17] redbmk commented on #217
Cool - is there a branch for 4.x.x yet, or how far away would that be?

I've been playing around with it and I was able to make a fix that seems to work with React 15+ and it just wouldn't use Portals at all, so maybe we could use that for now and upgrade to `createPortal` for 4.x.x. I'm not sure if there are any performance implications to using `ReactDOM.render`, but things seem to be working fi

[2018-01-22 21:54] alex3165 commented on #217
@redbmk The Popup and markers were using `ReactDOM.render` before and we moved to normal react components because with `ReactDOM.render` there is no way to access the `context` in the children components.

On the other hand, there is no 4.x.x branch, but we can start one and I can draft a roadmap with breaking changes we could also includes. I am happy to go for this approach even if it is disrupt

[2018-01-22 22:04] redbmk commented on #217
Gotcha. I started a PR so you can take a look at the code I have so far. I completely forgot to run the tests and a lot of those are failing - I think it might have something to do with `enzyme` but I'm not sure yet. It fails with the `createPortal` as well.

I was able to pass in context by rendering another component that takes `map` as a prop and then sets the context using that.

I also realiz

[2018-01-22 22:37] redbmk commented on #217
OK I found and fixed the issue with the tests. I just needed to wait until the `load` event to get the canvas container. It's still using the `ReactDOM.render` method, but I can switch it over to `createPortal` easily if you want to go the React 16 route. That would get rid of the extra `portal.tsx` component as well, which is just used to pass along the `map` context.

[2018-01-23 16:50] redbmk commented on #498
This is because `style` is usually a way of decorating elements in JSX, so eslint is warning you that it should be an object. In the case of `react-mapbox-gl` you would use `containerStyle` instead, and `style` is for the mapbox styles, so it's a little confusing.

[2018-01-23 17:55] redbmk commented on #494
There is an [open issue in `mapbox-gl-js`](https://github.com/mapbox/mapbox-gl-js/issues/2412) to add support to sources for `initial`, `map`, and `reduce` functions. In the meantime, if you use the [`Cluster`](https://github.com/alex3165/react-mapbox-gl/blob/master/docs/API.md#cluster) component of `react-mapbox-gl` you can use the `getLeaves` function to access the leaves of the cluster and do s

[2018-01-23 19:09] redbmk commented on #498
BTW one thing you can do to get rid of the warning is something like this:
[code]

Another option would be to download the style, then import it as json, which means it's now an object (hence removing the warning) and will now be bundled in your code, so one less network request.

[code]

[2018-01-25 01:33] suyesh opened #504 "Whenever i use dynamic bearing, the map wont pan to the center. i am using flyTo option."
I used html5 device orientation to update bearing using alpha, even though it works, the map wont flyTo the center once the api sends response? why is this happening? Thank you

[2018-01-26 03:03] canfie1d opened #505 "Rendering to a PureComponent"
I am attempting to render a map to a regular react component but it is rendered twice on each page load (which leads to 2 map stylesheet imports and 2 map api requests). My first thought was to use a pure component which indeed stopped the 2nd render but now my map doesn't center in the same place as the marker i placed (which _does_ show up in the correct spot). It seems as though that 2nd render

[2018-01-26 11:11] Wykks commented on #505
[Do not](https://github.com/alex3165/react-mapbox-gl/issues/465) [instanciate](https://github.com/alex3165/react-mapbox-gl/issues/350#issuecomment-330178189) [the map](https://github.com/alex3165/react-mapbox-gl/issues/313) [in the render fonction](https://github.com/alex3165/react-mapbox-gl/issues/461#issuecomment-347386140) :smile:

[2018-01-26 16:20] canfie1d commented on #505
The same behavior exists when holding center in state.

[2018-01-26 17:52] canfie1d commented on #505
Ah, of course. Thank you.

[2018-01-26 17:52] #505 closed

[2018-01-26 17:55] n23daniel opened #506 "fillOnMouseLeave doesn't get called"
I'm using a ```<GEOJSONLayer/> ``` to display some polygons. I'm using a combo of ```mousemove``` and ```mouseleave``` to display a popup of the current polygon:
[code]

My problem is that ```fillOnMouseLeave``` event gets called only like 3/4 of time, and so I can't hide the popup displayed. It mostly relates to the speed the mouse is moving.

Previously, everything worked fine with the non react

[2018-01-28 20:40] #493 closed

[2018-01-28 20:40] #499 closed

[2018-01-29 13:24] sojimon commented on #28
I'm trying to mark a circle using react-mapbox-gl.
` {
            this.props.position.map((point) => {
                console.log("point");
                console.log(point.position);
                console.log("point");
                <Layer type="circle" radius={20} color={ 'red'} fillColor= '#f03' fillOpacity= {0.5} paint={this.getCirclePaint()}>
                    <Feature  coordinates={

[2018-01-29 16:01] gurbraj commented on #28
@sojimon, have you tried using a `return`-statement in the map(.)? I think an return statement is included only iff the function body is one line.

[2018-01-29 17:16] Darkilen opened #508 "Demo error on Firefox Developer edition v59.0b4 on Ubuntu 16.04"
Hello,

I can't see [demos](https://alex3165.github.io/react-mapbox-gl/demos) on Firefox Developer Edition v59.0b4 on Ubuntu 16.04 because i have this error :
[code]
[code]
All other pages work perfectly.

However, the [demos](https://alex3165.github.io/react-mapbox-gl/demos) work perfectly on Chrome on Ubuntu 16.04

Why is this happening ?
Thank you in advance

[2018-01-30 02:39] nikkiczx commented on #28
I'm trying to put a marker down... but there's nothing there...

`<Map
                    style="mapbox://styles/mapbox/dark-v9"
                    center={userLngLat}
                    containerStyle={{
                      height: "100vh"
                    }}>
                    <Layer
                      type="symbol"
                      id="marker"
                      layout={{ "

[2018-01-30 04:00] sojimon commented on #28
@gurbraj If I used `return` statement in map() .But no change.Code is below,
` this.props.position.map((point) => {
                console.log("point");
                console.log(point.position);
                console.log("point");

                return (<Layer type="circle" radius={20} color={ 'red'} fillColor= '#f03' fillOpacity= {0.5} paint={this.getCirclePaint()}>
                    <F

[2018-01-30 04:14] sojimon commented on #28
@gurbraj  Thanks. Now it works.I changed the above code as below.A key is added to the repeating element.
` this.props.position.map((point,index) => {
                console.log("point");
                console.log(point.position);
                console.log("point");

                return (<Layer key = {index} type="circle" radius={20} color={ 'red'} fillColor= '#f03' fillOpacity= {0.5} pain

[2018-01-30 04:37] sojimon commented on #28
@gurbraj  But the same issue exist for drawing line. The code is
`  {
            this.props.position.map((point,index) => {
                console.log("point");
                console.log(point.position);
                console.log("point");
                return (
                    <Layer key = {index} type="circle" radius={20} color={ 'red'} fillColor= '#f03' fillOpacity= {0.5}

[2018-01-30 08:29] nikkiczx opened #510 "Layer not working in Meteor"
I'm trying to get the example working on Meteor. So far I can load the map but it looks like the layer isn't working. Can someone tell me what I'm missing? Thanks!

[code]

[2018-01-31 08:18] cyrilchapon opened #511 "Please sit around a table and talk"
- https://github.com/AlpacaTravel/react-map-gl-alt
- https://github.com/uber/react-map-gl
- https://github.com/alex3165/react-mapbox-gl

Both MapboxGL.js and React are 4 years old. There are currently 3 different, active and maintained, libraries out there trying to implement a React friendly API for Mapbox. While each of them is pretty great and hard work, each of them lack features. When coming

[2018-01-31 21:40] glorp47 commented on #506
+1 I'm also getting this issue

[2018-01-31 21:54] alex3165 commented on #511
Hey @cyrilchapon, thanks for your suggestion, I agree it would be great to have a complete working single solution indeed and to be honest I would be happy to help on such a thing if someone else want to drive the discussion / project. I think it should come from Mapbox as they have all the knowledges to make it right (they have peoples using React internally for Mapbox studio and own mapbox-gl-js

[2018-01-31 22:06] #501 closed

[2018-01-31 22:12] alex3165 commented on #493
Released with tag `3.5.0` of [react-mapbox-gl](https://github.com/alex3165/react-mapbox-gl/releases/tag/v3.5.0)

[2018-01-31 22:13] alex3165 commented on #499
Released with tag `3.5.0` of [react-mapbox-gl](https://github.com/alex3165/react-mapbox-gl/releases/tag/v3.5.0)

[2018-01-31 22:13] alex3165 commented on #501
Released with tag `3.5.0` of [react-mapbox-gl](https://github.com/alex3165/react-mapbox-gl/releases/tag/v3.5.0)

[2018-02-01 00:20] nikkiczx commented on #510
Sorry, I figured it out.. =]

[2018-02-01 00:20] #510 closed

[2018-02-01 04:18] spybaby1 opened #512 "map blink when center of map change(movingMethod Not working)"
Hi!!! I'm try to update version of react-mapbox-gl from v2 to v3 but i found a problem when props that store center location was changed but every change of this state map is blink everytime that not apply with movingMethod props.

[2018-02-01 15:42] nontachaiwebdev commented on #512
I found this problem too.

[2018-02-02 07:34] cyrilchapon commented on #251
Hey. I'm lost, was a draggable marker created, or were you talking about draggable feature ?

[2018-02-02 08:18] cyrilchapon opened #513 "[Doc] server side routing broken"
This kind of link : http://alex3165.github.io/react-mapbox-gl/documentation

Is broken when coming from nowhere (no clicking on menu)

[2018-02-02 09:42] amahrt commented on #506
+1

[2018-02-02 10:40] SBRK commented on #496
Also getting this after updating from react-mapbox-gl 2.7 to 3.5 and mapbox-gl-js to 0.43

[2018-02-02 11:34] cyrilchapon commented on #288
Aww what a shame :(

So the only workaround I found is to define it in the style property

[2018-02-02 11:35] cyrilchapon commented on #288
In the same motion, it would be very valuable to be able to define a `<Map />` **without** a `style` property, and let it initialize from children

[2018-02-02 12:44] SBRK commented on #496
I don't have the problem with 0.44, and the rest seems to be working without problems

[2018-02-02 15:40] alex3165 commented on #251
Hey, we were talking about draggable feature

[2018-02-02 16:23] cyrilchapon opened #514 "Feature.onDragStart ?"
Is Feature.onDragStart observable in any way ?

Is there a workaround ?

Thanks :)

[2018-02-02 18:52] redbmk commented on #496
I was actually seeing this when running the demos in the `examples` folder. Upgrading the peer dependency to `0.44.0` fixed it though - do we know of any breaking changes from 0.43 to 0.44?

[2018-02-04 21:54] #496 closed

[2018-02-05 08:43] alex3165 commented on #512
Did you make sure you don't call the map factory in the `render` method of your react component: https://github.com/alex3165/react-mapbox-gl/blob/master/example/src/demos/londonCycle.tsx#L11

[2018-02-05 08:57] alex3165 commented on #514
Hey @cyrilchapon, I meant to work on it but I haven't found time to do it. I will close this issue in favour of https://github.com/alex3165/react-mapbox-gl/issues/412

[2018-02-05 08:57] #514 closed

[2018-02-05 09:07] cyrilchapon commented on #514
Oh sorry hadn't seen this one.

For our use case in here, it would be to highlight hovered features during drag time, if you want an idea :)

[2018-02-05 09:08] cyrilchapon commented on #412
@MadalenaGoncalves

Did you just give up on your feature or did you manage to find a workaround ? :)

[2018-02-05 09:09] cyrilchapon commented on #412
@alex3165 can you explain on `onDragEnd` strategy so I may have a chance to contribute on `onDragStart` ?

[2018-02-05 10:01] MadalenaGoncalves commented on #412
Hey @cyrilchapon, we decided to go with the workaround, which doesn't require this method at all. But as I said, it seems quite useful and it's good to have someone working on it

[2018-02-05 10:02] cyrilchapon commented on #412
Pushed something in #517

Need help there :)

[2018-02-05 10:37] cyrilchapon commented on #412
Expanding on this, maybe MouseEnter, MouseOut, and Drag (DragMove or something) could be useful ?

I just realized that, for example, I need a specific cursor over feature, and DragStart / DragEnd won't be enough to highlight hovered features.

[2018-02-05 13:58] alex3165 opened #520 "Upgrade to Typescript 2.7"

[2018-02-05 14:37] cyrilchapon opened #522 "Provide a way to build check hints (like travis) locally"
Please include in the build process any syntax hints checking, the same as travis.
This would lead to less timeloss

[2018-02-05 14:42] cyrilchapon commented on #522
Found some prettier stuff and something inside package.json

Needa document this in *contribution* section of README.md

[2018-02-05 17:29] codepreneur commented on #457
@benrudolph @alex3165 I am having same performance issues because I have to display complex things on the map and have to use html markers. Is there a way to setState on 'moveend' without tweaking the internals?

[2018-02-05 17:52] rotoglup opened #523 "README.md should have a link to http://alex3165.github.io/react-mapbox-gl/"
I did initially miss the link which is in the project description, and only followed the link to the API doc.

It would be helpful to have a clear link to this excellent introduction site.

I'm not sending a PR as I don't want to presume too much about the README format.

[2018-02-06 10:00] codepreneur commented on #457
@benrudolph @alex3165 also when I try to use Layer/Feature my map/react app keeps refreshing infinitely.

[2018-02-07 10:51] cyrilchapon opened #526 "Componentize ControlGroup and maybe improve Control"
I think we could create a `ControlGroup` component, with some props like accepting various props, that could wrap controls. Like so

[code]

[2018-02-07 11:13] dm261395 opened #527 "GeoJSON layer does not re-render on map style change"
I am attempting to have a map with GeoJSON layers with symbols that change colour on a change of the map style. The GeoJSON layers receive a GeoJSON feature collection whose feature properties contain the text/symbol colour. After the map style changes, the GeoJSON layers receive the correct updated GeoJSON with the new colour, however, visually, the text/symbols do not change and still have their

[2018-02-07 12:05] cyrilchapon commented on #526
Css and philosophy talking, we could have a basic flex grid with 4 corners, like so :

[code]

... over the map. There would be the "control-groups-container", then each ControlGroup (.control-group) would stack accordingly inside the corners

[2018-02-08 20:56] redbmk commented on #493
Odd - I'm still getting this error when using mapbox-gl `0.43.0` and react-mapbox-gl `3.5.0`. Same with `0.44.0` and `3.5.1`. I might be doing something a little differently than the examples. I'll see if I can tweak the them to reproduce this.

[2018-02-09 08:08] nikkiczx opened #529 "Map cannot fit within canvas with the given bounds, padding, and/or offset."
Does the warning

mean too far or too near? Cos it works when the two coordinates are very, very close, but when it's like a kilometer away, or even 500 meters away, it gives me this warning message.

[2018-02-09 18:07] redbmk commented on #288
@cyrilchapon I think maybe you're getting styles and sources mixed up. The style itself has links for the sources, and those sources are what you want to enter in as the `tileJsonSource` in `Source`. Instead of `tileJsonSource="mapbox://styles/user/yyyyyy"` it might look like `tileJsonSource="mapbox://user.zzzzzzzz"`. If you download the style json, you'll see the source urls in the `sources` prop

[2018-02-09 18:11] redbmk commented on #498
@alex3165 What if this were a change in `v4`? Since airbnb's eslint config is pretty popular and is on that tells you not to use strings for the `style` prop, what if we changed it so that `style` were the container style, and `mapStyle` were the style for the map?

That might be a bit confusing for anyone upgrading to v4 though, so maybe even just disable the `style` prop altogether and warn user

[2018-02-09 18:27] redbmk commented on #508
Also looks like it's specific to the London Cycle demo - if you switch to another demo before it finishes loading those work fine. Except the map is huge - maybe there should be a `max-height: 100vh` on the container. Not sure why it does that for Firefox and not Chrome.

[2018-02-09 18:41] redbmk commented on #493
It turns out I was seeing the bug when swapping out tileJSON sources. I opened PR #530 to fix it.

[2018-02-12 05:41] guptaprav commented on #428
Did you find any solution?

I have same issue when I upgrade to latest version of mapbox-gl, react-mapbox-gl and @mapbox/mapbox-gl-draw

New versions,
"mapbox-gl": "^0.41.0",
"react-mapbox-gl": "3.1.0",
"@mapbox/mapbox-gl-draw": "^1.0.4",
"@mapbox/mapbox-gl-draw-static-mode": "^1.0.1",

Previous version worked OK with following versions
"@mapbox/mapbox-gl-draw": "^0.18.1",
"mapbox-gl": "^0.37.0",

[2018-02-12 13:51] khollund commented on #511
Personally I am glad they are different and it feels like react-mapbox-gl has matured with mapbox and my own app and does everything I wanted it to do, something uber/react-map-gl isn't and doesn't want to from my impression. It's ok to do things differently too, as long as from the github intro page it's clear what it does and doesn't do or want to do.

[2018-02-12 16:21] alex3165 commented on #498
Ok, I would go for:
- `mapStyle`: for mapbox style
- `style`: for container style.

In v4 branch and explain this correctly in a breaking changes section for the v4 release.

PR against v4 branch welcome 👍

[2018-02-12 16:34] alex3165 opened #531 "Make map style optional + related demo"
Make map style optional and add a demo including a map using this [world.geo.json](https://github.com/johan/world.geo.json/blob/master/countries.geo.json) file to shape countries.

[2018-02-12 16:34] alex3165 commented on #288
I will close this issue as it is not clear to me what the issue with `react-mapbox-gl` exactly is. There is not example with many sources added in particular order but I would expect this to be feasible but explicitly mounting many `Source` components.

@cyrilchapon I raised an issue for style to be optional as I think it is a valid point, I came across this use case where I wanted to create a map

[2018-02-12 16:34] #288 closed

[2018-02-12 16:39] alex3165 commented on #508
Thanks for reporting the issue @Darkilen, I will have a look at this issue as soon as possible. Help is welcome

[2018-02-12 18:31] DvStephen commented on #57
This is pulling up some history I appreciate, but I can't follow the reasoning here since you've essentially made a constant expression by strictly comparing an array this will always be true that they do not match, regardless of the values within them.

Is there an original context for this change?

[2018-02-12 19:00] Wykks commented on #57
Everything is explained in the comment above by kitten; and still makes sense.

[2018-02-12 20:40] alex3165 commented on #14
Will try to get this done in v4

[2018-02-12 20:42] alex3165 commented on #529
This is a warning triggered by [mapbox-gl-js](https://github.com/mapbox/mapbox-gl-js), I would suggest you to raise an issue on their repository or ask on [Stackoverflow](https://stackoverflow.com/), I don't think it is related to react-mapbox-gl.

[2018-02-12 20:42] #529 closed

[2018-02-12 20:46] alex3165 commented on #527
Hey @dm261395, sorry for the late reply, this seems like a bug, it would be very helpful if you could reproduce the issue using [webpackbin template](https://www.webpackbin.com/bins/-L2MXLm-gCwvABQZfSnf).

[2018-02-12 21:06] alex3165 commented on #526
Hey @cyrilchapon, good idea although I would rather focus my time on making sure the core components of this library (`Layer`, `Source`, `GeoJSONLayer` and `Map`) are perfectly stable before working on such a component.

You can always build it and if you have something working well on your side, you can submit a PR and I will have a look and eventually introduce it in `react-mapbox-gl`.

I will c

[2018-02-12 21:06] #526 closed

[2018-02-12 21:11] alex3165 commented on #523
Thanks @rotoglup for the suggestion, I have added a link to the demos in the readme 👍 https://github.com/alex3165/react-mapbox-gl/commit/31af6fe80eb1125d4bc543c9a6c369b76f74fcf7

[2018-02-12 21:11] #523 closed

[2018-02-12 21:15] alex3165 commented on #522
Thanks @cyrilchapon for the suggestion, I have added some `pre-commit` and `pre-push` hooks:

- pre-commit: https://github.com/alex3165/react-mapbox-gl/blob/master/package.json#L18
- pre-push: https://github.com/alex3165/react-mapbox-gl/blob/master/package.json#L19

I think we can run lint in one of those 2 hooks, and improve the contribution section of the readme indeed. Keeping this issue open t

[2018-02-12 21:46] edv4rd0 opened #532 "Layer <Feature> onClick is very finicky over where you have to click"
I have the following layer which is fires a function to open a popup.

[code]

It takes multiple attempts to actually get the onClick event to fire. It seems like it's too precise over where the point is that I have to click.

[2018-02-13 05:32] cyrilchapon commented on #526
Sounds fair.

I'll see as I'm busy as hell 😂

Le 12 févr. 2018 à 22:06, Alexandre Rieux <notifications@github.com<mailto:notifications@github.com>> a écrit :

Closed #526<https://github.com/alex3165/react-mapbox-gl/issues/526>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/alex3165/react-mapbox-gl/issues/526#event-147036512

[2018-02-13 08:43] alex3165 commented on #532
Hey @edv4rd0 it depend on the SVG you are using as `icon-image` You should maybe increase the size of your SVG or make sure it has a wide clickable area.

[2018-02-13 08:43] #532 closed

[2018-02-13 08:44] alex3165 commented on #217
Merged into v4 branch

[2018-02-13 13:24] alex3165 opened #534 "[Doc] Update documentation to mention not to use factory in render fn"
It is wrong to call the `ReactMapboxglFactory` function in the render function of the parent component, it will cause the map to blink and the map to unnecessarily instantiate itself at every rendering. This problem already came in many issues, the last one I can think of is: https://github.com/alex3165/react-mapbox-gl/issues/512

[2018-02-13 13:25] alex3165 commented on #512
I will close this issue in favour of https://github.com/alex3165/react-mapbox-gl/issues/534

[2018-02-13 13:25] #512 closed

[2018-02-13 13:35] alex3165 commented on #470
I will close this issue, as I don't think this is something which should be solved in react-mapbox-gl. The philosophy behind `react-mapbox-gl` is to match `mapbox-gl-js` features and turn them into react friendly way.

[2018-02-13 13:35] #470 closed

[2018-02-13 21:49] alex3165 commented on #493
Published a fix from @redbmk in version `3.8.0`, enjoy! 👍

[2018-02-13 21:51] alex3165 commented on #412
`onDragStart` and `onDrag` events have been added to react-mapbox-gl version `3.8.0`, thanks very much @cyrilchapon for your help 👍

[2018-02-13 21:51] #412 closed

[2018-02-13 21:54] alex3165 opened #535 "Make demo website mobile friendly"

[2018-02-13 21:58] alex3165 commented on #497
Hey @Valid Could you confirm this is still happening with `react-mapbox-gl` version `3.8.0`, we did massive changes on the event logic around drag events for `Feature` component. In the meantime I opened an issue to improve the demo website to be mobile friendly so that it is easier to test things on mobile: https://github.com/alex3165/react-mapbox-gl/issues/535

[2018-02-14 03:02] spybaby1 commented on #512
Thank @alex3165, My problem was solved.

[2018-02-14 07:55] cyrilchapon commented on #511
Closed in favor of more followed discussion inside [official mapbox-gl.js repo](https://github.com/mapbox/mapbox-gl-js/issues/6090)

[2018-02-14 07:55] #511 closed

[2018-02-14 22:05] crunchex opened #536 "GeoJSONLayer data does not accept uploaded File object"
GeoJSONLayer data does not accept a File object uploaded from a file upload form input. I am using a vanilla React form input component of type "file" and can confirm this File object gets set into my component's state and then passed into the GeoJSONLayer as a data prop.

But from here, I get the error:
[code]

The exact same file works if I just import it using an ES6 import statement, so I'm no

[2018-02-14 22:43] vancetran opened #537 "Graphical bug when clicking zoom in or out button rapidly"
There's a graphical bug in the form of a blurry alphabet that appears on the map when rapidly clicking the zoom in or zoom out buttons.

<img width="1277" alt="screen shot 2018-02-14 at 2 38 21 pm" src="https://user-images.githubusercontent.com/7978/36232093-43d3bd7c-1195-11e8-90cd-958ee5d180af.png">

![screen shot 2018-02-14 at 2 38 38 pm](https://user-images.githubusercontent.com/7978/36232103-4

[2018-02-14 22:53] #536 closed

[2018-02-14 22:56] crunchex commented on #536
Was a little tricky, but I was correct in that there were a couple steps to get this to work:
[code]

[2018-02-15 01:02] gpbmike opened #538 "Support options.pitchWithRotate"
I would love to be able to turn off `options.pitchWithRotate` through the ReactMapboxGL factory parameters.

[2018-02-15 01:39] edv4rd0 opened #539 "Clicking on Feature to open a Popup only works properly the first time"
I originally thought this was the onClick being finicky, #532 . However, it appears to be something else. onClick works for the area of the image, but not all the time. I can click the feature once, onClick populates a state variable with the data to be loaded into the popup. The popup displays because the state variable is no longer null.

Clicking on the popup set the state variable to null and

[2018-02-15 09:49] alex3165 commented on #539
Hey @edv4rd0 , I tried a bit and managed to reproduce it, I will spend some time on it asap to understand if it is a mapbox-gl or react-mapbox-gl issue.

[2018-02-15 14:53] gercog1 opened #540 "There are no suggestions results after input."
I created my components like it was shown at https://github.com/alex3165/react-mapbox-gl/issues/123,

my Geocoder components looks like:

import { createElement, Component } from 'react';
import mapboxgl from 'mapbox-gl';
import PropTypes from 'prop-types';
import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
import * as MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';

mapboxgl.acces

[2018-02-15 22:30] edv4rd0 commented on #539
Thank you :-) I'm pretty impressed at how active you are on this project.

[2018-02-16 20:23] kirkjensen18 commented on #418
I have run into this problem as well, and I have figured out a workaround. You need to manually update the source data in the map instance by using the componentWillUpdate lifecycle method. First though, you'll need to store a reference to the map instance in your state using the onStyleLoad prop.
``
onStyleLoad = (map, e) => {
  this.setState( {map} );
}

componentWillUpdate(nextProps, nextState)

[2018-02-19 14:58] dariarse opened #541 "initialize GeoJSONLayer"
Hi guys! Forgive me if this question has been asked before. I have cheked the documentation and some issues but I could not figure out how to display a geojson layer.

I'm currently trying to display a geojson layer but I'm getting this error:
`Uncaught TypeError: Cannot read property 'addSource' of undefined
`
I've tried several things but I think the main issue is that I'm not defining well the

[2018-02-21 22:40] glorp47 opened #542 "Any way to differentiate the click-event when different layers are on rendered on top of each other?"
Is it just the layer that's rendered last is the one that the click event fires on?

[2018-02-22 02:11] oznekenzo commented on #445
^that wasn't much help as the link is broken.

[2018-02-26 08:43] Mathieu-R opened #543 "Disable map dragging"
Hello,

Is there any way to disable map dragging ?
I would like to draw areas on the map so I should disable dragging feature in that moment.

Thanks !

[2018-02-26 09:02] Wykks commented on #543
Hi!

Just set `dragPan` map prop to `false` :)

[2018-02-26 09:13] Mathieu-R commented on #543
I already tried and it didn't work :/

[2018-02-26 09:32] Wykks commented on #543
Oops indeed, I thought that was in map props.

[2018-02-26 09:47] Onset commented on #217
To whom it may concern. I'm using a workaround re-emitting wheel events on all markers. It is not bulletproof; it works only for some interactions (wheel events) and doesn't solve for example mouse and touch dragging.

[code]

[2018-02-26 09:48] kLaukkane commented on #485
I'm having the same issue. I have pinpointed it happening with mapbox-gl 0.44.0 (react-mapbox-gl version does not seem to matter) but not with mapbox-gl 0.43.0. I will try to replicate the problem using the boilerplate later this week.

To clarify, the symbolOnClick doesn't seem to be completely broken, but rather really inconsistent. If you click the symbol five times, you usually get the event,

[2018-02-26 10:35] Mathieu-R commented on #543
Found ! 😄
I can disable drag with the `disable()` method from dragPan property.

[code]

[2018-02-26 10:42] Wykks commented on #543
Yeah, you can always do it like that, but I think this should be in map props instead of factory in order to be able to do it the "react way".
I'll keep this open until it's done.

[2018-02-26 17:42] redbmk commented on #217
@Onset Does the `v4` branch work for you? There's a fix for this but it requires react 16, so it will be in the next major version.

[2018-02-27 09:05] Mathieu-R opened #544 ""Error: Input data is not a valid geojson object" when moving a polygon"
Hello,

I tried to move a polygon created with `<Layer><Feature /></Layer>`.
When I move the polygon I fall on this error :
![image](https://user-images.githubusercontent.com/16360664/36719541-9de05540-1ba5-11e8-9fc9-72dffba48c7a.png)

Here's the code :
[code]

Maybe I miss something ?

Thanks.

[2018-02-28 10:01] laiyiyi opened #545 "How do you get the coordinates of the click?"

[2018-02-28 11:08] #545 closed

[2018-02-28 11:10] laiyiyi opened #546 "hi, How do you get the coordinates of the click?"
![image](https://user-images.githubusercontent.com/12541388/36784554-cc759cf6-1cba-11e8-81a6-898d6dbe5588.png)
![image](https://user-images.githubusercontent.com/12541388/36784563-d3a107ea-1cba-11e8-90fe-21947a7d8979.png)

Nothing here...

![image](https://user-images.githubusercontent.com/12541388/36784605-fae9498e-1cba-11e8-80b3-4d8e6dd82c9e.png)

[2018-02-28 12:06] khollund commented on #546
Do you want to get the click on the marker or anywhere in the map? Looks like you are mixing two different things. You can just use onClick on the marker if you want the former.

[2018-02-28 17:52] dm261395 commented on #527
Hi @alex3165, thanks for getting back to me. Here is an example on CodeSandbox demonstrating the issue:

https://codesandbox.io/s/my5qp5w1m9

This example is based on your style-switch demo. On switching the style, a different GeoJSON object is passed to the GeoJSONLayer component. The light GeoJSON has cyan coloured circles, and the dark GeoJSON has black coloured circles. As you can see, the map

[2018-03-01 03:03] laiyiyi commented on #546
@khollund Yes，I want to get the coordinates of the click position。but，Use onClick can only get center coordinates,

[2018-03-01 08:35] khollund commented on #546
You can call an event on Map onClick, then in that use functionname(map,evt) and then log like:
`console.log('Map clicked!',evt.lngLat.lat,evt.lngLat.lng);`

Works anywhere in the map, and you can show features under the click using the same functionality.

[2018-03-01 14:36] SkylinR opened #547 "Loop render when trying to render <Layer>"
Hi, i need to render polygon and i'm doint it like that:
`
console.log("Display polygon");
let polygonPaint = MapboxGL.FillPaint = {
                        'fill-color': "#ff0000",
                        'fill-opacity': 0.3
}
<Layer key={"polygonKey"} type="fill" paint={polygonPaint}>
                            <Feature coordinates={
                                [[[-67.13734351262877, 45.137

[2018-03-02 10:08] laiyiyi commented on #546
OK，thank you

[2018-03-02 10:36] Wykks commented on #547
If you create `polygonPaint` in `render`, it will send a new ref to `Layer` in each call of render, and react-mapbox-gl will do extra work everytime.
Also make sure you're not instantiating the `Map` object inside `render`

[2018-03-02 10:58] SkylinR commented on #547
I've deal with it by using GeoJSONLayer :) thread can be closed

[2018-03-02 11:04] SkylinR commented on #547
**Wykks** but deleting polygonPaint didn't help.

[2018-03-02 16:55] ishiland opened #548 "Detect when raster layer has retrieved all tiles"
Is it possible to detect when a raster layer has finished retrieving all tiles?  My particular use case is to update the state when the raster layer is retrieving tiles and then again when it has finished.

here is my layer/source setup:
[code]

[2018-03-02 22:58] taystu commented on #200
Hi @mario-jerkovic I'm still getting this issue did you make any more changes to your webpack build? Also mind sharing your versions of react-mapbox-gl and webpack?

Thanks

[2018-03-03 19:57] Wykks commented on #200
@taystu It an known issue with `mapbox-gl` and `Uglify`.
You have a detailed explanation of the issue here: https://github.com/mapbox/mapbox-gl-js/issues/4359#issuecomment-303880888
And here: https://github.com/mishoo/UglifyJS2/issues/2520#issuecomment-347342508

And a correct way to solve it: https://github.com/angular/angular-cli/pull/7931#issuecomment-348032708

To sum it up, just set `typeofs

[2018-03-04 16:07] OliverJAsh opened #549 "Suggestion: document requirement for TypeScript @types packages"
When importing this package in a TypeScript file, TypeScript will read `pkg.typings` in order to pick up the typings for this package (via https://github.com/alex3165/react-mapbox-gl/blob/f1f5b97c5f4c400fe2e4e89ccaab9db02b8e8229/package.json#L6).

I immediately ran into these error messages:

[code]

This is because the typing dependencies were not installed. In turn, this is because they are defi

[2018-03-06 01:39] kdedakia commented on #548
I'm also attempting to do the same thing and am unable to figure out a good solution.
I've been trying to use mapbox's built in events but `map.areTilesLoaded()` is set to true before the raster tiles have actually been loaded and rendered.

[code]

Please let me know if you find a solution!

[2018-03-06 19:30] ScriptArtist opened #550 "Cluster marker disappear when close to window boundaries"
![screen shot 2018-03-06 at 9 20 31 pm](https://user-images.githubusercontent.com/30506483/37053535-13fa2302-2185-11e8-96ac-4c177a5635eb.png)
White box is a cluster marker. If I will move map 5px left, marker will be removed from dom.

Is there a way to remove the marker after it goes behind the screen?

[2018-03-07 01:07] benrudolph opened #551 "Compiling with typescript"
Have been trying to migrate my project over to typescript and have been banging my head against this error:

[code]
Any thoughts?

[2018-03-07 06:50] #551 closed

[2018-03-07 17:31] florianboudot opened #552 "Is it possible to combine <Layer paint> and click on <Feature> ?"
Hello !

I have this source
[code]

that I'm using for this layer
[code]

And this is working fine, my circles radius are connected to the property 'population' .

But I can't click on a point to display a popup. I need Feature component. So be it, I add all my Features  :

[code]

Click on Feature is not working unless I remove the sourceId in Layer :(
But if I do remove sourceId I am losing the

[2018-03-09 00:42] benrudolph opened #554 "Add transformRequest to ReactMap factory"
The `transformRequest` property allows you to manipulate the ajax request sent to the server. Would be great to make this option available. See: https://github.com/mapbox/mapbox-gl-js/pull/5021

[2018-03-11 09:46] ynahmany commented on #552
+1

[2018-03-12 14:14] Akshay-Choudhary opened #555 "ReactMapboxGl is not a function"
I am trying to use the react-mapbox-gl library using the ES5 way as I want to render it in IE11. Followed all steps as needed for ES5 but I get a ReactMapboxGl is not a function error on the UI everytime I use the ES5 code.

FYI: I have added the ReactMapboxGl function inside the render method. If that is what causing the issue, let me know where should I place this function in my React code.

[2018-03-12 19:16] Rob-ot commented on #555
Hey Akshay, I'm happy to provide assistance but I'm not sure what the issue is from your description. Is it possible for you to post the code?

[2018-03-12 19:30] Akshay-Choudhary commented on #555
Sorry I won't be able to post my code but I can describe my issue more clearly.

So I want to make my code compatible to work on IE11 so in order to have that I imported the ReactMapboxGl from the 'react-mapbox-gl' using the following syntax `const ReactMapboxGl = require("react-mapbox-gl");` instead of `import ReactMapboxGl from 'react-mapbox-gl'`and then used the Marker and ZoomControl class ins

[2018-03-12 19:47] Rob-ot commented on #555
Ah yeah. You need to use `.Map`, the `import` syntax has a "default" export but the `require` sytax does not, so you need to use `.Map`.

Glad you figured it out!

[2018-03-12 20:00] suyesh opened #556 "When adding a float as maxZoom for Cluster, its throwing error"
RangeError: Invalid array length
new SuperCluster
node_modules/supercluster/index.js:14
  11 |
  12 | function SuperCluster(options) {
  13 |     this.options = extend(Object.create(this.options), options);

  15 | }
  16 |
  17 | SuperCluster.prototype = {
View compiled
Function.supercluster [as default]
node_modules/supercluster/index.js:9
   6 | module.exports.default = supercluster;
   7 |

[2018-03-12 21:06] edv4rd0 commented on #539
@alex3165 is this a mapbox-gl or react-mapbox-gl issue?

[2018-03-13 09:07] benderlidze opened #557 "Prevent map zoomout/move on layer click/popup"
I have this simple code. When I zoom in and drag a map and then click on the poly to get the popup the popup apers but the map zooms out and move center to the initial values. How to disable this?
Should I update the state values? But what if I don't want to center the map on the popup?
Thanks.
[code]

[2018-03-13 13:29] Darkilen commented on #508
Hello, it's fix on firefox 60.0b2 on Ubuntu 16.04, thanks you.

[2018-03-13 13:29] #508 closed

[2018-03-14 15:15] dm261395 commented on #557
When you click the popup, another render of your component is triggered. Since you create the centre and zoom arrays in the render method, they have a new reference each render. Because the map will update its zoom/centre via props only for new references, the map detects new references and sets its zoom/centre to the values contained in the array.

If you want to set only the initial zoom/centre

[2018-03-14 21:39] hughlomas opened #561 "Disable automatic feature decluttering"
I have a Map with Layer and Feature to which I have added hundreds of 'markers' (as ReactMapboxGl.Feature).

Currently the library hides many of the markers that are displayed, it appears to automatically declutter them so that there are no overlaps.

I don't want this behavior, I want to see all of the markers at once.

How do I disable this decluttering?

![decluttering gif](https://user-images.

[2018-03-15 14:56] hughlomas commented on #561
Found the answer for anyone else looking:

adding `'icon-allow-overlap': true`
to the Layer layout property made it work as expected.

[code]

[2018-03-15 14:56] #561 closed

[2018-03-15 14:57] sheerun opened #562 "Feature: Allow for clicking on marker but pass-through for drag"
My use case I'm unable to implement:

My map has multiple markers that user is able to click for popup, but there are so many of them so if he/she tries to drag the map, the finger or cursor usually lads on one of markers. Ideally the click event on marker would cause popup to show, but drag event would pass-through to underlying map.

Is it possible with current implementation? I think this could

[2018-03-15 16:36] sheerun commented on #562
This issue seems to be related to: #217

[2018-03-15 16:42] sheerun commented on #217
@alex3165 would you mind to pre-release v4 on npm?

[2018-03-15 17:27] sheerun commented on #217
I compiled it myself and it seems to work even for Marker :)

[2018-03-15 17:52] redbmk commented on #217
Yeah, that was in response to #498.

[2018-03-15 18:09] sheerun commented on #217
Just one note: the onClick on Mapbox.Marker fires even if dragging took place. It would be probably better to fire onClick only if onDragStart didn't happen.

[2018-03-17 00:11] benrudolph commented on #554
addressed here: https://github.com/alex3165/react-mapbox-gl/pull/558

[2018-03-17 00:11] #554 closed

[2018-03-21 03:29] Ricardo-C-Oliveira commented on #552
+1

[2018-03-21 03:47] Ricardo-C-Oliveira opened #563 "Perform events on layers"
Hi! I have a simple question about how to perform certain events (click and hover) on the `<Layer />`  component. I want to do something similar to this: https://www.mapbox.com/mapbox-gl-js/example/query-similar-features/ Basically interact with the vector tile layer, altering its paint properties, get underlying data and so on. What would be best way to perform this? I see that the `<Layer />`  c

[2018-03-21 11:07] florianboudot commented on #552
I came to another solution without the Feature component and using the original mapbox javascript API.

[code]

There may be a better solution but I am sharing mine if it can help :)

[2018-03-21 13:03] khollund commented on #563
You can use the events on the Mapbox object to get features under the mouse pointer, doesn't matter if it's an included layer or data layer. You can filter the results if you want to do specific actions afterwards. You can look at the other events in the documentation.

`<Mapbox
    onClick={this._onMapClick}
....

_onMapClick = (map,evt) => {
        console.log('Map clicked!',evt.lngLat.lat,evt.

[2018-03-21 18:19] Daryn17 opened #564 "Layer type: fill no show polygon"
I have a problem does not show me the polygon layer
![captura](https://user-images.githubusercontent.com/7587317/37729213-fe530cac-2d01-11e8-9f77-e722706f99dd.PNG)

[2018-03-26 03:02] vfonic commented on #552
Here's another solution:

[code]

I extracted this from real code. I hope it's still usable.

[2018-03-26 17:10] hughlomas commented on #544
Having the same issue with almost exactly the same code. According to the examples it should work just fine.

[2018-03-28 13:02] omarkhatibco commented on #447
@alex3165
I have the same problem here.

you said :  make sure you don't call the map factory in the render function of your component.

what is the alternative when you have more than one Layer ?

[2018-03-29 13:20] LudovicRiiotLabs commented on #447
Hi @omarkhatibco
I'm not sure i understand what's your problem but you can import a child component including all layers in your Map component:
`
import YourLayers  from '/your/path'

<ReactMapBox
      style={"mapbox://styles/mapbox/basic-v9"}
      center={[0, 0]}
      zoom={[1]}

    <YourLayers />}
</ReactMapBox>`

In this way, you can use setState locally without influencing the ReactMapBox

[2018-03-29 14:48] sachinhd517 commented on #496
Uncaught TypeError: Cannot set property 'transition' of undefined

[2018-04-04 12:10] ishiland commented on #548
Looks like this has been an open issue for awhile now in mapbox/mapbox-gl-js#1715. I will track the progress there.

[2018-04-04 12:10] #548 closed

[2018-04-04 20:38] richessler commented on #28
@alex3165 any insight into @gurbraj comment? https://github.com/alex3165/react-mapbox-gl/issues/28#issuecomment-307996565

Every other layout works except `marker-11` & `marker-`5`. Seems odd

[2018-04-07 00:04] gpbmike opened #567 "<Cluster> continues to listen to mapbox events"
In `componentWillMount` `<Cluster>` begins listening to map `zoom` and `move` events. These event listeners are never removed on unmount. If you unmount the component and move the map you will see a `setState` error thrown in console.

https://github.com/alex3165/react-mapbox-gl/blob/master/src/cluster.tsx#L78-L89

**reduced test**
https://ov8xorkjnz.codesandbox.io/

**reduced test code**
https://

[2018-04-09 12:51] jussirantala opened #568 "Incorrect fitBoundsOptions typings"
fitBounds do support _pitch_ and _bearing_ even though those are not documented even in the mapbox api doc.

[2018-04-10 22:32] suyesh commented on #426
@alex3165 @4xDMG I was able to calculate radius. But for the data i am working with, viewport based polyon is better option for me. How do i get lat:lng of 4 corners of the viewport screen?

[2018-04-10 22:51] 4xDMG commented on #426
I think you can use mapbox gl-js's `map.getBounds()` method to get SW and NE lngLat of the viewport.

To get the remaining two corners you can just take the lng from SW and the lat from NE for the SE point and the opposite for the NW point.

[2018-04-12 07:28] zlk89 opened #569 "How to pass images to GeoJSONLayer"
`GeoJSONLayer` is amazing, but I don't know how to pass custom images to it.

RIght now I am using native api `map.addImage()`

[2018-04-12 07:36] awhenderson opened #570 "Mapboxgl already in use in an app"
I'm working with a complex website that loads the mapbox-gl library elsewhere, as well as react-mapbox-gl for some specific React based components and I want to avoid loading the library twice.  Can I setup react-mapbox-gl to use either the already loaded mapbox-gl library or even a global version of mapbox-gl?

[2018-04-12 11:08] dm261395 opened #571 "Incomplete Popup offset prop typing"
The offset prop to the react-mapbox-gl Popup component is incomplete. This is implemented in react-mapbox-gl as:

`    offset?: number | number[] | Point;
`

when in fact, according to [https://www.mapbox.com/mapbox-gl-js/api/#popup](url), it is possible to pass an object whose keys correspond to each popup anchor position (e.g. 'top', 'left', etc.) and whose values are the offset for that anchor

[2018-04-12 12:40] janbaykara opened #572 "How about react-map-gl's 'controlled viewport state' strategy?"
I've used react-mapbox-gl profitably for a while, and it's great.

However there are often issues with updating the viewport. React-map-gl (Uber) has a really robust strategy of being viewport-stateless. The viewport state is hosted by a component, and user interactions fire a callback that can be used to update the state.

I think this is a really powerful and simple strategy. It means that you c

[2018-04-12 15:14] suyesh commented on #426
@4xDMG THAT WORKED GREAT. THANKS.

Now how do i get the center of Polygon ? haha sorry

[2018-04-15 12:28] OliverJAsh commented on #549
In fact, this is the reason TypeScript recommending libraries specify type dependencies as normal dependencies, not development dependencies: https://github.com/Microsoft/types-publisher/issues/81

Would you accept a PR to make that change?

[2018-04-17 13:32] curran opened #575 "monumap.org is down"
Greetings,

The link to https://monumap.org/ in the README points to an apparently dead site.

Perhaps it makes sense to remove the link?

[2018-04-18 01:51] rainitesh opened #576 "GeoJSON clustering - Some circles are rendering black (not styled) and can't get the point count to display on top of the cluster"
That is my current code.
I am referring to this - https://www.mapbox.com/mapbox-gl-js/example/cluster/  and https://github.com/alex3165/react-mapbox-gl/issues/317

Somehow some of my circles are not getting styled and they just render black.
Also I can't get the count to render on top of the cluster.

[code]

[2018-04-22 00:38] vincentmvdm commented on #50
I am trying to attach a popup to a marker and was wondering if setPopup (which I think I need) was ever added!

[2018-04-23 01:38] hyperknot opened #577 "MobX integration best practices"
Is anyone using this library with MobX?

So far I'm having trouble how can I integrate with the [zoom] array for example. If I do

[code]
where `mapUIStore.zoom` is an `observable.array`, it doesn't work. By this I mean that
1. setting zoom to a new value -> works
2. scroll zooming the map to a different value
3. setting zoom to the same value -> doesn't work, as it's already set to the same value

[2018-04-23 06:56] arnaudambro commented on #536
Hi there,
I got the same error, but my config is less complex than yours : I just pass a props.mapBoxId (a string) to `MyMap` component, which renders a `<Map>` component from `react-mapbox-gl`.

        import React from 'react';
        import ReactMapboxGl from 'react-mapbox-gl';

        const Map = ReactMapboxGl({
          accessToken: `${process.env.REACT_APP_MAPBOX_ACCESS_TOKEN}`,

[2018-04-23 11:15] janbaykara commented on #572
For now I'm welding the two together. I use `react-map-gl`'s `<InteractiveMap> to handle camera state, and pass the mapbox `map` instance to `react-mapbox-gl` layer components through context, as it expects.

[code]

[2018-04-23 12:22] hyperknot opened #578 "Cannot build with yarn"
I'm trying to run `yarn build` and `yarn start` in the examples folder but none of them works.

1. Git clone master (or checkout 3.8.0 tag)
2. `yarn`, OK
3. `yarn build` terminates in:

[code]

And about a hundred or so occurrences afterwards. Ending with

[code]

If I go to examples and run `yarn; yarn start`, similar errors appear, ending with:

[code]

OS: macOS 10.13.4
node: v8.9.4
yarn: 1.6.0

[2018-04-23 18:17] danvk opened #579 ""draggable" breaks when you add onMouseMove handler to the map"
Great library @alex3165! I've been using the `draggable` prop of `Feature` to create some draggable markers on my map. Now I'd like to add a `onMouseMove` handler to top-level `ReactMapboxGl` component to add a hover effect. Unfortunately, setting the `onMouseMove` prop on the map prevents other features from being draggable, even if the handler does nothing.

Is it possible to have both? To keep

[2018-04-23 19:45] danvk opened #580 "Expose fadeDuration Map constructor option"
There's a secret `fadeDuration` parameter to the Map constructor: https://github.com/mapbox/mapbox-gl-js/issues/5716#issuecomment-352608279

I'd love to be able to set this with the React wrapper! Or, alternatively, to have a general `options` prop than can be used to pass options directly through to the `Map` constructor.

[2018-04-24 06:55] kLaukkane commented on #485
Finally got some time to dig into this. I'm not really sure if this is related to the OP, since I am using just normal layer and symbol features, but there's certainly going on with the onClick.

[Here's](https://github.com/kLaukkane/react-mapbox-gl-debug.git) my fork where the problem is reproduced on the boilerplate.

The problem seems to happen when using mapbox-gl 0.44.0 (so it might be unrela

[2018-04-24 14:50] tusbar opened #581 "Support GeoJSON bbox in fitBounds"
[`mapbox-gl` supports](https://github.com/mapbox/mapbox-gl-js/blob/master/src/geo/lng_lat_bounds.js#L29-L39) standard four-element bbox arrays (`[w, s, e, n]`). It would be nice if they were supported in this, so that we could just use `@turf/bbox` directly.

[2018-04-26 12:57] cherniavskii commented on #146
I think it can be resolved with dynamic imports now - see https://github.com/zeit/next.js#dynamic-import

[2018-04-30 15:47] elvisguillen opened #582 "Not able to access getCanvas instance member or map properly."
Thanks for the great work on the plugin. Everything is working fine up until I try to access map.getCanvas to change the pointer on mouse hover for a layer. I always get errors like "Cannot read property 'getCanvas' of undefined (map)" or "map.getCanvas is not a function". I'm not sure what I'm doing wrong but I think I'm not calling the instance map correctly on my hover function.  I see it's bei

[2018-05-01 02:28] drojkind commented on #576
Hi @rainitesh , a bit late hope you've resolved your issue.

Not sure why your styling isn't working as the code looks correct.

The count is not rendering because in your cluster_count layer you are passing in a variable for layer options and a string in layout. If you flip them around, your code will work.

[code]

[2018-05-01 10:52] cpannwitz commented on #347
Those links are dead.

[2018-05-01 14:55] ishiland commented on #582
Did you try to use the `onStyleLoad` prop of the Map component?

[code]

[2018-05-02 00:23] Drakota opened #585 "How would I go about adding directions using this React Component."
I'd like to give directions or at least use the optimization API to trace a route from coordinates. Any support for this?

[2018-05-07 14:04] loicpirez opened #586 "Build latest version into npm package"
Hello,

Is this possible to build latest revision of react-mapbox-gl into npm repository ?
I'd like to use the TransformRequest feature but I have to build it on my own and I don't want to rely on that.

Thank you.

[2018-05-07 21:38] abelhOrihuela opened #587 "dragRotate Not Work"
<Map className='map-home'
        onStyleLoad={this.handleLoadMap}
        onZoomEnd={this.handleZoom}
        dragRotate={false}
        touchZoomRotate={false} ...

dragRotate not work
"mapbox-gl": "^0.44.1",
"react-mapbox-gl": "^3.8.0",

[2018-05-12 12:50] jerlam06 commented on #123
Hi, nice solution. But, could someone explain this syntax:

` static contextTypes = {
    map: PropTypes.object.isRequired
  };`

Is this a old react way of using context ?

[2018-05-12 14:40] krisaoe commented on #123
@jerlam06 this stumped me when I came across it on another issue. It is the legacy context api, see [https://reactjs.org/docs/legacy-context.html](https://reactjs.org/docs/legacy-context.html)

[2018-05-13 01:33] systemlevel opened #589 "Using an RGB-encoded dem layer creates Error: sourceTypes[r.type] is not a constructor"
Trying to add a layer:

<img width="198" alt="screen shot 2018-05-12 at 6 28 24 pm" src="https://user-images.githubusercontent.com/894983/39962930-c263e29a-5612-11e8-89b5-8912e8cdebab.png">

which is an:

<img width="348" alt="screen shot 2018-05-12 at 6 32 08 pm" src="https://user-images.githubusercontent.com/894983/39962932-d59aa93e-5612-11e8-8b74-b42e238fa9b2.png">

Whenever this layer is added

[2018-05-13 07:43] jerlam06 opened #590 "How can I add persistant markers/icons onClick on the map ?"
I am really confused with all the documentation of Mapbox GL combined with the react-mapbox-gl doc.
I don't understand how can my users add custom markers/icons (what's the difference between markers and icons?) to their map, which will be stored in the database, then loaded from the db to their map when they come back.

Has it something to do with geoJSON ? What is a geoJSON used for?

Thanks in